$family1:PingFangSC-Medium;
$family2:DINAlternate-Bold;
.mask {
    position: fixed;
    top: 0px; left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    transition-duration: 400ms;
    z-index:9999;
  }
  .tips{
    position:fixed;
    left:33px;top:0;
    width:310px;
    top:50%;
    margin-top:-124px;
    padding:30px 20px 24px;
    box-sizing: border-box;
    background:#fff;
    border-radius:10px;
    z-index:9999;
    .title{
        height:22px;line-height:22px;
        font-size:16px;
        font-family:$family1;
        color:rgba(56,57,91,1);
        text-align: center;
    }
    .desc{
        font-size:14px;
        color:rgba(136,136,157,1);
        line-height:21px;
        margin:12px 0 20px;
    }
    .confirmBtn{
        width:270px;
        height:20px;line-height:20px;
        padding:10px 0;
        background:linear-gradient(140deg,rgba(102,107,232,1) 0%,rgba(70,24,170,1) 100%);
        box-shadow:0px 2px 10px 0px rgba(189,0,83,0.15);
        border-radius:23px;
        font-size:15px;
        color:rgba(255,255,255,1);
        text-align:center;
    }
    
  }
.tips2{
    position:fixed;
    left:33px;top:50%;
    width:310px;
    padding:30px 20px 24px;
    box-sizing: border-box;
    background:#fff;
    border-radius:10px;
    z-index:9999;
    text-align:center;
    img{
        width:18px;height:18px;
        position: absolute;
        top:16px;right:16px;
    }
    p{
        line-height:26px;
        font-size:16px;
        font-family:$family1;
        font-weight:500;
        color:rgba(56,57,91,1);
    }
    .btns{
        display: flex;
        align-items: center;
        margin-top:21px;
        justify-content: space-between;
        span{
            width:124px;
            height:40px;line-height:40px;
            background:rgba(239,239,252,1);
            border-radius:23px;
            color:rgba(101,103,229,1);
            font-size:15px;
        }
        span:nth-of-type(2){
            background:linear-gradient(114deg,rgba(96,100,224,1) 0%,rgba(30,31,181,1) 100%);
            border-radius:23px;
            color:#fff;
        }
    }
    .text{
        line-height:20px;
        font-size:14px;
        font-weight:400;
        color:rgba(136,136,157,1);
        margin-bottom:20px;
    }
    .text:nth-of-type(1){
        margin-top:12px;
    }
    .text:nth-of-type(3){
        margin-bottom:30px;
    }
}
  .saveBtn{
    position:fixed;
    width:100%;height:60px;
    padding-top:10px;
    bottom:0;left:0;
    background:#fff;
    padding-bottom: constant(safe-area-inset-bottom);
    padding-bottom: env(safe-area-inset-bottom);
    text-align: center;
    p{
        width:335px;
        height:40px;line-height:40px;
        margin:0 auto;
        background:linear-gradient(90deg,rgba(96,100,224,1) 0%,rgba(30,31,181,1) 100%);
        border-radius:20px;
        font-size:15px;
        color:rgba(255,255,255,1);
    }
}
.saveBtn2{
    p{
        border:1px solid #3C3FC9 !important;
        color:#3C3FC9 !important;
        background:#fff !important;
    }
}
.saveBtn3{
    p{
        background:rgba(195,195,205,1) !important;
        color:#fff !important;
    }
}

.picker {
    width: 100%;height: 100%;
    background-color: rgba($color: #000000, $alpha: 0.7);
    position: fixed;
    top: 0;left: 0;
    > div {
      width: 100%;
      position: fixed;
      bottom: 0;
      z-index: 1000;
      border-radius: 10px 10px 0 0;
      background-color: #fff;
      padding-bottom: constant(safe-area-inset-bottom);
      padding-bottom: env(safe-area-inset-bottom);
      .top{
        display:flex;
        align-items:center;
        justify-content: space-between;
        padding:16px 20px;
        position: relative;
        //border-bottom: 1px solid #E1E1E6;
        span{
            height:16px;line-height:16px; 
            font-size:16px;
            font-family:$family1;
            color:rgba(56,57,91,1);
        }
        img{
            width:16px;height:16px;
        }
    }
    .top::after {
        content: '';
        display: block;
        position: absolute;
        left: -50%;
        bottom: 0;
        width: 200%;
        height: 1px;
        background-color:#E1E1E6;
        transform: scale(0.5);
    }
    }
  }
.picker2{
    >div{
      //height:175px;
      .scrollBox{
          .ships{
              text-align: center;
              padding:20px;
              height:22px; line-height:22px;
              font-size:16px;
              color:#38395b;
              position: relative;
          }
          .ships::after {
            content: '';
            display: block;
            position: absolute;
            left: -50%;
            bottom: 0;
            width: 200%;
            height: 1px;
            background-color:#E1E1E6;
            transform: scale(0.5);
        }
      }
    }
}
.picker3{
  >div{
    height:496px;
    max-height:496px;
    .scrollBox{
        height:448px;
        overflow: scroll;
        .ships{
            display:flex;
            align-items:center;
            justify-content:space-between;
            border-bottom:1px solid #E1E1E6;
            padding:20px 20px;
            span{
                height:14px;line-height:14px;
                font-size:16px;
                color:rgba(56,57,91,1);
            }
            img{
                width:14px;height:10px;
            }
        }
    }
  }
}