.card {
  height: 184px;
  background: url(@static/group@2x.png) no-repeat;
  background-size:100% 100%; 
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  justify-content: center;
  padding: 15px;
  box-sizing: border-box;
  color: #fff;
}

.cardTitle {
  margin:5px 0 25px 0;
  font-size: 16PX;
}

.cardCon {
  display: -webkit-box;
  height: 70px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  justify-content: center;

  .name {
    font-size: 14PX;
  }

  .txt {
    font-size: 13PX;
  }

  .doctorInfo {
    flex: 1;
    padding: 0 0px 0 10px;

    p {
      line-height: 18PX;
      letter-spacing: 1px;
    }
  }

  .doctorTel {
    display: inline-block;
    width: 70px;
    height: 70px;
    background: #fff;
    border-radius: 50%;
    &::after{
        content: "";
        display: inline-block;
        width: 100%;
        height: 100%;
        background: url(@static/tel@2x.png) no-repeat center center;
        background-size: cover;
    }
  }
}

.avator {
  width: 70px;
  height: 70px;
}

.card2 {
  height: 104px;
  background: linear-gradient(to bottom right, #F86966, #F2628E, #F192D1);
  background-size: 100% 100%; 
  padding: 15px;
  box-sizing: border-box;
  color: #fff;
  border-radius: 10px;

  .card2Con {
    display: -webkit-box;
    height: 74px;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    justify-content: center;
  }

  .card2Avator {
    width: 40px;
    height: 40px;
  }

  .doctor2Info {
    flex: 1;
    padding: 0 0px 0 12px;

    p {
      line-height: 18PX;
      letter-spacing: 1px;
    }

    .name {
      font-size: 16PX;
      font-weight: 500;
    }

    .adders {
      font-size: 13PX;
      font-weight: 400;
    }
  }

  .doctorTel2 {
    display: inline-block;
    width: 114px;
    height: 34px;
    line-height: 34px;
    border-radius: 17px;
    border: 1px solid rgba(255, 255, 255, 0.6);
    color: #fff;
    text-align: center;

    span {
      font-size: 14PX;
      color: #fff;
      opacity: 1;
    }

    .mobileIcon {
      margin-left: 8px;
    }
  }
}
