.indexDetail{
  padding-bottom: env(safe-area-inset-bottom);
}
.indexCont, .findCont, .moreCont, .curveCont{
  padding-bottom: 50px;
  background: #f9f9f9;
  min-height: 100vh;
}

.indexCont{
  width: 100%;
  background: #f9f9f9;
  .title{
    font-size:22PX;
    font-family:PingFangSC-Medium,PingFang SC;
    font-weight:600;
    color:rgba(3,149,79,1);
    line-height:22PX;
    padding-left: 22px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .more{
      font-size:13PX;
      font-family:PingFangSC-Regular,PingFang SC;
      font-weight:400;
      color:rgba(25,156,93,1);
      line-height:15PX;
      display: flex;
      align-items: center;
      margin-right: 16px;
      img{
        width: 6px; 
        height: 10px;
        margin-left: 5px;
      }
    }
  }
  .nextDay{
    margin-top: 8px;
    font-size:15PX;
    font-family:PingFangSC-Regular,PingFang SC;
    font-weight:400;
    color:rgba(25,156,93,1);
    line-height:15PX;
    margin-bottom: 8px;
    padding-left: 22px;
  }
  .header{
    width: 100%;
    height: 267px;
    background: rgba(84, 80, 96, 1);
    padding: 17px 14px;
    box-sizing: border-box;
    .userCont{
      display: flex;
      align-items: center;
      .userPhoto{
        width: 38px;
        height: 38px;
        margin-right: 7px;
      }
      .userName{
        font-size:15PX;
        font-family:PingFangSC-Medium,PingFang SC;
        font-weight:600;
        color:rgba(255,255,255,1);
        line-height:normal;
      }
      .userChangeIcon{
        width: 10px;
        margin-left: 5px;
      }
    }
  }
  .lastRecord{
    width: 345px;
    height: 180px;
    margin: -195px auto 15px;
    background:linear-gradient(139deg,rgba(75,206,101,1) 0%,rgba(74,206,100,1) 5%,rgba(17,189,92,1) 100%);
    box-shadow:0px 2px 10px 0px rgba(0,127,66,0.33);
    border-radius:8px;
    display: flex;
    justify-content: space-between;
    .recordCont{
      margin: 22px 0 0 33px;
      .date{
        font-size:20PX;
        font-family:DINAlternate-Bold,DINAlternate;
        font-weight:bold;
        color:rgba(255,255,255,.8);
        line-height:36PX;
      }
      .num{
        font-size:50PX;
        font-family:DINAlternate-Bold,DINAlternate;
        font-weight:bold;
        color:rgba(255,255,255,1);
        line-height:50PX;
        margin-bottom: 17px;
        margin-top: 5px;
      }
      .curve{
        width: 136px;
        height:28px;
        border-radius:14px;
        border:0.5PX solid rgba(255,255,255,1);
        font-size:14PX;
        font-family:PingFangSC-Regular,PingFang SC;
        font-weight:400;
        color:rgba(255,255,255,1);
        line-height:22PX;   
        display: flex;
        align-items: center; 
        padding-left: 20px;
        box-sizing: border-box;
        .heightRight{
          width: 6px;
          height: 10px;
          margin-left: 5px;
        }
      }
    }
    .edit3{
      margin-top: 116px;
      margin-right: 13px;
      width: 54px;
      height: 54px;
    }
  }
  .targetCont{
    padding-top: 15px;
    background: #fff;
    padding-bottom: 42px;
    margin-bottom: 10px;
    .heightsCont{
      margin-left: 22px;
      margin-bottom: 15px;
      display: flex;
      align-items: center;
      .circle{
        width: 6px;
        height: 6px;
        border-radius: 100%;
        background: rgba(255, 206, 0, 1);
        display: block;
        margin-right: 2px;
      }
      .blue{
        background:rgba(27, 209, 204, 1);
      }
      .green{
        background: rgba(19, 189, 92, 1);
      }
      span{
        margin-right: 8px;
        font-size:11PX;
        font-family:PingFangSC-Regular,PingFang SC;
        font-weight:400;
        color:#808196;
        line-height:11PX;
      }
    }
    .heightsDetail{
      display: flex;
      align-items: center;
      margin-left: 15px;
      .item{
        text-align: center;
        width: 165px;
        height: 203px;
        background:rgba(255,255,255,1);
        border-radius:8px;
        box-shadow:0px 2px 20px 0px #ddd;
        margin-right: 15px;
        .greenCont{
          height: 139px;
          width: 165px;
          background:linear-gradient(139deg,rgba(75,206,101,1) 0%,rgba(74,206,100,1) 5%,rgba(17,189,92,1) 100%);
          border-radius:8px;
          position: relative;
          margin-bottom: 11px;
          .heightTitle{
            font-size:15PX;
            font-family:PingFangSC-Medium,PingFang SC;
            font-weight:600;
            color:rgba(255,255,255,1);
            line-height:20PX;
            margin-bottom: 7px;
            padding-top: 15px;
          }
          .heightNum{
            font-size:24PX;
            font-family:DINAlternate-Bold,DINAlternate;
            font-weight:bold;
            color:rgba(255,255,255,1);
            line-height:24PX;
          }
          .heightIcon{
            margin: 6px auto;
            width: 52px;
            height: 49px;
            display: block;
          }
          .heightThr{
            position: absolute;
            bottom: -11px;
            left: 50%;
            margin-left: -6px;
            width: 0;
            height: 0;
            border: 6px solid rgba(34, 194, 95, 1);
            border-color: rgba(34, 194, 95, 1) transparent transparent transparent ; 
          }
        }
        .heightDesc1{
          font-size:12PX;
          font-family:PingFangSC-Regular,PingFang SC;
          font-weight:400;
          color:rgba(233,110,110,1);
          line-height:20PX;          
        }
        .heightDesc2{
          font-size:18PX;
          font-family:PingFangSC-Semibold,PingFang SC;
          font-weight:600;
          color:rgba(233,110,110,1);
          line-height:20PX;       
        }
        .green{
          color: rgba(3, 149, 79, 1);
        }
      }
      .item:last-child{
        margin-right: 0;
      }
    }
    .heightDesc{
      overflow: hidden;
      width: 345px;
      margin: 15px auto 0;
      position: relative;
      box-sizing: border-box;
      padding: 26px 15px 0 13px;
      background:rgba(255,255,255,1);
      box-shadow:0px 2px 20px 0px #ddd;
      border-radius:8px;
      .heightTitleA{
        h1{
          margin: 0;
          padding-left: 79px;
          width: 207px;
          font-size:18PX;
          font-family:PingFangSC-Medium,PingFang SC;
          font-weight:600;
          color:rgba(56,57,91,1);
          line-height:25PX;
          margin-bottom: 7px;
        }
        p{
          width: 241px;
          text-align: left;
          font-size:15PX;
          font-family:PingFangSC-Regular,PingFang SC;
          font-weight:400;
          color:rgba(96,97,124,1);
          line-height:24PX;
          margin-left: 76px;
          margin-bottom: 16px;
          text-align: justify;
        }
      }
      .img1,.img2{
        position: absolute;
        top: 26px;
        left: 56px;
        width: 24px;
        height: 21px;
      }
      .img1{
        margin-right: 12px;
      }
      .img2{
        left: 306px;
      }
      .descDesc{
        width: 241px;
        text-align: left;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 5;
        -webkit-box-orient: vertical;
        overflow: hidden;
        overflow: hidden;
        font-size:15PX;
        font-family:PingFangSC-Regular,PingFang SC;
        font-weight:400;
        color:rgba(96,97,124,1);
        line-height:24PX;
        margin-left: 76px;
        margin-bottom: 16px;
        text-align: justify;
      }
      .biaoqing{
        position: absolute;
        width: 62px;
        top: 64px;
        left: 10px;
      }
    }
  }
  .appointmentCont, .goodsCont, .articleCont,.proposalCont{
    margin-bottom: 10px;
    padding-top: 40px;
    background: #fff;
    padding-bottom: 30px;
  }
  .proposalCont{
    .growthDetail1{
      font-size:15PX;
      font-family:PingFangSC-Regular,PingFang SC;
      font-weight:400;
      color:rgba(96,97,124,1);
      line-height:24PX;
      width:345px;
      text-align: justify;
      margin: 10px auto 12px;
    }
    .growthBtn1{
      margin: 0 auto;
      width:300px;
      height:44px;
      background:linear-gradient(139deg,rgba(75,206,101,1) 0%,rgba(74,206,100,1) 5%,rgba(17,189,92,1) 100%);
      box-shadow:0px 2px 8px 0px rgba(168,199,200,0.49);
      border-radius:22px;
      font-size:15PX;
      font-family:PingFangSC-Regular,PingFang SC;
      font-weight:400;
      color:rgba(255,255,255,1);
      line-height:normal;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .curveAgain{
      margin: 18px auto 0;
      width:345px;
      background:rgba(255,255,255,1);
      box-shadow:0px 2px 20px 0px rgba(221,221,221,1);
      border-radius:8px;
      padding-top: 23px;
      padding-bottom: 30px;
      .curveAgainImg{
        margin: 0 auto;
        width: 147px;
        display: block;
      }
      .curveAgainDesc{
        margin: 5px auto 0;
        width:246px;
        height:50px;
        font-size:15px;
        font-family:PingFangSC-Regular,PingFang SC;
        font-weight:400;
        color:rgba(136,136,157,1);
        line-height:25px; 
        text-align: center;       
      }
      .curveAgainBtn{
        margin: 30px auto 0;
        width:301px;
        height:44px;
        background:linear-gradient(139deg,rgba(75,206,101,1) 0%,rgba(74,206,100,1) 5%,rgba(17,189,92,1) 100%);
        box-shadow:0px 2px 8px 0px rgba(168,199,200,0.49);
        border-radius:22px;
        font-size:15px;
        font-family:PingFangSC-Regular,PingFang SC;
        font-weight:400;
        color:rgba(255,255,255,1);
        line-height:normal;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
  .imagesList{
    background: #fff;
    padding-bottom: 20px;
    img{
      display: block;
    }
    .buyBtn{
      width:315px;
      height:44px;
      background:rgba(255,226,54,1);
      border-radius:28px;
      margin: 10px auto 0;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size:18PX;
      font-family:PingFangSC-Regular,PingFang SC;
      font-weight:400;
      color:rgba(56,57,91,1);
      line-height:normal;
    }
  }
}
.findCont{
  .tabCont{
    padding-top: 44px;
  }
}
.moreCont{
  .linkManItem{
    margin: 20px auto 0;
    width:345px;
    padding: 21px 12px 0 28px;
    box-sizing: border-box;
    background:rgba(255,255,255,1);
    box-shadow:0px 2px 20px 0px rgba(221,221,221,1);
    border-radius:8px;
    .userCont{
      display: flex;
      justify-content: space-between;
      margin-bottom: 26px;
      .userDetail{
        display: flex;
        align-items: center;
        img{
          width: 50px;
          height: 50px;
          margin-right: 12px;
        }
        .name{
          font-size:18PX;
          font-family:PingFangSC-Semibold,PingFang SC;
          font-weight:600;
          color:rgba(56,57,91,1);
          line-height:20PX;
        }
        .birth{
          margin-top: 4px;
          font-size:14PX;
          font-family:PingFangSC-Regular,PingFang SC;
          font-weight:400;
          color:rgba(96,97,124,1);
          line-height:14PX;
        }
      }
      .edit{
        width: 16px;
        height: 14px;
      }
    }
    .list{
      .listItem{
        display: flex;
        align-items: center;
        height: 52px;
        border-top: 0.5PX solid rgba(56, 57, 91, .14);
        font-size:15PX;
        font-family:PingFangSC-Regular,PingFang SC;
        font-weight:400;
        color:rgba(96,97,124,1);
        line-height:15PX;
        display: flex;
        justify-content: space-between;
        .num{
          display: flex;
          align-items: center;
          font-size:15PX;
          font-family:PingFangSC-Regular,PingFang SC;
          font-weight:400;
          color:rgba(96,97,124,1);
          line-height:15PX;
          .lock{
            width: 12px;
            height: 16px;
          }
        }
        .right{
          color: rgba(56, 57, 91, .4);
          margin-right: 5px;
        }
      }
    }
  }
  .shareCont{
    padding: 0 12px 0 22px;
    box-sizing: border-box;
    width:345px;
    margin: 20px auto 0;
    background:rgba(255,255,255,1);
    box-shadow:0px 2px 20px 0px rgba(221,221,221,1);
    border-radius:8px;
    .item{
      display: flex;
      justify-content: space-between;
      height: 60px;
      align-items: center;
      .text{
        font-size:15PX;
        font-family:PingFangSC-Regular,PingFang SC;
        font-weight:400;
        color:rgba(96,97,124,1);
        line-height:15PX;
        display: flex;
        align-items: center;
        img{
          width: 21px;
          height: 20px;
          margin-right: 9px;
        }
      }
      .right{
        color: rgba(56, 57, 91, .4);
        margin-right: 5px;
      }
    }
  }
}
.curveCont{
  padding-top: 44px;
  .curveDetail{
    .curveDetail{
      min-height: 540px;
      background: rgba(0, 186, 89, 1);
      .curveTitle{
        font-size:26PX;
        position: relative;
        font-family:PingFangSC-Medium,PingFang SC;
        font-weight:600;
        color:rgba(255,255,255,1);
        line-height:37PX;
        text-align: center;
        padding-top: 30px;
        .moreRecords{
          position: absolute;
          right: 15px;
          top: 26px;
          width: 20px;
          height: 20px;
        }
      }
      .curveDate{
        font-size:16PX;
        font-family:PingFangSC-Regular,PingFang SC;
        font-weight:400;
        color:rgba(255,255,255,1);
        line-height:17PX;
        margin-bottom: 7px;  
        padding-left: 20px;
      }
      .curveDesc{
        margin-top: 16px;
        font-size:12PX;
        font-family:PingFangSC-Regular,PingFang SC;
        font-weight:400;
        color:rgba(255,255,255,.8);
        line-height:17PX;  
        padding: 0 20px 20px; 
      }
      .curveHeightKong{
        height: 30px;
        width: 100%;
      }
      .mouthCont{
        height: 26px;
        width: 375px;
        overflow: hidden;
        .overHidden{
          width: 375px;
          padding: 0 20px;
          height: 38px;
          overflow-x: auto;
          -webkit-overflow-scrolling: touch;
        }
        .mouthDiv{
          width: 1535px;
        }
        .mouthItem{
          width:72px;
          border-radius:4px;
          padding: 1px 0;
          font-size:13PX;
          font-family:SourceHanSansSC-Normal,SourceHanSansSC;
          font-weight:400;
          color: #fff;
          line-height:normal;
          border:0.5PX solid rgba(255,255,255,1);
          display: inline-block;
          text-align: center;
          margin-right: 10px;
        }
        .actived{
          background:rgba(255,255,255,1);
          color:rgba(3,159,78,1);
        }
      }
      .heightCont{
        margin-top: 15px;
        padding-left: 19px;
        display: flex;
        span{
          font-size:12PX;
          font-family:PingFangSC-Regular,PingFang SC;
          font-weight:400;
          color:rgba(255,255,255,.8);
          line-height:14PX;
          margin-right: 9px;
          display: flex;
          align-items: center;
        }
        .circle{
          width: 8px;
          height: 8px;
          border-radius: 100%;
          display: inline-block;
          margin-right: 3px;
        }
        .white{
          background: #fff;
        }
        .yellow{
          background: rgba(236, 255, 0, 1);
        }
        .blue{
          background: rgba(81, 244, 239, 1);
        }
      }
      .heightDesc{
        padding-top: 14px;
        padding-left: 18px;
        font-size:12PX;
        font-family:PingFangSC-Regular,PingFang SC;
        font-weight:400;
        color:rgba(255,255,255,.8);
        line-height:14PX;
      }
      .bombTitle{
        font-size:12PX;
        font-family:PingFangSC-Regular,PingFang SC;
        font-weight:400;
        color:rgba(255,255,255,.8);
        line-height:14PX;
        padding: 0 0 28px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
  .groupDetail{
    padding: 30px 32px 45px;
    .groupBtn{
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 20px auto 0;
      width:300px;
      height:44px;
      background:linear-gradient(139deg,rgba(75,206,101,1) 0%,rgba(74,206,100,1) 5%,rgba(17,189,92,1) 100%);
      box-shadow:0px 2px 8px 0px rgba(168,199,200,0.49);
      border-radius:22px;  
      font-size:15PX;
      font-family:PingFangSC-Regular,PingFang SC;
      font-weight:400;
      color:rgba(255,255,255,1);
      line-height:normal;         
    }
  }
  .expertDesc2{
    margin-top: 22px;
    .traitCont{
      .icon{
        width: 23px;
        height: 30px;
        margin-right: 10px;
      }
    }
    h3{
      font-size:16PX;
      font-family:PingFangSC-Regular,PingFang SC;
      font-weight:400;
      color:#38395b;
      line-height:16PX;
      margin-bottom: 5px;
      display: flex;
      align-items: center;
    }
    p{
      text-align: justify;
      font-size:14PX;
      font-family:PingFangSC-Regular,PingFang SC;
      font-weight:400;
      color:#60617c;
      line-height:21PX;
      margin-bottom: 32px;
      padding-left: 33px;
    }
  }
  .buyCont{
    width:335px;
    padding: 10px;
    box-sizing: border-box;
    background:rgba(255,255,255,1);
    box-shadow:0px 2px 8px 0px rgba(136,136,157,0.24);
    border-radius:10px;
    margin: 30px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .leftCont{
      width: 103px;
      height: 104px;
      overflow: hidden;
    }
    .rightCont{
      width: 192px;
      .buyTitle{
        font-size:16PX;
        font-family:PingFangSC-Medium,PingFang SC;
        font-weight:500;
        color:#38395b;
        line-height:25PX;
        margin-bottom: 3px;
      }
      .buyDesc{
        font-size:12PX;
        font-family:PingFangSC-Regular,PingFang SC;
        font-weight:400;
        color:#88889d;
        line-height:17PX;
        margin-bottom: 13px;
      }
      .buyBtn{
        width:127px;
        height:25px;
        background:linear-gradient(225deg,rgba(97,221,121,1) 0%,rgba(25,202,103,1) 100%);
        box-shadow:0px 2px 6px 0px rgba(83,180,118,0.55);
        border-radius:13px;
        font-size:14PX;
        font-family:PingFangSC-Regular,PingFang SC;
        font-weight:400;
        color:rgba(255,255,255,1);
        line-height:normal;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
}

.tabsList{
  width: 100%;
  display: flex;
  align-items: center;
  height: 44PX;
  position: fixed;
  top: 0;
  background: #fff;
  border-top: 2px solid rgba(224, 224, 224, 1);
  font-size:16PX;
  font-family:PingFangSC-Medium,PingFang SC;
  font-weight:600;
  color:#88889d;
  line-height:16PX;
  justify-content: center;
  z-index: 10000000;
  li{
    border-bottom: 5px solid transparent;
    display: inline-block;
    margin-right: 28px;
  }
  li:last-child{
    margin-right: 0;
  }
  li.actived{
    border-bottom: 5px solid rgba(255, 219, 0, .8);
    color:rgba(56,57,91,1);
  }
}
.bombCont{
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10000000;
  .detailContBomb{
    width:310px;
    box-sizing: border-box;
    background:rgba(255,255,255,1);
    border-radius:10px;
    padding: 16px 16px 42px 20px;
    font-size:14PX;
    font-family:PingFangSC-Regular,PingFang SC;
    font-weight:400;
    color:#60617c;
    line-height:20PX;
    .iconClose{
      text-align: right;
      img{
        width: 18px;
        height: 18px;
        display: inline-block;
      }
    }
    .title{
      font-size:16PX;
      font-family:PingFangSC-Medium,PingFang SC;
      font-weight:600;
      color:#38395b;
      line-height:22PX;
      margin: 6px 0 13px;
      text-align: center;
    }
    .desc{
      margin-bottom: 12px;
      width: 269px;
    }
    ul{
      line-height: 24PX;
      margin-bottom: 12px;
      li{
        display: flex;
        p{
          width: 255px;
        }
      }
      .circle{
        width: 6PX;
        height: 6PX;
        margin-top: 9PX;
        display: inline-block;
        margin-right: 8px;
        background: rgba(14, 185, 96, 1);
        border-radius: 50%;
      }
    }
    .desc1{
      font-size:14PX;
      font-family:PingFangSC-Regular,PingFang SC;
      font-weight:400;
      color:rgba(56,57,91,0.8);
    }
  }
}
.bombCont1{
  align-items: flex-start;
  justify-content: flex-end;
  .heightShare{
    width: 264px;
    margin: 10px 24px 0 0;
  }
}