
$family1:PingFangSC-Medium;
$family2:DINAlternate-Bold;
.padding20{
    padding:0 20px;
}
.padding15{
    padding:0 15px;
}
.top32{
    margin-top: 32px !important;
}
.header{
    width:100%;height:156px;
    background: url(@static/integration/headerBg.png) no-repeat;
    background-size: cover;
    position: relative;
    .acount{
        >span{
            display:flex;
            justify-content: center;
            padding:32px 0 4px;
            height: 20px;line-height: 20px;
            font-size: 14px;
            font-weight: 400;
            color: #FFFFFF;
        }
        p{
            display:flex;
            justify-content: center;
            img{
                width:14px;height:14px;
                margin-left:4px;
                margin-top:8px;
            }
            span{
                height: 48px;line-height: 48px;
                font-size: 42px;
                font-family:$family2;
                font-weight: bold;
                color: #FFFFFF;
            }
        }
    }
}
.banner{
    display: flex;
    align-items: center;
    padding:9px 14px;
    justify-content: space-between;
    background:linear-gradient(90deg,rgba(255,230,204,1) 0%,rgba(255,217,216,1) 100%);
    border-radius:8px;
    margin:20px 0 18px !important;
    img:nth-of-type(1){
        width:38px;height:26px;
    }
    img:nth-of-type(2){
        width:20px;height:20px;
    }
    span{
        flex:1;
        font-size:13px;
        font-family:$family1;
        font-weight:500;
        color:rgba(238,93,114,1);
        margin-left:10px;
    }
}
.borderBottom{
    border-bottom:1px solid #EFF1FB;
}
h5{
    height:24px;line-height:24px;
    font-size:17px;
    font-family:$family1;
    font-weight:500;
    color:rgba(56,57,91,1);
    margin:20px 0 14px;
}
.doRecharge{
    width:100%;height: auto;
    display:flex;
    flex-flow: row wrap;
    align-content: flex-start;
    .box{
        flex: 0 0 calc(33.33% - 8px);
        display:flex;
        align-items: baseline;
        justify-content: center;
        background:rgba(101,103,229,0.08);
        border-radius:6px;
        border:1px solid rgba(101,103,229,0.8);
        margin-bottom:18px;
        margin-right:11px;
        color:rgba(101,103,229,1);
        padding:23px 0;
        position: relative;
        box-sizing: border-box;
        p{
            height:27px;line-height:27px;
            font-size:23px;
            font-family:$family2;
            font-weight:bold;
        }
        span{
            font-size:12px;
        }
    }
    .box:nth-of-type(3n){
        margin-right:0;
    }
    .active{
        background:rgba(101,103,229,1);
        color:#fff;
    }
    .tip{
        width:62px;height:20px;
        display: flex;
        align-items: center;
        justify-content: center;
        background:linear-gradient(90deg,rgba(254,96,83,1) 0%,rgba(254,58,64,1) 100%);
        border-radius:10px 2px 11px 0px;
        font-size:12px;
        font-weight:400;
        color:rgba(255,255,255,1);
        position: absolute;
        left:-1px;top:-10px;
    }
}
.btn{
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top:17px;
}
.success{
    text-align: center;
    .title{
        display:flex;
        align-items: center;
        justify-content:center;
        margin:36px 0 26px;
        img{
            width:28px;height:28px;
            margin-right:10px;
        }
        span{
            font-size: 18px;
            font-family: PingFangSC-Regular, PingFang SC;
            font-weight: 400;
            color: #60617C;
        }
    }
    .account{
        display:flex;
        align-items: baseline;
        justify-content:center;
        label{
            width:17px;
            height:48px;line-height:48px;
            font-size:28px;
            font-family:PingFangSC-Semibold,PingFang SC;
            font-weight:600;
            color:rgba(101,103,229,1);
        }
        span{
            height:48px; line-height:48px;
            font-size:48px;
            font-family:$family2;
            font-weight:bold;
            color:rgba(101,103,229,1);
            margin-left:6px;
        }
    }
    p{
        height:18px; line-height:18px;   
        font-size:13px;
        font-weight:400;
        color: #88889D;
    }
    .oneBtn{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top:60px;
        p{
            width: 286px;height: 20px;
            line-height: 20px;
            background: linear-gradient(140deg, #666BE8 0%, #4618AA 100%);
            border-radius: 20px;
            padding:10px 0;
            border-radius: 20px;
            font-size: 14px;
            font-weight: 400;
            color: #FFFFFF;
        }
    }
    .twoBtn{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top:69px;
        p{
            width: 120px;height: 20px;
            line-height: 20px;
            padding:10px 0;
            border-radius: 20px;
            font-size: 14px;
            font-weight: 400;
            color: #FFFFFF;
        }
        .btn1{
            background: linear-gradient(313deg, #00D299 0%, #00ABBA 100%);
            margin-right:15px;
        }
        .btn2{
           background: linear-gradient(140deg, #666BE8 0%, #4618AA 100%);
        }
    }
}
.start{
    padding-top:36px;
    .input{
        position: relative;
        p{
            height:22px; line-height:22px;
            font-size:15px;
            font-weight:400;
            color:rgba(56,57,91,1);
        }
        input::-webkit-input-placeholder{
            color:rgba(175,176,189,1);
        }
        input{
            width:100%;
            height:22px;line-height:22px;
            font-size:17px;
            font-family:PingFangSC-Regular,PingFang SC;
            font-weight:400;
            border:none;
            outline:0;
            padding:18px 0 20px;
            color:#38395B;
        }
    }
    .input:nth-of-type(2){
        padding-top:36px;
    }
    .input::after{
        content: "  ";
        position: absolute;
        left: 0;bottom: 0;
        width: 100%;
        height: 1px;
        background-color: #E1E1E1;
        -webkit-transform: scaleY(.5);
        transform:scaleY(.5);
    }
    .error{
        height:18px; line-height:18px;
        font-size:13px;
        font-weight:400;
        color:rgba(255,93,96,1);
        margin-top:10px;
    }
    .tips{
        width: 100%;
        height: 18px; line-height: 18px;
        font-size: 13px;
        font-family: PingFangSC-Regular, PingFang SC;
        font-weight: 400;
        color: #88889D;
        margin-top:12px;
        text-align:center;
    }
}

.details{
    background:#fff;
    width:100%;
    background:rgba(255,255,255,1);
    z-index:99;
    margin-top:-20px;
    border-radius:20px 20px 0px 0px;
    .tabs{
        display:flex;
        align-items: center;
        text-align: center;
        width:100%;
        border-bottom:1px solid #EAEAEA;
        position: fixed;
        top: 0px;left: 0px;
        transition: background-color 0.8s;
        background-color: rgba(255, 255, 255, 1);
        z-index:99;
        >div{
            flex:1;
            height:25px; line-height:25px;
            padding:20px 0 11px;
            font-size:17px;
            color:rgba(136,136,157,1);
            position: relative;
        }
        .active{
            font-size:18px;
            font-family:$family1;
            color:rgba(56,57,91,1);
        }
        .borderBottom{
            width:16px;height: 4px;
            background: #3B37DE;
            border-radius: 100px;
            position: absolute;
            bottom:-2.5px;left:50%;
            margin-left:-8px;
        }
    }
    .listBox{
        padding:92px 20px 0;
    .records{
        padding:15px 0 16px;
        position: relative;
        div{
            display:flex;
            align-items: center;
            justify-content: space-between;
            .span1{
                height:15px; line-height: 15px;
                font-size: 15px;
                font-weight: 400;
                color: #38395B;
            }
            .span2{
                height: 14px; line-height: 14px;
                font-size: 16px;
                font-family:$family1;
                font-weight: 500;
                color: #60617C;
            }
            .span3{
                height:13px; line-height: 13px;
                font-size: 13px;
                font-weight: 400;
                color: #AFB0BD;
            }
            .span4{
                height:13px;line-height: 13px;
                font-size: 13px;
                font-weight: 400;
                color: #60617C;
            }
            .delease{
                color:#FF6E5A;
            }
        }

        div:nth-of-type(1){
            margin-bottom:10px;
        }
    }
    .records::after{
        content: "  ";
        position: absolute;
        left: 0;bottom: 0;
        width: 100%;
        height: 1px;
        background-color: #E1E1E1;
        -webkit-transform: scaleY(.5);
        transform:scaleY(.5);
    }
    .noRecords{
        text-align: center;
        margin-top:88px;
        img{
            width:155px;height:140px;
        }
        p{
            height:24px; line-height:24px;
            font-size:16px;
            color:#88889D;
            margin-top:20px;
        }
    }
    .cardNo{
        margin-top:10px;
        font-size: 13px;
        font-family: PingFangSC-Regular, PingFang SC;
        font-weight: 400;
        color: #60617c;
    }
}
.red{
    color:#FF6E5A !important;
}
}