$HighFontColor: #6567E5;
.pupopbox{
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(72,72,72,.68);
  z-index: 7;
  // display: none;
  touch-action: none;
  .pupcon{
    text-align: center;
    font-size: 16px;
    color: #38395B;
    line-height: 1.5;
    background: #fff;
    width: 82.67%;
    border-radius: 10px;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate3d(-50%,-50%,0);
    z-index: 9;
    padding: 20px 10px;
    box-sizing: border-box;
  }

  h3{
    font-size: 20px;
    color: #38395B;
    padding: 40px 0 20px;
    font-weight: 600;
  }



  .barListBox{
    max-height: 4.5rem;
    overflow: hidden;
    overflow-y: scroll;
    margin: 7px 0;
  }
  .boxMask{
    display: block;
    width: 100%;
    height: .6rem;
    background: #fff;
    opacity: .6;
    margin-top: -1rem;
  }

  .f16c{
    color: $HighFontColor;
  }
  p{
    line-height: 1.6;
    font-size: 16px;
    color: rgba(0,0,0,0.6);
  }
}
.btn {
  margin-top: 20px;
  height: 40px;
  line-height: 40px;
  border-radius: 22px;
  color: #fff;
  background: linear-gradient(135deg, rgba(102, 107, 232, 1) 0%, rgba(70, 24, 170, 1) 100%);
  box-shadow: 0 0 8px 0 #FCCDB1;
  font-size: 18px;
}
