.infoCont{
  padding: 50px 22px 100px 23px;
  .photo{
    display: block;
    margin: 0 auto 45px;
    width: 92px;
    height: 92px;
  }
  .sexCont{
    width:296px;
    height:55PX;
    background:rgba(239,239,239,1);
    border-radius:28px;
    display: flex;
    justify-content: flex-start;
    margin:0 auto 37px;
    .actived{
      display: flex;
      align-items: center;
      justify-content: center;
      width:147px;
      height:55PX;
      background:linear-gradient(225deg,rgba(97,221,121,1) 0%,rgba(25,202,103,1) 100%);
      border-radius:28px;
      font-weight:600;
      color:rgba(255,255,255,1);
    }
    span{
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size:18PX;
      font-family:PingFangSC-Regular,PingFang SC;
      font-weight:400;
      color:rgba(175,176,189,1);
      line-height:normal;
    }
  }
  .nameCont{
    width:296px;
    height:55PX;
    background:rgba(239,239,239,1);
    border-radius:28px;
    margin: 0 auto 33px;
    font-size:18PX;
    font-family:PingFangSC-Regular,PingFang SC;
    font-weight:400;
    color:rgba(175,176,189,1);
    line-height:normal;
    input{
      width: 100%;
      height: 100%;
      display: block;
      background: transparent;
      border: 0;
      text-align: center;
    }
  }
  .birthCont{
    width:296px;
    height:55PX;
    background:rgba(239,239,239,1);
    border-radius:28px;
    margin: 0 auto 62px;
    font-size:18PX;
    font-family:PingFangSC-Regular,PingFang SC;
    font-weight:400;
    color:rgba(175,176,189,1);
    line-height:normal;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    .down{
      width: 16px;
      height: 16px;
      position: absolute;
      top: 20px;
      right: 20px;
    }
  }
  .btn{
    width:296px;
    margin: 0 auto;
    height:55PX;
    background:linear-gradient(225deg,rgba(97,221,121,1) 0%,rgba(25,202,103,1) 100%);
    box-shadow:0px 4px 8px 0px rgba(48,159,88,0.43);
    border-radius:28px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size:18PX;
    font-family:PingFangSC-Medium,PingFang SC;
    font-weight:500;
    color:rgba(255,255,255,1);
    line-height:normal;
  }
}