.successCont{
  background:rgba(242,242,242,1);
  .topimg{
    display: block;
  }
  .stepsBox{
    padding: 64px 15px 34px;
    .bigTitle{
      font-size:28PX;
      font-family:PingFangSC-Medium;
      font-weight:500;
      color:rgba(56,57,91,1);
      line-height:36PX;
    }
    .title{
      font-size:24PX;
      font-family:PingFangSC-Regular;
      font-weight:400;
      color:rgba(56,57,91,1);
      line-height:24PX;
      padding-bottom: 8px;
      margin-bottom: 16px;
      .span{
        border-bottom: 1px solid rgba(56,57,91,1);
      }
    }
    .desc{
      width: 330px;
      text-align: justify;
      font-size:16PX;
      font-family:PingFangSC-Regular;
      font-weight:400;
      color:rgba(56,57,91,.5);
      line-height:25PX;
      margin-bottom: 16px;
    }
    .item{
      .first,.second,.third{
        display: block;
        width: 250px;
        height: 259px;
        margin: 0 auto 40px;
      }
      .second{
        width: 283px;
        height: 462px;
      }
      .third{
        width: 302px;
        height: 464px;
      }
    }
  }
  
}
.mb30{
  margin-bottom: 30px;
}
.btn{
  width:330px;
  height:44px;
  background:linear-gradient(225deg,rgba(97,221,121,1) 0%,rgba(25,202,103,1) 100%);
  box-shadow:0 4px 8px 0 rgba(48,159,88,0.43);
  border-radius:22px;
  font-size:18PX;
  font-family:PingFangSC-Medium;
  font-weight:500;
  color:rgba(255,255,255,1);
  display: flex;
  align-items: center;
  justify-content: center;
}