.flexdModal{
  position: fixed;
  left: 0;
  width:100%;
  height:100%;
  background:rgba(72,72,72,0.68);
  z-index:22;
}
.flexdModal1{
  top:390px;
}
.flexdModal2{
  top:535px;
}
.modal{
  position: fixed;
  z-index: 999;
  min-height:120px;
  left: 50%;
  top: 50%;
  width: 82.67%;
  background: #fff;
  border-radius: 10px;
  padding:35px 20px 20px;
  box-sizing: border-box;
  transform: translate3d(-50%, -50%, 0);

  h3{
    font-size: 16px;
    color:#38395BFF;
    padding-bottom: 15px;
    text-align: center;
    font-weight: 600;
  }

  p{
    line-height: 1.6;
    margin-bottom: 5px;
  }

  >div{
    max-height: 400px;
    overflow: hidden;
    overflow-y: auto;
  }
}


.close{
  position: absolute;
  right: 15px;
  top:14px;
  width: 20px;
  height: 20px;
 
}