.suggest_block{
  background:rgba(255,255,255,1);
  box-shadow:0px 2px 20px 0px rgba(221,221,221,1);
  border-radius:10px;
  padding: 30px 20px;
  margin-bottom: 16px !important;
}
.suggest_title_con{
  display: flex;
  align-items: center;
  justify-content: space-between;
  .suggest_title{
    font-size:18px;
    font-weight:600;
    color:rgba(56,57,91,1);
    line-height:20px;
    position: relative;
  }
  .suggest_rank_star{
    width: 64px;
  }
  
}
.suggest_desc{
  margin: 8px 0 14px !important; 
  font-size:14px;
  color:rgba(56,57,91,1);
  line-height:22px;
}
.suggest_menu_con_out{
  height: 240px;
  overflow: hidden;
}
.suggest_menu_con{
  // height: 160px;
  // overflow: hidden;
}
.suggest_menu{
  padding-left: 15px;
  position: relative;
  &+.suggest_menu{
    margin-top: 28px;
  }

  .dot{
    width: 6px;
    height: 6px;
    position: absolute;
    top: 8px;
    left: 0;
    border-radius: 100%;
    background: url(@static/report5/dot.png) no-repeat;
    background-size: 100%;
  }
  .suggest_txt_con{
    font-size:14px;
    font-weight:400;
    color:#88889D;
    line-height:22px;
    h5{
      font-weight:400;
      margin: 0;
      padding: 0;
      color: #38395B;
    }
  }
  // h1{
  //   font-size:14px;
  //   font-weight:500;
  //   color:rgba(56,57,91,1);
  //   line-height:16px;
  //   margin: 0;
  //   padding: 0;
  // }
  // p{
  //   font-size:14px;
  //   font-weight:400;
  //   color:rgba(96,97,124,1);
  //   line-height:24px;
  //   margin-top: 2px;
  // }
}
.suggest_more_btn{
  position: relative;
  z-index: 10;
  margin-top: -50px;
  background: linear-gradient(180deg,rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
  &.active{
    background: none;
  }
  .suggest_more{
    text-align: center;
    padding-top: 60px;
  }
  .btn{
    background:#F0F1FB;
    border-radius:12px;
    line-height: 23px;
    padding: 0 12px;
    font-size:12px;
    font-weight:400;
    color:rgba(101,103,229,1);
    display: inline-block;
    div{
      width: 10px;
      display: inline-block;
      vertical-align: middle;
      margin-left: 4px;
      transition: all 0.6s;
      img{
        width: 100%;
      }
      &.active{
        transform: rotate(-180deg);
  
      }
    }
  }
  span{
    display: inline-block;
    vertical-align: middle;
  }
}
