$v: 1vw/3.75;
.highlightList {
    position: relative;
    border-top-left-radius: 16 * $v;
    border-top-right-radius: 16 * $v;
    top: -20 * $v;
    background-color: #f9f9f9;
    overflow: hidden;
    color: #38395b;
}
.reportList {
    background-color: #fff;
    padding: 20 * $v 20 * $v 0;
    margin-bottom: 10 * $v;
    > div:nth-of-type(1) {
        font-size: 20 * $v;
        line-height: 20 * $v;
        font-weight: bold;
        padding: 10 * $v 0;
        display: flex;
        align-items: center;
        margin-bottom: 14px;
        > span {
            width: 3 * $v;
            height: 20 * $v;
            border-radius: 1.5 * $v;
            margin-right: 8 * $v;
        }
    }
}
.reportEntry {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 0;
    position: relative;
    &::before {
        content: "";
        height: 1px;
        background-color: #e0e0e0;
        position: absolute;
        width: 100%;
        top: 0;
    }
    > div {
        > p:nth-of-type(1) {
            font-size: 16 * $v;
            line-height: 16 * $v;
            margin-bottom: 8px;
        }
        > p:nth-of-type(2) {
            font-size: 14 * $v;
            line-height: 14 * $v;
            color: #88889d;
        }
    }
    > img {
        width: 5px;
        height: 10px;
        margin-right: 12px;
    }
}
