.bg_color {
  width: 100%;
  height: 300px;
  background: linear-gradient(
    180deg,
    rgba(200, 245, 237, 1) 0%,
    rgba(225, 251, 242, 1) 50%,
    rgba(255, 255, 255, 1) 100%
  );
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 5;
}

.title_txt {
  position: relative;
  img {
    width: 20px;
    margin-right: 6px;
    position: absolute;
    top: 0;
    left: 0;
  }
  .title_con {
    padding-left: 26px;
  }
  h1 {
    font-size: 20px;
    font-weight: 600;
    color: rgba(56, 57, 91, 1);
    line-height: 24px;
    margin: 0;
    padding: 0;
  }
  p {
    font-size: 12px;
    font-weight: 400;
    color: rgba(56, 57, 91, 1);
    line-height: 15px;
    margin-top: 4px;
  }
}

.report_panel {
  padding: 0 15px;
  position: relative;
  z-index: 10;
}
.report_chart {
  padding-top: 20px;
}
.report_block {
  margin-top: 17px;
  background: rgba(255, 255, 255, 1);
  box-shadow: 0px 2px 20px 0px rgba(221, 221, 221, 1);
  border-radius: 10px;
  padding: 16px 0 36px;
  margin-bottom: 36px !important;
}
.report_tips {
  padding: 0 20px;
  display: flex;
  align-items: center;
  img {
    width: 12px;
  }
  h1 {
    font-size: 12px;
    font-weight: 400;
    color: rgba(136, 136, 157, 1);
    line-height: 14px;
    margin: 0;
    margin-left: 2px;
  }
}
.report_suggest_block {
  margin-top: 20px;
}
.report_change {
  font-size: 13px;
  font-weight: 400;
  color: rgba(96, 97, 124, 1);
  line-height: 18px;
  margin-bottom: 38px !important;

  &.disabled {
    display: none;
  }
  span {
    color: #6567e5;
  }
}
.report_program {
  .report_program_list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 20px;
    padding-bottom: 20px;
  }
}

// echarts
.echart_content {
  width: 100%;
}
.echart_content_con {
  width: 100%;
  height: 250px;
  position: relative;
}
.echart_radar {
  width: 100%;
  height: 250px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.echart_line_con {
  padding: 0 33px;
  position: relative;
  margin-top: 16px;
  margin-bottom: 25px !important;
  .echart_line + .echart_line {
    margin-top: 20px;
  }
}
.echart_para {
  // margin-top: 25px;
  padding: 0 42px;
  font-size: 14px;
  font-weight: 400;
  color: rgba(136, 136, 157, 1);
  line-height: 22px;
  position: relative;
  span + span:before {
    content: "、";
    display: inline-block;
  }
  .echart_para_con {
    position: relative;
    z-index: 5;
  }
  .dotLeft {
    width: 16px;
    position: absolute;
    left: 22px;
    top: 0;
    img {
      width: 100%;
    }
  }
  .dotRight {
    width: 16px;
    position: absolute;
    right: 22px;
    bottom: 0;
    img {
      width: 100%;
      transform: rotate(-180deg);
    }
  }
}
// .lineTwo{
//     position: relative;
//     &::before{
//         content:"";
//         display: block;
//         width: 10px;
//         height: 10px;
//         background: #fff;
//         transform: skew(135deg);
//         position: absolute;
//         left: -5px;
//         top: 0;
//         bottom: 0;
//     }
//     &::after{
//         content:"";
//         display: block;
//         width: 10px;
//         height: 10px;
//         background: #fff;
//         transform: skew(135deg);
//         position: absolute;
//         right: -5px;
//         top: 0;
//         bottom: 0;
//     }
// }

.tips_modal {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: 100;
  .modal_box {
    width: 310px;
    height: auto;
    background: rgba(255, 255, 255, 1);
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .modal_close {
    width: 12px;
    height: 12px;
    position: absolute;
    top: 16px;
    right: 16px;
    background: url("@static/report5/close.png") no-repeat 50% 50%;
    background-size: 100%;
  }
  .modal_content {
    padding: 28px 26px 33px;
    h1 {
      font-size: 16px;
      font-weight: 400;
      color: rgba(96, 97, 124, 1);
      line-height: 16px;
      margin: 0;
    }
    .modal_para_con {
      margin-top: 8px;
      p {
        font-size: 14px;
        font-weight: 400;
        color: rgba(96, 97, 124, 1);
        line-height: 20px;
        & + p {
          margin-top: 10px;
        }
      }
    }
  }
}
.page div {
  margin-bottom: none !important;
}
