@import "../../reportHome.scss";
$v: 1vw/3.75;
.recommendations {
    @include card();
    margin-top: 16 * $v;
    padding: 15 * $v;
    color: #38395b;
    margin-bottom: 16 * $v !important;
    > h2 {
        font-size: 20 * $v;
        padding-bottom: 15 * $v;
        font-weight: bold;
        border-bottom: 0.5 * $v solid rgba($color: #979797, $alpha: 0.3);
    }
    > h3 {
        margin-top: 20 * $v;
        font-size: 15 * $v;
        font-weight: bold;
        line-height: 26 * $v;
    }
    > p {
        margin-top: 8 * $v;
        font-size: 15 * $v;
        line-height: 26 * $v;
        color: #60617c;
    }
}

@mixin hnCtrl {
    > h1,
    h2,
    h3,
    h4,
    h5 {
        margin-top: 17 * $v;
        font-size: 15 * $v;
        line-height: 24 * $v;
        color: #38395b;
        font-weight: bold;
    }
    p {
        margin-top: 8 * $v;
        font-size: 15 * $v;
        line-height: 26 * $v;
        color: #60617c;
        text-align: justify; //文本两端对齐
        text-align-last: left; //最后一行左对齐
        word-break: normal;
        word-wrap: break-word;
    }
    a {
        font-size: 15 * $v;
        line-height: 21 * $v;
        color: #6567e5;
        font-weight: bold;
    }
    ol {
        > li {
            margin-left: 23 * $v;
            list-style-type: decimal;
            font-size: 15 * $v;
            line-height: 26 * $v;
            color: #60617c;
        }
    }
    ul {
        > li {
            margin-left: 19 * $v;
            list-style-type: disc;
            font-size: 15 * $v;
            line-height: 26 * $v;
            color: #60617c;
        }
    }
    img {
        width: 100%;
        border-radius: 6 * $v;
    }
    > table {
        font-size: 12 * $v;
        line-height: 20 * $v;
        border-collapse: separate !important;
        margin: 0 auto;
        color: #38395b;
        > tbody {
            tr {
                th {
                    text-align: center;
                    padding: 14 * $v !important;
                    border-right: 1 * $v solid rgba($color: #471bac, $alpha: 0.04);
                    border-bottom: 1 * $v solid rgba($color: #471bac, $alpha: 0.04);
                }
                td {
                    padding: 10 * $v !important;
                    border-right: 1 * $v solid rgba($color: #471bac, $alpha: 0.04);
                    border-bottom: 1 * $v solid rgba($color: #471bac, $alpha: 0.04);
                }
                > th:first-child {
                    border-left: 1 * $v solid rgba($color: #471bac, $alpha: 0.04);
                }
                > td:first-child {
                    border-left: 1 * $v solid rgba($color: #471bac, $alpha: 0.04);
                }
            }
            > tr:nth-child(2n-1) {
                background-color: #f9f9f9;
            }
            > tr:first-child {
                font-size: 14 * $v;
                line-height: 20 * $v;
                font-weight: bold;
                background-color: #f3f5fc;
                > th {
                    border-top: 1 * $v solid rgba($color: #471bac, $alpha: 0.04);
                }
                > th:first-child {
                    border-top-left-radius: 4 * $v;
                }
                > th:last-child {
                    border-top-right-radius: 4 * $v;
                }
            }
            > tr:last-child {
                > td:first-child {
                    border-bottom-left-radius: 4 * $v;
                }
                > td:last-child {
                    border-bottom-right-radius: 4 * $v;
                }
            }
        }
    }
}
.normalText {
    font-size: 15 * $v;
    line-height: 26 * $v;
    color: #60617c;
    @include hnCtrl();
}
