$HighFontColor: #38395B;
$grayColor: rgba(56, 57, 91, 0.6);
$grayPlace: rgba(56, 57, 91, 0.4);
.noscroll{
  overflow: hidden;
  box-sizing: border-box;
  height: 100vh;
}

.yunchan{
  min-height: 100vh;
  font-size: 14px;
  padding-bottom: 70px;
  background-color: linear-gradient(to top, #FEE9EC, #FFD4D8);
}

.yunchan{
  .topbox{
    color:#fff;
    width: 100%;
    margin-bottom: -42px;
    padding: 10px 0 0 10px;
    position: absolute;
    box-sizing: border-box;
    z-index: 5;

    >div{
      position: absolute;
      height: 26px;
      display: flex;
      align-items: center;
      top:10px;
      span{
        padding:0 8px 0 4px;
        font-size: 13px;
      }
    }

    .toLook{
      left: 10px;
      background: rgba(254, 110, 115, 0.46);
      border-radius: 20px;
      >img{
        width: 29px;
      }
    }

    .toHaveShare{
      right: 0;
      background: rgba(254, 110, 115, 1);
      border-radius: 20px 0 0 20px;
      padding-left: 7px;
      >img{
        width: 15px;
      }
    }
  }
  
  .bannerbox{
    position: relative;
    margin-bottom: -22px;
    z-index: 2;

    >span{
      position: absolute;
      width: 50%;
      height: 10%;
      top:32%;
      left:55%;
    }
  }
}
.editstep{
  padding-top: 21px;
  position: relative;
  .getnum{
    position: absolute;
    top:9px;
    left:191px;
    // top:13%;
    // left:46%;
    font-size:46px;
    font-weight:900;
    color:#fff;
    text-shadow:2px 4px 6px #FB5F6E;
    font-style:italic;
  }
}
.edittop{
  box-sizing: border-box;
  padding-bottom: 70px;
  overflow-y:scroll;
  -webkit-overflow-scrolling:touch;
  ::-webkit-scrollbar {
      display: none;
  }
  
  .formtit{
    height: 30px;
    background: url(@static/three.png) no-repeat;
    background-size: 100% auto;
    position: relative;
    z-index: 3;
  }
  .inforBox{
    // background: url(@static/yunchan/yuncbg.png) no-repeat;
    // background-size: cover;
    // transform: translateY(-72px);
    padding-left:16px;
    padding-right: 16px;
    
   
    .dateBox{
      padding: 40px 20px 20px 20px;
      background-color: #fff;
      border-bottom: 3px dotted #FFD5D1;
    }
    .upImgBox{
      padding: 40px 20px 20px 20px;
      background-color: #fff;
      border-bottom: 3px dotted #FFD5D1;
    }
    .editaddress{
      padding: 40px 20px 20px 20px;
      background-color: #fff;
      border-bottom: 3px dotted #FFDDD5;
      // background-color: #FFDDD5;
      :global{
        .from{
          padding: 0;
        }
      }
    }

    h3{
      font-size: 16px;
      color: $HighFontColor;
      line-height: 1.8;
      background: #fff;
      z-index: 7;
      font-weight: 600;
    }
  
    .upBox{
      padding: 10px 0;
      padding-bottom: 0!important;
  
      img{
        width: 60px;
      }
    }
  }

}

.shippingFrom{
  box-sizing: border-box;
  // padding-top: 15px;
  border-radius: 4px;
  background: url(@static/yunchan/yuncbg.png) no-repeat;
  background-size: cover;
  transform: translateY(-30px);

  .formbox{
    box-sizing: border-box;
    // background: url(@static/yunchan/yuncbg.png) no-repeat;
    // background-size: cover;
    transform: translateY(-44px);
    // margin-top: -12px;
    padding:0px 19px 0 19px;
   
    
    :global{ 
      .white{
        box-shadow:none;
      }
      .from{
        margin-top: 0!important;
        border-top:2px dotted #FFDDD5;
        border-radius: 0;
        padding:20px;
      }
    }
  }
}

.sucBox{
   min-height: 100vh;
   background:#FEFAF4;
   position: relative;
 
   .sucbottom{
    line-height: 49px;
    font-size: 16px;
    width: 100%;
    height: 49px;
    color: #fff;
    background: #F25E5E;
   }

  .suctxt{
    width: 100%;
    position: absolute;
    top:60%;
    left:0;
    color:#FF5464;
    font-size: 20px;
    text-align: center;
  }
  .babybg{
    position: absolute;
    top:403px;
    left:0;
    padding-left: 26px;
    padding-right: 26px;
    .babyback{
      display: inline-block;
      border-radius: 10px;
      box-shadow: 0 0 10px rgba(0,0,0, .14);
    }
  }
 
  .sucImg{
    position: relative;
    .sucbg{
       display: block;
       z-index: 1000;
       position: absolute;
       top:0;
       left:0;
    } 
    .sucinner{
      position: absolute;
      top:15px;
      
      img{
        width: 102px;
      }
    }

    .ruleTit{
      color:#FB5F6E;
      padding: 5px 0 0 10px;
      display: flex;
      align-items : center; 

      img{
        width: 14px;
        margin-right: .1rem;
      }
      span{
        font-size: 12px;
      }
    }
   
  }

  h2{
    color:$HighFontColor;
    font-size: 20px;
    font-weight: 700;
    margin: 20px 10px 30px;
  }

  .btnbox{
    padding-top: 30px;
    padding-bottom: 10px;
    
    button{
      background: linear-gradient(to left, #6064E0, #1E1FB5);
      box-shadow: none;
    }
  }
}

.btnbox{
  padding: 20px;
  button{
    height: 40px;
    width: 100%;
    line-height: 40px;
    background: linear-gradient(to top, #FF939D, #FB5F6E);
    box-shadow: 1px 3px 2px #E94555;
    color: #fff;
    text-align: center;
    border-radius: 20px;
    font-size: 16px;
    &.whiteBtn{
      background: #fff;
      color: #5457D8;
      border: 1px solid #5457D8;
      box-shadow: none;
    }
  }
}

.sharebox,
.adbox{
  height: 100%;
  width: 100%;
  background: rgba(0,0,0, .7);
  position: fixed;
  top:0;
  left:0;
  z-index: 301;

  >img{
    width: 75%;
    position: absolute;
    right: 7%;
    top: 2%;
  }
}

.adbox{
  .adcon{
    position: absolute;
    width: 270px;
    height: 375px;
    left:50%;
    top:50%;
    transform: translate3d(-50%, -50%, 0);

    >img{
      width: 100%;
      border-radius: 10px;
    }

    span{
      position: absolute;
      width: 30px;
      height: 30px;
      background: url(@static/close-invite.png) no-repeat;
      background-size: cover;
      right: -3%;
      top: -75px;

      &::after{
        content: '';
        display: block;
        width: 1px;
        height: 40px;
        background: rgba(255,255,255, .6);
        position: absolute;
        left: 50%;
        top: 31px;
      }
    }
  }
}

.editOrder{
  min-height: 100vh;
  font-size: 14px;
  background:  #ffddd5 url(@static/alreadybg.png) no-repeat 0 0;
  background-size: 100% auto;
  padding-top: 100px;
  z-index: 50;
  position: relative;

  .foot {
    line-height: 49px;
    border-radius: 0;
    font-size: 15px;
    width: 100%;
    height: 49px;
    // height: 100%;
    color: #fff;
    background: #F25E5E;
    display: block;
  }
}

.fccc{
  color: $grayColor;
  font-size: 12px;
}

.foot {
  line-height: 49px;
  border-radius: 0;
  font-size: 15px;
  z-index: 200;
  width: 100%;
  height: 49px;
  color: #fff;
  background: #F25E5E;
}

button[disabled]{
  background: #ABACB9!important;
  color:#fff;
}

:global{
  .am-picker{
    margin: 30px 0 20px;
    height: 100px;
    box-sizing: border-box;
    overflow: hidden;
  }

  .am-picker-col-item-selected{
    font-size: 20px;
    color: #FB5F6E;
    font-weight: 600;
  }

  .am-image-picker-list .am-image-picker-upload-btn{
    border: none;
    border-radius: 4px;
    background: #FFF6F7;
  }

  .am-image-picker-list .am-image-picker-upload-btn:after, 
  .am-image-picker-list .am-image-picker-upload-btn:before{
    background-color:#FB5F6E;
  }

  .from{
    padding: 0 15px;

    li{
      height: 50px;
      line-height: 50px;
    }
  }
 .src-routes-mkt-mkt-sucBox .src-routes-mkt-mkt-sucbottom {
    border-radius: 0!important;
  }
  .am-button-primary:before{
    border:none!important;
  }

    
  // .foot{
  //   position:absolute;
  //   left: 0;
  //   bottom: 0;
  //   right:0;
  // }
}
.getBox{
  min-height: 100vh;
  background:#FEFAF4;
  position: relative;
  box-sizing: border-box;
  
  .getImg{
     position: relative;
    //  padding-left: 22px;
    //  padding-right: 22px;
     .getbutton{
       position: absolute;
        // left: 5%;
        top:65%;
        // width: 100%;
        .buttoninner{
          margin-left: 20px;
          margin-right: 20px;
          .getbuttona{
            background:rgba(242,94,94,1);
            box-shadow:0px 2px 10px 0px rgba(190,79,79,0.5);
            border-radius:22px;
            display: block;
            width: 335px;
          }
        }
      }
      .babybgImg{
        // border-radius: 10px;
        position: absolute;
        bottom:56px;
        width: 100%;
        .growplan{
          margin-left: 20px;
          margin-right: 20px;
          .babybackImg{
            border-radius: 10px;
          }
        }
      }
  }
}
.helptBox{
  min-height: 100vh;
  background:linear-gradient(180deg,rgba(255,187,195,1) 0%,rgba(255,221,213,1) 100%);
  box-sizing: border-box;
  position: relative;
  .flexContainer{
    position: absolute!important;
    top:12px;
    left:12px;
    .sucRight{
      .sucrInner{
        width: 140px!important;
        height: 32px!important;
        position: relative;
        .sucCircle{
          border-radius:100px 100px 100px 100px;
          height: 26px;
          background-color: rgba(254, 110, 115,0.46);
          margin-top: 3px;
          line-height: 28px;
        }
        .sucImg{
          width: 32px;
          display: block;
          position: absolute;
          top:-3px;
          left:0;
          z-index: 100;
         }
        .sucText{
          display: inline-block;
          color:#FFFFFF;
          font-size: 12px;
          float: right;
          margin-right:22px;
        }
      }
    }
  }
  
  .helpImg{
      img{
        display: block;
      }
  }
  .helpbottom{
   width: 100%;
   position: fixed;
   bottom:0;
   .helpbottoma{
    background:rgba(242,94,94,1);
    // box-shadow:0px 2px 10px 0px rgba(190,79,79,0.5);
    display: block;
    border-radius: 0;

   }
  }
}
.firstImg{
  position: relative;
  .endtime{
    position: absolute;
    top:405px;
    // left:118px;
    left:8%;
    // width: 100%;
    // left:55px;
    .timealert{
      width:138px;
      height:26px;
      background:rgba(248,101,109,1);
      transform: skewX(-6deg);
      -webkit-transform: skewX(-6deg);   /* for Chrome || Safari */
      -moz-transform: skewX(-6deg);      /* for Firefox */
       -ms-transform: skewX(-6deg);     /* for IE */
      -o-transform: skewX(-6deg);      
      box-shadow:1px 2px 3px 0px rgba(251,95,110,1),0px 1px 0px 0px rgba(255,221,235,1);
      border:1px solid rgba(255,224,140,1);
      border-radius: 4px;
      font-size:14px;
      font-weight:400;
      color:rgba(255,255,255,1);
      line-height: 26px;
      text-align: center;
      margin: 0 auto;
      margin-bottom: 10px;
      margin-left: 90px;
    }
    .timenum{
      margin-left: 55px;
      margin-right: 55px;
      display: -webkit-box;      
      display: -moz-box;         
      display: -ms-flexbox;     
      display: -webkit-flex;    
      display: flex;
      margin-left: 0;
      margin-right: 0;
      // justify-content: space-around;
      .numlist{
        width:25px;
        height:25px;
        background:linear-gradient(180deg,rgba(255,123,123,1) 0%,rgba(238,70,70,1) 100%);
        border-radius:6px;
        font-size:14px;
        font-weight:400;
        color:rgba(255,255,255,1);
        line-height:25px;
        text-align: center;
        margin-left: 10px;
      }
      .dotted{
        // margin-right: 5px;
        margin-left: 5px;
        .dotteda{
          display: block;
          width:2px;
          height:2px;
          background:rgba(255,255,255,1);
          border:1px solid rgba(255,255,255,1);
          border-radius: 50%;
          margin-top: 6px;
        }
      }
    }
  }
}
