$family1:PingFangSC-Medium;
$family2:DINAlternate-Bold;
.lottery{
    width:100%;height:100vh;
    background: url(@static/integration/lotteryBg2.png) no-repeat;
    background-size: 100% 100%;
    position: relative;
    .details{
        .detailsBg{
            width:375px;height:451px;
            position: absolute;
            left:0;top:0;
            background: url(@static/integration/lottery2.png) no-repeat;
            background-size: cover;
            .my{
              position: absolute;
              left:124px;top:16px;
              font-size:11px;
              line-height:16px;
              color:#fff;
          }
            .points{
              position: absolute;
              top:12px;right:116px;
              font-size:20px;
              line-height:24px;
              color:#fff;
              font-family: $family2;
          }
              .circle{
                width:68px;height:68px;
                box-sizing: border-box;
                background: url(@static/integration_circle.png) no-repeat;
                background-size:cover;
                text-align:center;
                span{
                    display: block;
                    font-size:13.8px;
                    font-family:$family1;
                    color:rgba(167,90,0,1);
                    line-height:16px;
                }
                span:nth-of-type(1){
                  margin-top:16px;
                }
            }
          .rules{
              position: absolute;
              left:25px;bottom:50px;
          }
          .things{
              position: absolute;
              right:25px;bottom:50px;
          }
          .lotteryBtn{
            width:187px;height:68px;
            position: absolute;
            left:93px;bottom:50px;
            box-sizing: border-box;
            padding:15px 0 21px 0;
            background: url(@static/integration_lotteryBtn.png) no-repeat;
            background-size:cover;
            text-align:center;
            span{
                height:32px;line-height:32px;
                font-size:23px;
                color:rgba(255,255,255,1);
                text-shadow:0px 2px 1px rgba(135,5,5,0.22);
            }
        }
        .lotteryBtn2{
          background: url(@static/integration/tomorrowBtn.png) no-repeat;
            background-size:cover;
        }
        .bottom{
          position: absolute;
          left:0;bottom:36px;
          width:100%;height:16px;
          font-size:12px;
          color:rgba(255,255,255,1);
          line-height:16px;
          text-align:center;
      }
        }
    }
    .lottery3{
      width:315px;height:129px;
      position: absolute;
      top:0;left:50%;
      margin-left:-157.5px;
      z-index:99;
    }
    .lottery4{
      width:374.6px;height:266px;
      position: absolute;
      top:-64px;left:50%;
      margin-left:-187.3px;
    }
}
//九宫格
.prize__container {
    position: absolute;
    top:56px;left:58px;
    width: 259px;
    border-radius: 5px;
  }
  .container__area {
    width: 100%;
    box-sizing: border-box;
    position: relative;
  }
  .begin__btn {
    width: 85px;
    height: 73px;line-height:20px;
    padding:14px;
    box-sizing: border-box;
    font-size:14px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    text-align: center;
    left: calc(50% - 42.5px);
    top: calc(50% - 36.5px);
  }
  .area__row {
    width: 100%;
    margin-bottom: 2px !important;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .row__item {
    width: 85px;
    height: 73px;
    background: #fff;
    position: relative;
    text-align: center;
    img{
        //width:85px;height:46px;
        max-width:85px;
        max-height:46px;
        margin-top:5px;
    }
    .count1{
        position:absolute;
        top:14px;left:0;
        width:100%;height:28px;
        font-size:24px;
        font-family:$family2;
        color:rgba(255,250,236,1);
        line-height:28px;
        text-shadow:0px 2px 4px rgba(247,181,0,1);
    }
    .count2{
        position:absolute;
        top:16px;left:0;
        width:100%;height:22px;
        span{
          display:inline-block;
          line-height:22px;
          font-size:16px;
          font-family:$family1;
          color:rgba(255,255,255,1);
        }
        label{
          width:5px;height:11px;
          font-size:8px;
          font-family:$family1;
          color:rgba(255,255,255,1);
          line-height:11px;
        }
    }
    p{
        height:16px;line-height:16px;
        font-size:12px;
        font-weight:400;
        color:rgba(70,19,255,1);
    }
  }
  .area__row1 .row__item:nth-of-type(1){
    border-radius:24px 10px 10px 10px;
  }
  .area__row1 .row__item:nth-of-type(2),.area__row2 .row__item,.area__row3 .row__item:nth-of-type(2){
    border-radius:10px
  }
  .area__row1 .row__item:nth-of-type(3){
    border-radius:10px 24px 10px 10px;
  }
  .area__row3 .row__item:nth-of-type(1){
    border-radius:10px 10px 10px 24px;
  }
  .area__row3 .row__item:nth-of-type(3){
    border-radius:10px 10px 24px 10px;
  }
  .active,.white {
    background:#fff;
  }
  .animation{
    background:#fff;
    animation: myAnimation 1s alternate forwards;
  }
  @keyframes myAnimation {
    0% {
      opacity: 0
    }
    25%{
      opacity: 1
    }
    50% {
      opacity:0
    }
    100%{
      opacity:1
    }
  }
  .grey{
    background:rgba(255,255,255,1);
    opacity:0.6;
  }
  .register{
    position: absolute;
    width:140px;height:60px;
    box-sizing:border-box;
    top:50%;left:50%;
    margin:-30px 0 0 -70px;
    padding:10px 15px;
    color:#fff;
    background:rgba(58,58,58,.9);
    text-align:center;
    border-radius:3px;
    font-size:14px;
    line-height:20px;
  }
  .statement{
    position: absolute;
    left:0;bottom:140px;
    width:100%;
    font-size:11px;
    color:rgba(255,255,255,1);
    text-align:center;
  }