.flexd{
  position: fixed;
  left: 0;
  top:0;
  height: auto;
  width: 100%;
  min-height: 100vh;
  background:rgba(0,0,0,.7);
  padding:0 24px;
	box-sizing: border-box;
  z-index: 9999;
  overflow-y: auto;
  .repotCard{
    height: auto;
    padding-bottom: 10px;
    margin-top: 50px;
  }
  > p,>span{
    display: block;
    height: 40px;
    color:#fff;
  }
  > p{
    text-align: right;
    line-height: 45px;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    padding-right: 55px;
    box-sizing: border-box;
    z-index: 99;
    span{
      position: absolute;
      right: 10px;
      top: 0;
      font-size: 24px;
    }
  }
  > span{
    line-height: 40px;
    text-align: center;
  }
  > div{
    height:  calc(100vh);
  }
}

.repotCard{
  padding: 0 32px;
  > div{
    height: auto;
  }
}
.pd{
  padding:0;
}

.userInfo{
  height: 75px;
  padding:16px;
  box-sizing: border-box;
  overflow: hidden;
  width:  calc(100vw - 84px);
  margin:0 auto;
  position: relative;
  > div{
    float: left;
    height: 75px;
    line-height: 40px;
  }
  img{
    width: 45px;
    height: 45px;
    background: #fff;
    border-radius: 50%;
    margin-right: 12px;
    float: left;
  }
  span{
    display: inline-block;
    padding-top: 4px;
  }
  p,span{
    font-size:14px;
    font-family:PingFangSC-Semibold;
    font-weight:600;
    color:#fff;
  }
  p{
    padding-top: 8px;
  }
}

.reportBox{
  width: 100%;
  //height:  calc(100% - 85px);
  background: #fff;
  border-radius: 40px 40px 30px 30px;
    position: relative;
    > div{
      background: none;
    }
}
.maskBg{
  position: absolute;
  width:140%;
  height: 100vh;
  left: -24px;
  background: rgba(0,0,0,0.3);
}

