$family1:PingFangSC-Medium;
$family2:DINAlternate-Bold;
.top30{
    margin-top:30px !important;
}
.mine{
    padding:31px 20px 30px;
    box-sizing: border-box;
    //height:100vh;
    .info{
        display: flex;
        justify-content: space-between;
        align-items: center;
        .left{
            display: flex;
            align-items:top;
            img{
                width:52px;height:52px;
                margin-right:14px;
            }
            p{
                height:25px;
                font-size:18px;
                font-family:$family1;
                color:rgba(56,57,91,1);
                margin-bottom:4px;
            }
            span{
                height:24px;line-height:24px;
                padding:0 10px;
                background:#f3f3fd;
                border-radius:3px;
                font-size:12px;
                font-family:$family1;
                color:#6567E5;
            }
        }
        .right{
            height:20px; line-height:20px;
            font-size:14px;
            padding-right:15px;
            color:rgba(175,176,189,1);
            background: url(@static/healthRecords/more.png) no-repeat right;
            background-size:5.76px 10.56px;
        }
    }
    .authorization{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin:30px 0;
        //border-bottom:0.5px solid #E1E1E6;
        position: relative;
        padding-bottom:16px;
        p{
            height:21px;line-height:21px;
            font-size:14px;
            color:rgba(56,57,91,1);
        }
        div{
            display: flex;
            align-items: center;
            background: url(@static/healthRecords/more.png) no-repeat right;
            background-size:5.76px 10.56px;
            padding-right:15px;
            img{
                width:28px;height:28px;
                margin-left:10px;
            }
            .more{
                margin-left:-12px;
            }
            span{
                height:20px;line-height:20px;
                font-size:14px;
                color:rgba(136,136,157,1);
                margin-left:10px;
            }
        }
        .noMore{
            background:none;
        }
        .noAuthList{
            height:21px;line-height:21px;
            font-size:15px;
            color:rgba(136,136,157,1);
        }
    }
    .authorization ::before{
        content: "";
        position: absolute;
        top: -50%;
        bottom: -50%;
        left: -50%;
        right: -50%;
        width: 200%;
        height: 200%;
        -webkit-transform: scale(0.5);
        transform: scale(0.5);
        border-bottom: solid 1px #E1E1E6;
        box-sizing:border-box;
    }
    .title{
        display: flex;
        align-items: center;
        justify-content: space-between;
        p{
            display: flex;
            align-items: center;
            line-height:22px;
            font-size:18px;
            font-family:$family1;
            color:rgba(56,57,91,1);
        }
    }
    .goRight{
        line-height:20px;
        font-size:14px;
        color:rgba(136,136,157,1);
        background: url(@static/healthRecords/more.png) no-repeat right;
        background-size:5.76px 10.56px;
        padding-right:15px;
    }
    .square{
        margin-top:16px;
        background:rgba(255,255,255,1);
        box-shadow:0px 2px 10px 0px rgba(0,0,0,0.1);
        border-radius:10px;
    }
    .highOrLow{
        padding:15px 10px 6px 15px;
        max-height:60px;
        // background: url(@static/healthRecords/more.png) no-repeat right 10px bottom 30px; 
        // background-size:5.76px 10.56px;
        p{
            display: flex;
            align-items:top;
            label{
                display:inline-block;
                width:34px;
                height:16px;line-height:16px;
                padding:1px 0;
                border-radius:10px 2px 10px 2px;
                font-size:11px;
                text-align: center;
            }
            .label1{
                background:rgba(229,250,244,1);
                color:rgba(20,158,150,1);
            }
            .label2{
                background:rgba(255,240,238,1);
                color:rgba(255,109,89,1);
            }
            span{
                flex:1;
                height:32px;
                line-height:16px;   
                font-size:12px;
                color:rgba(56,57,91,1);
                margin-left:10px;
            }
        }
        p:nth-of-type(1){
           // margin-bottom:10px;
        }
    }
    .reports{
        padding:10px 0;
        >div{
            display:flex;
            justify-content:space-between;
            align-items: center;
            padding:11px 18px 11px 12px;
            .left{
                display:flex;
                justify-content:space-between;
                align-items: center;
                position: relative;
                img{
                    width:58px;height:58px;
                    margin-right:14px;
                    border-radius:4px;
                }
                label{
                    position: absolute;
                    top:-4px;left:52px;
                    width:8px;height:8px;
                    background:rgba(255,74,31,1);
                    border:2px solid rgba(255,255,255,1);
                    border-radius:50%;
                }
                h5{
                    width:135px;
                    font-size:15px;
                    font-family:$family1;
                    color:rgba(56,57,91,1);
                    overflow: hidden;
                    text-overflow:ellipsis;
                    white-space: nowrap;
                }
                p{
                    line-height:12px;
                    font-size:12px;
                    color:rgba(136,136,157,1);
                    margin-top:8px;
                }
            }
           
        }
    }
    .noReport{
        text-align:center;
        padding-top:35px;
        img{
            width:196px;height:172px;
        }
        p{
            height:24px;line-height:24px;
            font-size:15px;
            color:rgba(175,176,189,1);
            margin-top:12px;
        }
    }
}
.nodata{
    text-align: center;
    p{
        height:22px;line-height:22px;
        font-size:16px;
        color:rgba(175,176,189,1);
        padding:50px 0 80px;
    }
    div{
        display: inline-block;
        width:290px;
        height:22px;line-height:22px;
        padding:11px 0;
        background:linear-gradient(135deg,rgba(96,100,224,1) 0%,rgba(30,31,181,1) 100%);
        border-radius:22px;
        font-size:16px;
        font-family:$family1;
        color:rgba(255,255,255,1);
    }
    div:nth-of-type(2){
        background:linear-gradient(313deg,rgba(0,210,153,1) 0%,rgba(0,171,186,1) 100%);
        margin-top:32px;
    }
}
.thisBtn{
    background:#EFF1FB;
    height:17px;line-height:17px;
    padding:4px 14px 3px;
    font-size:12px;
    color:rgba(101,103,229,1);
    border-radius:18px;;
}
.diseaseRec{
    height:20px;line-height:20px;
    font-size:14px;
    font-weight:400;
    color:rgba(136,136,157,1);
}
.disease{
    padding-left:20px;
    //margin-bottom:30px;
    .diseaseDiv{
        display: flex;
        align-items: center;
        justify-content:space-between;
        padding:20px 20px 20px 0;
        position: relative;
        h5{
            height:15px;
            font-size:15px;
            font-weight:500;
            color:rgba(56,57,91,1);
            padding-bottom:10px;
        }
        .maxWidth{
            width:225px;
            overflow: hidden; 
            text-overflow: ellipsis; 
            white-space: nowrap; 
        }
        span{
            height:20px; line-height:20px;
            font-size:12px;
            font-weight:400;
            color:rgba(136,136,157,1);
        }
    }
    .diseaseDiv:nth-of-type(1)::after {
        content: '';
        display: block;
        position: absolute;
        left: -50%;
        bottom: 0;
        width: 200%;
        height: 1px;
        background-color:#E1E1E6;
        transform: scale(0.5);
    }
}
