$highFontColor: rgba(87, 194, 142, 1);
$defaultFontColor: rgba(56, 57, 91, 0.8);
$grayFontColor: rgba(56, 57, 91, 0.6);
$titleFontColor: rgba(56, 57, 91, 1);
$cardMargin: 15px 20px;
$cardPadding: 20px;
$cardRadius: 10px;
$mainBtnBg: linear-gradient(to right, rgba(102, 107, 232, 1), rgba(70, 24, 170, 1));

.report {
  color: #60617c;
  font-size: 14px;
  line-height: 1.6;
  height: 100vh;
  position: relative;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}
.card {
  margin: $cardMargin;
  border-radius: $cardRadius;
  box-shadow: 0 0 20px 0 rgba($color: #38395b, $alpha: 0.11);
  overflow: hidden;
  text-align: justify; //文本两端对齐
  text-align-last: left; //最后一行左对齐
  word-break: normal;
  word-wrap: break-word;
}
.tabs {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 152px;
  margin: 0 auto;
  > div {
    margin-top: 15px;
    color: #88889d;
    font-weight: 500;
    font-size: 14px;
    line-height: 14px;
  }
}
.title {
  margin-bottom: 4px;
}
.underline {
  width: 54px;
  height: 2px;
  background-color: #6567e5;
}
.top {
  width: 54px;
  height: 54px;
  position: fixed;
  right: 2px;
  bottom: 90px;
}
@mixin divLine {
  height: 1px;
  margin: 0 15px;
  background-color: #e1e1e1;
}
@mixin describe {
  font-size: 15px;
  line-height: 26px;
  margin-top: 16px;
  padding-bottom: 10px;
  color: #60617c;
}
.firstCard {
  position: relative;
  color: #38395b;
  > .first {
    position: relative;
    padding: 34px 40px;
    color: #fff;
    box-sizing: border-box;
    > div:nth-of-type(1) {
      font-size: 16px;
      line-height: 22px;
      width: 68.2666666666667vw;
      display: flex;
      justify-content: center;
      opacity: 0.8;
    }
    > div:nth-of-type(2) {
      font-size: 36px;
      line-height: 50px;
      margin-top: 15px;
      display: flex;
      justify-content: center;
      font-weight: 600;
    }
    > img:nth-of-type(1) {
      position: absolute;
      height: 100%;
      top: 0;
      right: 0;
    }
    > .userInfo {
      position: absolute;
      display: flex;
      flex-direction: column;
      bottom: -35px;
      left: 23px;
      > img {
        width: 30px;
        height: 30px;
        border-radius: 50%;
      }
      > div {
        color: rgba($color: #38395b, $alpha: 0.4);
        text-align: center;
        margin-top: 7px;
      }
    }
  }
  > .second {
    padding: 42px 22px 20px;
    font-size: 15px;
    line-height: 26px;
  }

  > .divLine {
    @include divLine();
  }

  > .thirdArea {
    padding: 14px 15px 10px;
    // > div:nth-of-type(1) {
    //   color: #88889d;
    //   line-height: 27px;
    // }
    .integration{
      display: flex;
      align-items: center;
      .left{
        flex:1;
        color: #88889d;
        line-height: 27px;
        padding-right:5px;
      }
    }
    > div:nth-of-type(2) {
      display: flex;
      justify-content: space-between;
      padding: 8px 0 12px;
      color: #60617c;
      > div {
        width: 98px;
        height: 34px;
        box-shadow: 0 2px 10px 0 rgba($color: #000000, $alpha: 0.1);
        border-radius: 4px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 15px;
        > img {
          width: 14px;
          height: 14px;
          margin-right: 7px;
          margin-bottom: 2px;
        }
      }
    }
  }
}
@keyframes posiAni {
  50% {
    transform: rotate(-30deg);
    transform-origin: 20% 70%;
  }
}
@keyframes revAni {
  50% {
    transform: rotate(30deg);
    transform-origin: 20% 30%;
  }
}
@keyframes uncerAni {
  25% {
    transform: rotate(-15deg);
    transform-origin: 50% 100%;
  }
  75% {
    transform: rotate(15deg);
    transform-origin: 50% 100%;
  }
}
.positive {
  animation: posiAni 0.5s ease-in-out;
}
.reverse {
  animation: revAni 0.5s ease-in-out;
}
.uncertain {
  animation: uncerAni 0.5s ease-in-out;
}
.substrate {
  position: absolute;
  width: 60px;
  height: 19px;
  bottom: -1px;
  left: 7px;
}
@mixin title {
  > div:nth-of-type(1) {
    display: flex;
    padding: 8px 8px;
    font-size: 20px;
    line-height: 30px;
    align-items: flex-start;
    color: #38395b;
    font-weight: 600;
    > div {
      margin-top: 7px;
    }
    > img {
      width: 44px;
      height: 44px;
      margin-right: 4px;
    }
  }
  > div:nth-of-type(2) {
    @include divLine();
  }
}
.richText {
  @include title();
  padding-bottom: 5px;
}
@mixin hnCtrl {
  > h1 {
    font-size: 17px;
    line-height: 27px;
    color: #38395b;
    font-weight: 600;
    padding: 30px 0 12px;
  }
  > h2,
  h3,
  h4,
  h5 {
    font-size: 15px;
    line-height: 24px;
    color: #38395b;
    font-weight: 600;
    padding: 20px 0 10px;
  }
  p {
    font-size: 15px;
    line-height: 26px;
    color: #60617c;
    text-align: justify; //文本两端对齐
    text-align-last: left; //最后一行左对齐
    word-break: normal;
    word-wrap: break-word;
  }
  a {
    font-size: 15px;
    line-height: 21px;
    color: #6567e5;
    font-weight: 600;
  }
  ol {
    > li {
      margin-left: 23px;
      list-style-type: decimal;
      font-size: 15px;
      line-height: 26px;
      color: #60617c;
    }
  }
  ul {
    > li {
      margin-left: 19px;
      list-style-type: disc;
      font-size: 15px;
      line-height: 26px;
      color: #60617c;
    }
  }
  img {
    width: 100%;
    border-radius: 6px;
  }
  > table {
    font-size: 12px;
    line-height: 20px;
    border-collapse: separate !important;
    margin: 0 auto;
    color: #38395b;
    > tbody {
      tr {
        th {
          text-align: center;
          padding: 14px !important;
          border-right: 1px solid rgba($color: #471bac, $alpha: 0.04);
          border-bottom: 1px solid rgba($color: #471bac, $alpha: 0.04);
        }
        td {
          padding: 10px !important;
          border-right: 1px solid rgba($color: #471bac, $alpha: 0.04);
          border-bottom: 1px solid rgba($color: #471bac, $alpha: 0.04);
        }
        > th:first-child {
          border-left: 1px solid rgba($color: #471bac, $alpha: 0.04);
        }
        > td:first-child {
          border-left: 1px solid rgba($color: #471bac, $alpha: 0.04);
        }
      }
      > tr:nth-child(2n-1) {
        background-color: #f9f9f9;
      }
      > tr:first-child {
        font-size: 14px;
        line-height: 20px;
        font-weight: 600;
        background-color: #f3f5fc;
        > th {
          border-top: 1px solid rgba($color: #471bac, $alpha: 0.04);
        }
        > th:first-child {
          border-top-left-radius: 4px;
        }
        > th:last-child {
          border-top-right-radius: 4px;
        }
      }
      > tr:last-child {
        > td:first-child {
          border-bottom-left-radius: 4px;
        }
        > td:last-child {
          border-bottom-right-radius: 4px;
        }
      }
    }
  }
}
.normalText {
  padding: 15px;
  font-size: 15px;
  line-height: 26px;
  color: #60617c;
  @include hnCtrl();
}
.influText {
  font-size: 15px;
  line-height: 26px;
  color: #60617c;
  @include hnCtrl();
  > p {
    margin: 0;
  }
}
.drawer {
  color: #60617c;
  > div:nth-of-type(1) {
    @include divLine();
  }
  > div:nth-of-type(2) {
    display: flex;
    padding: 20px 15px;
    font-size: 16px;
    justify-content: space-between;
    align-items: center;
    line-height: 24px;
    color: #38395b;
    > div {
      display: flex;
      align-items: center;
      font-weight: 600;
      > img {
        width: 26px;
        height: 26px;
        margin-right: 8px;
      }
    }
    > img {
      width: 15px;
      height: 12px;
    }
  }
  > div:nth-of-type(3) {
    @include describe();
    @include hnCtrl();
    position: relative;
    text-align: justify;
    overflow: hidden;
    box-sizing: border-box;
    margin: 0 15px;
    padding: 0 0 31px;
    transition: all ease-out 0.3s;
  }
}
.withTitle {
  > div:nth-of-type(1) {
    display: flex;
    padding: 20px;
    padding-bottom: 10px;
    font-size: 16px;
    align-items: center;
    line-height: 24px;
    color: #38395b;
    > img {
      width: 22px;
      height: 22px;
      margin-right: 16px;
    }
  }
  > div:nth-of-type(2) {
    @include describe();
    margin: 0;
    padding: 0 16px 20px 57px;
  }
}
.noTitle {
  display: flex;
  padding: 20px;
  font-size: 15px;
  line-height: 26px;
  > div {
    width: 262px;
  }
  > img {
    width: 22px;
    height: 22px;
    margin-right: 16px;
  }
}
.bar {
  margin-bottom: 22px;
  > div:first-child {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #38395b;
    margin-bottom: 8px;
    > p:first-child {
      font-size: 14px;
      line-height: 14px;
      word-break: normal;
    }
    > p:last-child {
      font-size: 12px;
      line-height: 17px;
      word-break: normal;
      opacity: 0.6;
    }
  }

  > div:last-child {
    width: 305px;
    height: 6px;
    background-color: #eff1fb;
    border-radius: 6.5px;
    > div {
      height: 6px;
      border-radius: 6.5px;
      background-color: #6567e5;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      color: #fff;
      font-size: 12px;
      padding-right: 5px;
    }
  }
}
@mixin peans {
  position: relative;
  width: 28px;
  height: 28px;
  transform: scale(0.5);
  transform-origin: 0% 0%;
  flex-shrink: 0;
  > div:nth-of-type(1) {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #6567e5;
    opacity: 0.2;
  }
  > div:nth-of-type(2) {
    position: absolute;
    margin: auto auto;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #6567e5;
  }
}
.crowdCard {
  @include title();
  > div:nth-of-type(3) {
    height: 130px;
    margin-top: 15px;
    position: relative;
  }
  > div:nth-of-type(4) {
    padding: 14px 34px 15px;
  }
}
.percent {
  position: absolute;
  font-size: 12px;
  top: 65px;
  left: 49.6vw;
}
.crowdRow {
  display: flex;
  > div:nth-of-type(1) {
    @include peans();
    flex-shrink: 0;
  }
  > div:nth-of-type(2) {
    width: 320px;
    > div:nth-of-type(1) {
      display: flex;
      justify-content: space-between;
      font-size: 14px;
      color: #60617c;
      > div:nth-of-type(1) {
        white-space: nowrap;
        margin-right: 1px;
      }
      > div:nth-of-type(2) {
        max-width: 120px;
      }
    }
    > div:nth-of-type(2) {
      height: 1px;
          margin: 10px 0;
      background-color: #e1e1e1;
    }
  }
}
@mixin influTip {
  width: 109px;
  height: 36px;
  font-size: 28px;
  line-height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  background-size: 100% 100%;
  font-family: "DINAlternate-Bold";
  > p {
    font-size: 18px;
    line-height: 25px;
    padding-top: 7px;
  }
}
.influence {
  @include title();
  padding-bottom: 20px;
  > .influTipBox {
    position: relative;
    height: 127px;
    display: flex;
    justify-content: center;
    align-items: center;
    > img {
      width: 86px;
      height: 86px;
    }
    > div:nth-of-type(1) {
      @include influTip();
      margin-right: 2px;
    }
    > div:nth-of-type(2) {
      @include influTip();
      margin-left: 2px;
    }
    .gene {
      position: absolute;
      color: #6567e5;
      font-weight: 600;
      font-size: 15px;
      top: 93px;
      left: 33px;
    }
    .env {
      position: absolute;
      color: #00adb9;
      font-weight: 600;
      font-size: 15px;
      top: 93px;
      right: 38px;
    }
  }
  > .divline {
    @include divLine();
  }
  > .tipDesc {
    border: 0.5px solid #dcbb92;
    border-radius: 4px;
    margin: 15px;
    margin-bottom: 20px;
    padding: 15px;
    display: flex;
    justify-content: space-around;
    > div:nth-of-type(1) {
      width: 16px;
      height: 20px;
      position: relative;
      top: 3px;
    }
    > div:nth-of-type(2) {
      text-align: justify;
      text-justify: distribute-all-lines;
      font-size: 15px;
      color: #a16417;
      width: 230px;
      line-height: 26px;
    }
  }
}

.influSec {
  padding: 30px 14px 0;
  > div:nth-of-type(1) {
    font-size: 18px;
    color: #38395b;
    font-weight: 600;
  }
  > div:nth-of-type(2) {
    font-size: 14px;
    margin-top: 6px;
    color: #60617c;
    > img {
      height: 13px;
    }
  }
  > div:nth-of-type(3) {
    @include describe();
  }
}

@mixin button {
  margin: 0 12px;
  border-radius: 20px;
  height: 40px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
}
.submitBtn {
  @include button();
  background-color: #6567e5;
  margin-top: 15px;
}
.submitBtnGrey {
  @include button();
  background-color: #dfdfdf;
}
.submitAgain {
  @include button();
  background-color: #eff1fb;
  color: #6a6cda;
  margin-top: 15px;
}

.expert {
  @include title();
  > div:nth-of-type(3) {
    padding: 20px 15px;
    display: flex;
    justify-content: space-between;
    > div:nth-of-type(1) {
      width: 47px;
      height: 47px;
      border-radius: 11px;
      box-shadow: 0 0 20px 0 rgba($color: #38395b, $alpha: 0.11);
    }
    > div:nth-of-type(2) {
      width: 247px;
      padding: 13px 20px 20px 17px;
      background-color: #eff1fb;
      box-sizing: border-box;
      border-top-right-radius: 23px;
      border-bottom-left-radius: 23px;
      border-bottom-right-radius: 23px;
      > h3 {
        font-size: 16px;
        line-height: 22px;
        color: #60617c;
      }
      > p,
      > span {
        font-size: 14px;
        line-height: 21px;
        margin-top: 2px;
      }
    }
  }
}

.commodity {
  @include title();
  > div:nth-of-type(3) {
    padding: 10px 14px;
  }
}
.commodityItem {
  padding: 10px 0;
  display: flex;
  > section {
    position: relative;
    width: 87px;
    height: 86px;
    border-radius: 10px;
    margin-right: 9px;
    overflow: hidden;
    >img{
      height: 100%;
      width: 100%;
      object-fit:cover; 
    }
  }
  > div {
    > div:nth-of-type(1) {
      font-size: 15px;
      line-height: 21px;
      color: #38395b;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      width: 205px;
    }
    > div:nth-of-type(2) {
      height: 36px;
      width: 205px;
      font-size: 14px;
      line-height: 18px;
      color: #88889d;
      margin: 4px 0 7px 0;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
      overflow: hidden;
    }
    > div:nth-of-type(3) {
      font-size: 14px;
      line-height: 14px;
      color: #ff6e5a;
      font-weight: 600;
      > span {
        font-size: 18px;
      }
    }
  }
}

.consult {
  @include title();
  > div:nth-of-type(3) {
    margin: 35px 15px 25px 15px;
    box-shadow: 0 2px 8px 0 #e0e0e0;
    background-color: #eff1fb;
    border-radius: 10px;
    height: 56px;
    display: flex;
    align-items: center;
    padding: 0 10px;
    > img:nth-of-type(1) {
      position: relative;
      bottom: 9px;
      width: 70px;
      height: 75px;
    }
    > div {
      margin-left: 13px;
      > p:nth-of-type(1) {
        color: #38395b;
        font-size: 16px;
        line-height: 22px;
      }
      > p:nth-of-type(2) {
        color: rgba($color: #38395b, $alpha: 0.4);
        font-size: 12px;
        line-height: 17px;
      }
    }
    > a {
      > img {
        width: 36px;
        height: 36px;
      }
    }
  }
}

.whiteBlock {
  padding: 30px;
}

@mixin peanText {
  flex-shrink: 1;
  > div {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 45.3333333333333vw;
    height: 22px;
    > div:nth-of-type(1) {
      @include peans();
      transform-origin: 0% center;
    }
    > div:nth-of-type(2) {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      width: 145px;
      > p {
        white-space: nowrap;
        font-size: 14px;
        color: #6567e5;
      }
    }
  }
}

.rebate {
  position: relative;
  height: 75px;
  background-size: 100% 100%;
  > div:nth-of-type(1) {
    font-size: 18px;
    line-height: 25px;
    position: absolute;
    left: 83px;
    top: 18px;
    color: #fde8b8;
  }
  > div:nth-of-type(2) {
    font-size: 22px;
    line-height: 22px;
    position: absolute;
    left: 21px;
    top: 27px;
    color: #bc8b47;
    vertical-align: baseline;
    > span {
      font-size: 16px;
      line-height: 16px;
    }
  }
  > div:nth-of-type(3) {
    font-size: 11px;
    line-height: 16px;
    position: absolute;
    left: 83px;
    top: 42px;
    color: #ffffff;
    opacity: 0.5;
  }
  > div:nth-of-type(4) {
    font-size: 12px;
    line-height: 14px;
    position: absolute;
    left: 66vw;
    top: 32px;
    color: #7f5e5f;
  }
  > img {
    width: 19.2vw;
    height: 26px;
    position: absolute;
    left: 63.7333333333333vw;
    top: 25px;
  }
}

.arrowRotate {
  transform: rotate(180deg);
}
