.contrastCont{
  padding: 35px 0 46px;
  .title{
    font-size:26PX;
    font-family:PingFangSC-Medium,PingFangSC;
    font-weight:500;
    color:rgba(56,57,91,1);
    line-height:26PX;
    text-align: center;
  }
  .desc{
    text-align: center;
    font-size:18PX;
    font-family:PingFangSC-Regular,PingFangSC;
    font-weight:400;
    color:rgba(136,136,157,1);
    line-height:18PX;
    margin-top: 8px;
    i{
      font-style: normal;
      border-bottom: 6px solid rgba(49,193,105,.28);
    }
    span{
      color:#1DCB68;
    }
  }
  .heightCont{
    width: 346px;
    height: 344px;
    margin: 19px auto 12px;
    background: url('@/assets/images/height/contrast_bg.png') no-repeat;
    background-size: 100%;
    box-shadow:0px 7px 6px 0px rgba(101,191,134,0.23);
    border-radius:8px;
    display: flex;
    text-align: center;
    align-items: flex-end;
    overflow: hidden;
    .left{
      flex: 1;
      img{
        margin-left: 60px;
      }
    }
    .right{
      flex: 1;
      img{
        margin-left: 29px;
      }
    }
    .heightTitle{
      font-size:17PX;
      font-family:PingFangSC-Medium,PingFangSC;
      font-weight:500;
      color:rgba(255,255,255,1);
      line-height:17PX;
      margin-bottom: 8px;
    }
    .heightNum{
      font-size:46PX;
      font-family:DINAlternate-Bold,DINAlternate;
      font-weight:bold;
      color:rgba(255,255,255,1);
      line-height:46PX;
    }
    .heightDesc{
      font-size:18PX;
      font-family:DINAlternate-Bold,DINAlternate;
      font-weight:bold;
      color:rgba(255,255,255,1);
      line-height:18PX;
      margin-bottom: 14px;
    }
    .imgBox{
      height: 100px;
      img{
        width: 93px;
        display: block;
      }
    }
  }
  .desc1{
    font-size:14PX;
    font-family:PingFangSC-Regular,PingFangSC;
    font-weight:400;
    color:rgba(136,136,157,1);
    line-height:20PX;
    width: 300px;
    margin: 0 auto 23px;
    text-align: justify;
  }
  .text{
    font-size:15PX;
    font-family:PingFangSC-Regular,PingFangSC;
    font-weight:400;
    color:rgba(136,136,157,1);
    line-height:23PX;
    width: 318px;
    margin: 0 auto 27px;
    text-align: justify;
  }
  .btn{
    width:330px;
    height:44px;
    background:linear-gradient(225deg,rgba(97,221,121,1) 0%,rgba(25,202,103,1) 100%);
    box-shadow:0px 4px 8px 0px rgba(48,159,88,0.43);
    border-radius:22px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size:18PX;
    font-family:PingFangSC-Medium,PingFangSC;
    font-weight:500;
    color:rgba(255,255,255,1);
    line-height:normal;
    margin: 0 auto;
  }
}