.mt12 {
    margin-top: 12px;
}

.list {
    padding: 0 12px;
    margin: 0 auto;
    margin-bottom: 10px;
}

.content {
    background: url(@static/coupon-valid.png) repeat;
    background-size: 100%;
    color: #fff;
    height: 90px;
    overflow: hidden;
    position: relative;
}

.grren {
    .content {
        background: url(@static/coupon-invalid.png) repeat;
        background-size: 100%;
    }
    .couponStatus {
        position: relative;
        top: -90px;
        .expired,
        .used {
            display: block;
            width: 56px;
            height: 56px;
            position: absolute;
            right: 15px;
            top: 10px;
            img {
                width: 100%;
                height: 100%;
                display: inline-block;
            }
        }
    }
    .foot {
        color: #bdbdbd;
        p {
            position: relative;
            &:before {
                background: #bdbdbd;
            }
        }
    }
}

.text {
    margin-top: 19px;
    span {
        font-size: 17PX;
        display: block;
        line-height: 19PX;
        padding-bottom: 5px;
    }
    p {
        padding-bottom: 1px;
        font-size: 12PX;
        line-height: 15px;
    }
}

.money {
    width: 131px;
    text-align: center;
    margin-top: 19px;
    span {
        font-size: 30PX;
        padding-right: 5px;
        line-height: 35px;
    }
    p {
        line-height: 17px;
        font-size: 12PX;
    }
}

.foot {
    padding: 11px 25px 11px 26px;
    line-height: 18px;
    background: #fff;
    color: #757575;
    font-size: 12PX;
    p {
        position: relative;
        &:before {
            content: '';
            width: 3PX;
            height: 3PX;
            border-radius: 50%;
            background: #757575;
            display: block;
            top: 7.5px;
            left: -9px;
            z-index: 99;
            position: absolute;
        }
    }
}