$family1:PingFangSC-Medium;
$family2:DINAlternate-Bold;

.noscroll{
    overflow: hidden !important;
    height: 100vh !important;
}
.center{
    text-align:center;
}
.top {
  width: 54px;
  height: 54px;
  position: fixed;
  right: 2px;
  bottom: 90px;
}
.top42{
  margin-top:42px !important;
}
.whiteBlock {
  padding: 30px;
}
.hpvReport{
    //width:100%;height:100vh;
    position: relative;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}
.padding15{
    padding:0 15px;
}
.tabs {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 152px;
    margin: 0 auto;
    > div {
      margin-top: 15px;
      color: #88889d;
      font-weight: 500;
      font-size: 14px;
      line-height: 14px;
    }
  }
  .title {
    margin-bottom: 4px !important;
  }
  .underline {
    width: 54px;
    height: 2px;
    background-color: #6567e5;
  }
  .top {
    width: 54px;
    height: 54px;
    position: fixed;
    right: 2px;
    bottom: 90px;
  }
.resultsCard{
    padding:17px 15px 0;
    img{
      pointer-events:none;
    }
    .card{
        width:100%;height:154px;
        border-radius:10px 40px 0px 0px;
        background: url(@static/hpvReport/bg.png) no-repeat;
        background-size: cover;
        position: relative;
        p{
            position:absolute;
            top:43px;left:15px;
            height:14px;line-height:14px;
            font-size:15px;
            font-family:$family1;
            color:rgba(56,57,91,1);
        }
        img:nth-of-type(1){
            position:absolute;
            right:20px;top:23px;
            width:58px;height:59px;
        }
        img:nth-of-type(2){
            position:absolute;
            top:147px;left:42px;
            width:20px;height:20px;
        }
        span{
            position:absolute;
            top:75px;left:25px;
            height:36px;line-height:36px;
            font-size:32px;
            font-family:PingFangSC-Semibold,PingFang SC;
            color:rgba(56,57,91,1);
        }
    }
    .desc{
        background:rgba(255,255,255,1);
        border-radius:0px 0px 10px 10px;
        padding:22px 25px;
        box-shadow:0px 2px 10px 0px rgba(0,0,0,0.1);
        p{
            font-size:15px;
            color:rgba(56,57,91,1);
            line-height:22px;
        }
    }
}
.cardTitle{
    margin:36px 0 18px !important;
    img{
        display:inline-block;
        width:20px;height:24px;
        vertical-align: middle;

    }
    span{
        display:inline-block;
        height:20px;line-height:20px;
        font-size:20px;
        font-family:$family1;
        color:rgba(56,57,91,1);
        margin-left:4px;
        vertical-align: middle;
    }
}
.noBottom{
    margin-bottom:0 !important;
    margin-top:24px !important;
}
.square{
    background:rgba(255,255,255,1);
    box-shadow:0px 2px 10px 0px rgba(0,0,0,0.1);
    border-radius:10px;
}
.partCard{
    padding:14px 15px 30px;
    .count{
        display:flex;
        justify-content: space-between;
        align-items: center;
        padding:12px 0;
        margin-bottom:15px !important;
        border-bottom:0.5px solid #DFDFDF;
        div{
          display:flex;
          align-items: center;
            span{
                display:inline-block;
                height:16px;line-height:16px;
                font-size:15px;
                font-family:$family1;
                color:rgba(56,57,91,1);
                margin-right:4px;
            }
            img{
                width:16px;height:16px;
            }
        }
        p{
            height:16px;line-height:16px;
            font-size:15px;
            font-family:$family1;
            color:rgba(56,57,91,1);
        }
    }
    .high{
        width: 100%;
        display:flex;
        flex-flow: row wrap;
        align-content: flex-start;
        div{
            flex: 0 0 33.33%;
            margin-bottom:14px !important;
            color:rgba(136,136,157,1);
            display:flex;
            align-items: center;
            span{
              display:inline-block;
              width: 45px;
              height:14px;line-height:14px;
              font-size:14px;
              color:rgba(96,97,124,1);
              text-align:left;
              vertical-align: middle;
            }
            img{
              display:inline-block;
              width:30px;height:16px;
              margin-left:4px;
              vertical-align: middle;
            }
        }
        div:nth-of-type(3n+2){
            text-align:center !important;
        }
        div:nth-of-type(3n){
            text-align:right !important;
        }
    }
    .view{
        background:rgba(240,241,251,.59);
        border-radius:10px;
        padding:16px 10px;
        margin:15px 0 20px !important;
        p{
            height:18px;line-height:18px;
            font-size:13px;
            color:#88889D;
        }
        div{
            font-size:13px;
            color:#88889D;
            line-height:21px;
            margin:2px 0 0 11px !important;
        }
    }
    .downLoad{
        display:inline-block;
        padding:2px 17px 2px 18px;
        background:linear-gradient(135deg,rgba(255,122,171,1) 0%,rgba(255,157,193,1) 100%);
        box-shadow:0px 2px 10px 0px rgba(189,0,83,0.15);
        border-radius:12px;
        span{
            height:20px;line-height:20px;
            font-size:14px;
            color:rgba(255,255,255,1);
            vertical-align: middle;
            margin-right: 4px;
        }
        img{
            width:4px;height:8px;
            vertical-align: middle;
        }
    }
}
.adviseCard{
    padding:30px 15px 10px;
    .advise{
        margin-bottom:20px !important;
        display:flex;
        >span{
            height:24px;line-height:24px;
            font-size:20px;
            font-family:$family2;
            color:rgba(136,136,157,1);
            margin-right:3px;
        }
        >p{
            line-height:22px;
            font-size:14px;
            color:#60617C;
            padding-left:8px;
            border-left:0.5px solid #AFB0BD;
        }
    }
    >div:nth-of-type(3) .advise{
        margin-bottom:0 !important;
    }
    .concat{
        display:inline-block;
        margin:16px 0 20px 32px !important;
        img{
            width:14px;height:16px;
            vertical-align: middle;
        }
        span{
            height:18px;line-height:18px;
            margin-left:5px;
            font-size:13px;
            color:rgba(101,103,229,1);
            vertical-align: middle;
        }
    }
}
//大家都在问
.arrowRotate {
    transform: rotate(180deg);
  }
@mixin divLine {
    height: 0.5px;
    background-color: #e1e1e1;
  }
  @mixin describe {
    font-size:14px;
    color:rgba(56,57,91,1);
    line-height:22px;
  }
.drawer {
    .border {
        @include divLine();
      }
    .questionDemo {
      display: flex;
      padding: 13px 14px 13px 12px;
      justify-content: space-between;
      align-items: center;
      > div {
        display: flex;
        align-items: center;
        font-size:14px;
        font-family:$family1;
        color:rgba(56,57,91,1);
        line-height:20px;
        > img {
          width:20px;height:20px;
          margin-right:7px;
        }
      }
      > img {
        width: 12px;height: 8px;
      }
    }
    .answerDemo {
      @include describe();
      display: flex;
      text-align: justify;
      overflow: hidden;
      box-sizing: border-box;
      padding:14px 33px 14px 13px;
      background:rgba(255,247,251,1);
      img{
        width:20px;height:20px;
        margin-right:6px;
      }
      p{
          flex:1;
          color:#60617c;
      }
    }
  }
.question{
    background: url(@static/hpvReport/advise2.png) no-repeat;
    background-size:100% 100%;
    margin-top:-10px;
    padding:27px 20px 32px;
    text-align:center;
    .desc{
        padding:18px;
        background:rgba(255,255,255,1);
        border-radius:10px;
        text-align: left;
        >div{
            display: flex;
            .circle {
                width:6px;height:6px;
                border-radius:50%;
                margin:6px 5px 0 0;
                background:rgba(175,176,189,1);
            }
            p{
                flex:1;
                span{
                    line-height:22px;
                    font-size:15px;
                    color:rgba(56,57,91,1);
                }
                .import{
                    box-shadow:inset 0px -8px 0 0 rgba(228,254,239,1);
                }
            }
        }
        >div:nth-of-type(2){
            margin:7px 0 !important;
        }
    }
    .img2{
        display:inline-block;
        width:208px;height:203px;
        margin-top:-6px;
    }

}
.startBtn{
    background:linear-gradient(135deg,rgba(255,122,171,1) 0%,rgba(255,157,193,1) 100%);
    box-shadow:0px 2px 10px 0px rgba(189,0,83,0.15);
    border-radius:20px;
    height:22px;line-height:22px;
    font-size:16px;
    color:rgba(255,255,255,1);
    padding:9px 0;
    margin-top:22px;
    text-align: center;
}
.startBtn2{
  background:rgba(239,241,251,1);
  box-shadow:0px 2px 10px 0px rgba(0,0,0,0.04);
  color:rgba(136,136,157,1);
}
.evaluationtips{
  height:12px;line-height:12px;
  font-size:12px;
  color:rgba(56,57,91,0.6);
  margin-top:16px;
  text-align:left;
}
//定期复查
.reviewCard{
    padding:26px 0 19px;

    .coupon{
        width:332px;height:103px;
        box-sizing: border-box;
        background: url(@static/hpvReport/coupon1.png) no-repeat;
        background-size: cover;
        display:flex;
        justify-content: start;
        padding:29px 0;
        margin:0 auto;
        .left{
            margin-left:32px;
            label{
                display:inline-block;
                height:24px;line-height:24px;
                font-size:16px;
                font-family:$family1;
                color:rgba(242,75,148,1);
                margin:16px 2px 0 0 !important;
            }
            span{
                height:39px;line-height:38px;
                font-size:38px;
                font-family:$family2;
                color:rgba(242,75,148,1);
                margin:3px 7px 0 0 !important;
            }
        }
        .right{
            padding-left:8px;
            border-left:1px solid rgba(242,75,148,1);
            height:auto;
            div{
                height:17px;line-height:16px;
                font-size:16px;
                font-family:$family1;
                color:rgba(242,75,148,1);
                margin-bottom:5px !important;
            }
            p{
                height:12px;line-height:12px;
                font-size:9px;
                color:rgba(242,75,148,1);
                margin-bottom:2px !important;
            }
        }
    }
    .coupon2{
        background: url(@static/hpvReport/coupon2.png) no-repeat;
        background-size: cover;
    }
}

.circleList{
    display:flex;
    padding:0 15px;
    margin-bottom:16px !important;
    .circle{
        width:4px;height:4px;
        background:rgba(175,176,189,1);
        border-radius:2px;
        margin:10px 11px 0 0 !important;
    }
    p{
        flex:1;
        line-height:22px;
        font-size:14px;
        color:rgba(96,97,124,1);
    }
}

.mask {
    position: fixed;
    top: 0px; left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    transition-duration: 400ms;
  }
  .tips{
    position:fixed;
    left:33px;top:0;
    width:310px;
    padding:40px 20px 24px;
    box-sizing: border-box;
    background:#fff;
    border-radius:10px;
    z-index:9999;
    .close{
        width:18px;height:18px;
        position: absolute;
        top:16px;right:16px;
    }
    .name{
        height:22px;
        font-size:16px;
        font-family:$family1;
        color:rgba(56,57,91,1);
        line-height:22px;
        margin-bottom:14px !important;
        text-align:center;
    }
    .desc{
      font-size:14px;
      color:rgba(56,57,91,0.8);
      line-height:24px;
    }
    .gohave{
        height:21px;line-height:21px;
        padding:13px 0 12px;
        background:linear-gradient(135deg,rgba(255,122,171,1) 0%,rgba(255,157,193,1) 100%);
        box-shadow:0px 2px 10px 0px rgba(189,0,83,0.15);
        border-radius:23px;
        font-size:15px;
        color:rgba(255,255,255,1);
        text-align:center;
        margin:27px 0 16px !important;
    }
  }
  .tips2{
    position:fixed;
    left:33px;top:0;
    width:310px;
    padding:54px 34px 40px;
    box-sizing: border-box;
    background:#fff;
    border-radius:10px;
    z-index:9999;
    .topImg{
        position: absolute;
        top:-46px;left:50%;
        margin-left:-46px;
        width:92px;height:92px;
    }
    .close{
        width:18px;height:18px;
        position: absolute;
        top:16px;right:16px;
    }
    .name{
        height:30px;line-height:30px;
        font-size:22px;
        font-family:$family1;
        color:rgba(56,57,91,1);
        text-align:center;
    }
    .desc{
        font-size:15px;
        color:rgba(56,57,91,1);
        line-height:23px;
        margin:11px 0 27px !important;
    }
    .gohave{
        height:21px;line-height:21px;
        padding:13px 0 12px;
        background:linear-gradient(135deg,rgba(255,122,171,1) 0%,rgba(255,157,193,1) 100%);
        box-shadow:0px 2px 10px 0px rgba(189,0,83,0.15);
        border-radius:23px;
        font-size:15px;
        color:rgba(255,255,255,1);
        text-align:center;
    }
  }
  .confirmInfo{
      position:fixed;
      left:0;bottom:0;
      width:100%;height:340px;
      background:rgba(255,255,255,1);
      border-radius:20px 20px 0px 0px;
      padding:0 32px;
      box-sizing: border-box;
      z-index:9;
      .border{
        width:61px;
        height:3px;
        background:rgba(175,176,189,1);
        border-radius:2px;
        opacity:0.4;
        margin:14px auto 7px !important;
      }
      .title{
        height:28px;line-height:28px;
        font-size:18px;
        font-family:$family1;
        color:rgba(56,57,91,1);
        margin:16px 0 34px !important;
      }
      .info{
          border-bottom:0.5px solid rgba(175,176,189,1);
          padding-bottom:10px;
          display:flex;
          justify-content: space-between;
          margin-bottom:30px !important;
          align-items: center;
          label{
            height:20px;line-height:20px;
            font-size:18px;
            color:rgba(96,97,124,1);
          }
          input{
              text-align:right;
              max-width:200px;
              line-height:20px;
              font-size:18px;
              color:rgba(242,75,148,1);
              border:none;
              outline:none !important;
          }
          input::-webkit-input-placeholder{
            color:rgba(242,75,148,1);
          }
          input:-moz-placeholder{
            color:rgba(242,75,148,1);
          }
      }
      .info:nth-of-type(2){
            margin-bottom:0 !important;
      }
      .no{
        height:20px;line-height:20px;
        font-size:14px;
        color:rgba(136,136,157,1);
        margin:10px 0 36px !important;
      }
      .confirmBtn{
        padding:9px 0;
        background:linear-gradient(135deg,rgba(255,122,171,1) 0%,rgba(255,157,193,1) 100%);
        box-shadow:0px 2px 10px 0px rgba(189,0,83,0.15);
        border-radius:20px;
        height:22px; line-height:22px;
        font-size:16px;
        color:rgba(255,255,255,1);
        text-align:center;
      }
  }
//专家解读 无测评
  .noResultCard{
      text-align:center;
      img{
          width:295px;height:231px;
          margin:32px 0 30px !important;
      }
      .desc{
        padding:0 35px;
        background:rgba(255,255,255,1);
        border-radius:10px;
        text-align: left;
        >div{
            span{
                line-height:22px;
                font-size:15px;
                color:rgba(56,57,91,1);
            }
            .import{
                box-shadow:inset 0px -8px 0 0 rgba(253,215,231,1);;
            }
        }
        >div:nth-of-type(2){
            margin:20px 0 !important;
        }
    }
  }
  .resultDate{
    height:15px;line-height:15px;
    font-size:12px;
    color:rgba(175,176,189,1);
    margin:4px 0 12px 25px !important;
  }
  //你的测评结果
  .readCard{
      display: flex;
      flex-flow: row wrap;
      align-content: flex-start;
      justify-content: space-between;
      .card{
        height:130px;
        background:rgba(253,205,223,1);
        box-shadow:0px 2px 10px 0px rgba(0,0,0,0.1);
        border-radius:10px;
        flex: 0 0 calc(50% - 8.5px);
        padding:15px 16px 15px 20px;
        box-sizing: border-box;
        div{
            height:20px;line-height:20px;
            font-size:14px;
            color:rgba(56,57,91,1);
        }
        p{
            height:30px;line-height:30px;
            font-size:22px;
            font-family:$family1;
            color:rgba(56,57,91,1);
            margin-top:6px !important
        }
        img{
            width:40px;height:38px;
            float:right;
        }
      }
      .card2{
        background:rgba(215,237,254,1) !important;
      }
  }
//你的定制化专家建议
  .yourOnlyCard{
      .list{
        padding:24px 19px 30px 23px;
        margin-bottom:16px !important;
        position: relative;
        .title{
            display: flex;
            justify-content: space-between;
            span{
              height:20px;line-height:20px;
              font-size:18px;
              font-family:PingFangSC-Semibold,PingFang SC;
              color:rgba(56,57,91,1);
              margin-top:16px;
              position: relative;
              padding:0 4px;
              // label{
              //     position: absolute;
              //     left:-4px;bottom:-4px;
              //     width:80px;height:12px;
              //     border-radius:2px;
              // }
              .others{
                  width:46px;
              }
            }
            img{
                width:42px;height:42px;
            }
        }
        .advise{
            display:flex;
            margin-top:25px;
            p{
              width:7px; height:7px;
              border-radius:50%;
              margin:7px 8px 0 0;
            }
            span{
              flex:1;
              font-size:14px;
              color:rgba(96,97,124,1);
              line-height:22px;
            }
        }
      }
      .green .title span{
        box-shadow:inset 0px -12px 0 0 #E4FEEF;
      }
      .green .advise p{
        background:rgba(169,227,194,1);
      }
      .blue .title span{
        box-shadow:inset 0px -12px 0 0 rgba(176,218,249,.8);
      }
      .blue .advise p{
        background:rgba(176,218,249,1);
      }
      .pink .title span{
        box-shadow:inset 0px -12px 0 0 rgba(253,186,211,.8);
      }
      .pink .advise p{
        background:rgba(253,186,211,1);
      }
      .againBtn{
        padding:12px 0;
        height:20px;line-height:20px;
        background:rgba(255,255,255,1);
        box-shadow:0px 2px 20px 0px rgba(221,221,221,1);
        border-radius:10px;
        font-size:15px;
        color:rgba(96,97,124,1);
        text-align:center;
    }
    .grey{
      color:rgba(96,97,124,0.4);
    }
    .maxH{
        max-height:317px;
        overflow: hidden;
    }
    .showMore{
        display: inline-block;
        padding:3px 22px 3px 12px;
        line-height:17px;
        margin-top:30px;
        color:#6567E5;
        border-radius:12px;
        font-size:12px;
    }
    .down{
        background:url('@static/hpvReport/down.png') rgba(240,241,251,1) no-repeat right 9px center;
        background-size:10px 6px;
    }
    .up{
        background:url('@static/hpvReport/up.png') rgba(240,241,251,1) no-repeat right 9px center;
        background-size:10px 6px;
    }
    .jianbian{
        position: absolute;
        width:100%;height:50px;
        bottom:73px;left:0;
        background: linear-gradient(to bottom,#FAFAFA00,#FCFCFC82,#FFFFFF) !important;
    }
  }

  //综合免疫力
  .immunityCard{
    padding:30px 15px;
    p{
        height:18px;line-height:18px;
        font-size:18px;
        font-family:$family1;
        color:rgba(56,57,91,1);
    }
    .border{
        display:block;
        width:31px;height:2px;
        background:rgba(96,97,124,1);
        margin:16px 0 18px !important;
    }
    .text{
        font-size:14px;
        color:rgba(96,97,124,1);
        line-height:22px;
    }
    img{
      margin:16px 0 !important;
      border-radius:4px;
    }
  }

  //综合评价

.feedback {
 .box {
    display: flex;
    justify-content: space-between;
    padding: 30px 30px 0 30px;
    > div {
      width: 80px;
      height: 80px;
      > div {
        width: 100%;
      }
      > p {
        font-size: 13px;
        color: #88889d;
        display: flex;
        margin-top: 4px;
        justify-content: center;
      }
    }
  }
}
.feedSubmit {
    .adviseText{
        padding:0 14px;
        margin-bottom:30px !important;
    }
   textarea {
      width:100%;
    background-color: rgba($color: #d8d8d8, $alpha: 0.3);
    border-radius: 4px;
    border: none;
    box-sizing: border-box;
    padding: 6px 19px;
    line-height: 19px;
    color: #38395b;
    font-size: 13px;
    height: 34px;
  }
  > textarea::placeholder {
    color: #88889d;
    font-size: 13px;
    line-height: 22px;
  }
  > div {
    display: flex;
    justify-content: center;
    padding: 15px 14px;
    >.tagBox {
      display: flex;
      justify-content: flex-start;
      flex-wrap: wrap;
    }
  }
  > img {
    display: block;
    width: 305px;
    margin: 15px auto 0;
  }
}
.tags {
  height: 26px;
  padding: 7px 11px;
  font-size: 12px;
  line-height: 12px;
  border: 0.5px solid #cfd0d7;
  border-radius: 4px;
  box-sizing: border-box;
  margin-right: 8px;
  margin-bottom: 8px !important;
  color: #88889d;
}
.submitText {
  font-size: 14px;
  line-height: 26px;
  color: #88889d;
  display: flex;
  justify-content: space-between;
  align-items: center;
  white-space: nowrap;
  > div {
    height: 1px;
    width: 85px;
    background-color: #38395b;
    opacity: 0.14;
  }
}
.submitBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    height:40px;
    background:linear-gradient(135deg,rgba(255,122,171,1) 0%,rgba(255,157,193,1) 100%);
    box-shadow:0px 2px 10px 0px rgba(189,0,83,0.15);
    border-radius:20px;
    line-height:22px;
    font-size:16px;
    color:rgba(255,255,255,1);
    margin:0 14px;
  }
.submitBox {
  padding: 0 14px;
}
.feedPad {
  height: 30px;
}
.egFloat2{
  position: fixed;
  right: 0;
  bottom: 200px;
  height: 40px;
  width: 86px;
  border-top-left-radius: 33px;
  border-bottom-left-radius: 33px;
  background:linear-gradient(90deg,rgba(47,222,162,1) 0%,rgba(36,202,202,1) 100%);
  color: #fff;
  font-size: 13px;
  line-height: 15px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  > p {
    margin-right: 6px;
    width: 28px;
  }
  > img {
    width: 30px;
    height: 30px;
    margin-right: 4px;
  }
}
.egFloat2{
  background:linear-gradient(90deg,rgba(102,107,232,1) 0%,rgba(71,26,172,1) 100%);
  bottom: 140px;
}
