.root {
  height: 301.86666666667vw;
  background-color: #eff6ff;
  > img:nth-of-type(1) {
    width: 100%;
  }
  > img:nth-of-type(2) {
    position: absolute;
    width: 307px;
    margin: auto auto;
    top: 216px;
    left: 0;
    right: 0;
  }
}
.contentBox {
  position: absolute;
  width: 100%;
  top: 324px;
  height: 215.4666667vw;
  background-size: 100%;
}
.title {
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #255cb8;
  padding-top: 37px;
  padding-bottom: 8px;
  font-weight: bold;
}
.tip {
  font-size: 11px;
  line-height: 16px;
  color: #434f67;
  text-align: center;
  padding-bottom: 35px;
  > span {
    position: relative;
    top: 4px;
    margin-right: 5px;
    color: #ec4e3c;
    font-size: 18px;
    font-weight: bold;
  }
}
.inputBox {
  padding: 0 51px;
  height: 50px;
  > div:nth-of-type(1) {
    height: 49px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 15px;
    line-height: 17px;
    color: #434563;
    > input {
      width: 192px;
      border: none;
      height: 30px;
      display: flex;
      align-items: center;
    }
    >input::placeholder{
      line-height: normal;
    }
  }
  > div:nth-of-type(2) {
    height: 1px;
      background-color: #ededed;
  }
}
.confirm {
  padding: 13px 50px 16px;
  display: flex;
  align-items: flex-start;
  > div {
    width: 11px;
    height: 11px;
    margin: 4px 6px 4px 0;
    border-radius: 50%;
    border: 3px solid #4B63D6;
    box-sizing: border-box;
    flex-shrink: 0;
  }
  >p{
      color: #B7B7B8;
      font-size: 12px;
      line-height: 18px;
      >a{
          color: #608AFF;
      }
  }
}
@mixin btn {
    margin: 0 51px;
    border-radius: 40px;
    height: 42px;
    display: flex;
    color: #FFFFFF;
    font-size: 14px;
    line-height: 20px;
    justify-content: center;
    align-items: center;
}
.btn{
    @include btn();
    background-color: #FF8780;
}
.claimedBtn{
    @include btn();
    background-color: #C3C3CD;
}
.viewDetails{
    font-size: 12px;
    line-height: 17px;
    color: #2141A8;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    >img{
        width: 10px;
        height: 10px;
        margin: 4px;
    }
}