.inputCont{
  width: 330px;
  margin: 0 auto;
  padding: 56px 0 36px;
  .name{
    width:182px;
    height:30px;
    margin: 0 auto 21px;
    background:rgba(29,203,104,1);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    .input{
      width:151px;
      height:15PX;
      font-size:15PX;
      font-family:PingFangSC-Medium,PingFangSC;
      font-weight:500;
      color:rgba(255,240,0,1);
      line-height:15PX;
      background: transparent;
      border: 0;
    }
  }
  .sexTitle{
    font-size:18PX;
    font-family:PingFangSC-Semibold;
    font-weight:600;
    color:rgba(175,176,189,1);
    line-height:20PX;
    text-align: center;
    margin-bottom: 8px;
  }
  .sexBox{
    display: flex;
    justify-content: center;
    margin-bottom: 38px;
    .img{
      width: 59px;
      height: 59px;
    }
    .img:first-child{
      margin-right: 22px;
    }
  }
  .tipBox{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size:12PX;
    font-family:PingFangSC-Regular;
    font-weight:400;
    color:rgba(175,176,189,1);
    line-height:12PX;
    margin-bottom: 26px;
    .rightIcon{
      width: 5px;
      height: 10px;
      margin-left: 8px;
    }
  }
  .inputsBox{
    height: 242px;
    width: 284px;
    margin: 0 auto;
    .height,.weight,.cake{
      height: 30px;
      padding-bottom: 15px;
      border-bottom: 1px solid rgba(60,211,111, .3);
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 40px;
    }
    .left{
      display: flex;
      align-items: center;
    }
    .img{
      width: 22px;
      height: 30px;
      margin-right: 13px;
    }
    .weight .img{
      width: 22px;
      height: 29px;
      margin-right: 13px;
    }
    .cake .img{
      width: 26px;
      height: 31px;
      margin-right: 11px;
    }
    .text{
      font-size:18PX;
      font-family:PingFangSC-Semibold;
      font-weight:600;
      color:rgba(175,176,189,1);
      line-height:20PX;
    }
    .placeholder{
      font-size:18PX;
      font-family:PingFangSC-Regular;
      font-weight:400;
      color:rgba(175,176,189,.6);
      line-height:10PX;
    }
    .num{
      font-size:26PX;
      font-weight:bold;
      color:rgba(18,201,124,1);
      line-height:26PX;
      font-family:DINAlternate-Bold,DINAlternate;
    }
  }
  .bombCont{
    position: fixed;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    background:rgba(0,0,0,.6);
    display: flex;
    align-items: center;
    justify-content: center;
    .bomb{
      width: 305px;
      padding: 15px 15px 30px 21px;
      box-sizing: border-box;
      background:rgba(255,255,255,1);
      border-radius:8px;
      border:1px solid rgba(151,151,151,1);
      .close{
        display: flex;
        justify-content: flex-end;
        .closeIcon{
          width: 14px;
          height: 12px;
          margin-bottom: 8px;
        }
      }
      .bombTitle{
        font-size:18PX;
        font-family:PingFangSC-Medium,PingFangSC;
        font-weight:500;
        color:rgba(56,57,91,1);
        line-height:18PX;
        text-align: center;
      }
      .measureBomb{
        width: 206px;
        height: 87px;
        display: block;
        margin: 20px auto 28px;
      }
      .bombDesc{
        width: 262px;
        margin: 0 auto;
        font-size:14PX;
        font-family:PingFangSC-Regular,PingFangSC;
        font-weight:400;
        color:rgba(136,136,157,1);
        line-height:27PX;
      }
    }
  }
}
.btnBox {
  .btn{
    width:330px;
    height:44px;
    background:linear-gradient(225deg,rgba(97,221,121,1) 0%,rgba(25,202,103,1) 100%);
    box-shadow:0 4px 8px 0 rgba(48,159,88,0.43);
    border-radius:22px;
    font-size:18PX;
    font-family:PingFangSC-Medium;
    font-weight:500;
    color:rgba(255,255,255,1);
    margin-top: 40px;
    margin-bottom: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .detailText{
    font-size:12PX;
    font-family:PingFangSC-Regular;
    font-weight:400;
    color:rgba(175,176,189,1);
    line-height:12PX;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .img{
    width: 12px;
    height: 12px;
    margin-right: 4px;
  }
}