.adviserCont {
  background: #fff;
  min-height: 100vh;
  padding-top: 32px;
  .descBox {
    width: 345px;
    margin: 0 auto 0;
    height: 80px;
    background: rgba(15, 185, 96, 1);
    box-shadow: 0px 2px 8px 0px rgba(224, 224, 224, 1);
    border-radius: 8px;
    position: relative;
    .left{
      width: 65px;
      height: 102px;
      padding-left: 23px;
      position: absolute;
      bottom: 0;
      img{
        width: 100%;
        display: block;
      }
    }
    .right {
      padding-left: 105px;
      width: 194px;
      .title {
        padding-top: 13px;
        font-size: 16PX;
        font-family: PingFangSC-Regular, PingFang SC;
        font-weight: 400;
        color: rgba(255, 255, 255, 1);
        line-height: 22PX;
      }
      .desc{
        font-size:12PX;
        font-family:PingFangSC-Regular,PingFang SC;
        font-weight:400;
        color:rgba(255,255,255,1);
        line-height:17PX;
      }
    }
  }
  .consultBox{
    width: 345px;
    margin: 26px auto 0;
    .title{
      font-size:22PX;
      font-family:PingFangSC-Medium,PingFang SC;
      font-weight:500;
      color:rgba(3,149,79,1);
      line-height:22PX;
      margin-bottom: 15px;
    }
    .consults{
      padding-bottom: 20px;
      .consultDetail{
        margin-bottom: 15px;
        background:rgba(255,255,255,1);
        border-radius:10px;
        overflow: hidden;
        border:1PX solid rgba(136,136,157,0.22);
        .quesLeft,.answerLeft{
          width: 30px;
          font-size:30PX;
          font-family:STSongti-SC-Regular,STSongti-SC;
          font-weight:400;
          color:rgba(96,97,124,.4);
          line-height:30PX;
          margin-right: 7px;
          img{
            width: 30px;
            display: block;
          }
        }
        .quesRight,.answerRight{
          width: 280px;
          .time{
            font-size:12PX;
            font-family:PingFangSC-Regular,PingFang SC;
            font-weight:400;
            color:rgba(136,136,157,1);
            line-height:12PX;
            margin: 5px 0;
          }
          .cont{
            text-align: justify;
            word-break: break-all;
            font-size:15PX;
            font-family:PingFangSC-Regular,PingFang SC;
            font-weight:400;
            color:rgba(96,97,124,1);
            line-height:24PX;
          }
        }
        .answerLeft{
          color:rgba(25,156,93,.5);
        }
        .question{
          padding: 12px 12px 18px;
          display: flex;
          .inputBox{
            margin-left: -15PX;
            .input{
              width: 283px;
              background: transparent;
              textarea{
                color:#60617c;
              }
            }
          }
          .overflow3{
            display: -webkit-box;
            overflow: hidden;
            text-overflow: ellipsis;
            word-wrap: break-word;
            white-space: normal !important;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
          }
        }
        .answer{
          padding: 12px 12px 18px;
          background:rgba(239,241,251,1);
          display: flex;
          .retract{
            margin-left: 110px;
            margin-top: 15px;
            font-size:14PX;
            font-family:PingFangSC-Regular,PingFang SC;
            font-weight:400;
            color:rgba(136,136,157,1);
            line-height:14PX;
          }
        }
        .waiting, .lookMoreBtn{
          font-size:14PX;
          font-family:PingFangSC-Regular,PingFang SC;
          font-weight:400;
          color:rgba(136,136,157,1);
          display: flex;
          align-items: center;
          justify-content: center;
          height:44PX;
          background:rgba(239,241,251,1);
          line-height: normal;
        }
        .btnsCont{
          display: flex;
          justify-content: center;
          .submitBtn{
            width: 146px;
            margin: 0 0 20px;
          }
          .submitBtn:first-child{
            margin-right: 13px;
          }
        }
        .submitBtn{
          width:305px;
          height:36PX;
          background:rgba(208,208,208,1);
          box-shadow:0px 4px 8px 0px rgba(201,201,201,0.43);
          border-radius:18px;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size:18PX;
          font-family:PingFangSC-Medium,PingFang SC;
          font-weight:500;
          color:rgba(255,255,255,1);
          line-height:normal;
          margin: 0 auto 18px;
        }
        .green{
          background:linear-gradient(139deg,rgba(75,206,101,1) 0%,rgba(74,206,100,1) 5%,rgba(17,189,92,1) 100%);
        }
      }
      .consultBtn{
        margin: 30px auto 0;
        width:330px;
        height:44PX;
        background:linear-gradient(139deg,rgba(75,206,101,1) 0%,rgba(74,206,100,1) 5%,rgba(17,189,92,1) 100%);
        box-shadow:0px 2px 8px 0px rgba(168,199,200,0.49);
        border-radius:22px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size:18PX;
        font-family:PingFangSC-Medium,PingFang SC;
        font-weight:500;
        color:rgba(255,255,255,1);
        line-height:normal;
      }
    }
  }
}