.couponCont{
  .couponItem{
    margin: 5px 0 0 7px;
    width: 368px;
    height: 140px;
    background: url(@static/coupon/couponBg.png) no-repeat;
    background-size: 100%;
    padding: 20px 22px 22px 0;
    box-sizing: border-box;
    display: flex;
    .couponPrice{
      width: 112px;
      padding-left: 8px;
      box-sizing: border-box;
      text-align: center;
      .price{
        margin-top: 8px;
        display: flex;
        align-items: flex-end;
        justify-content: center;
        .small{
          font-size:14PX;
          font-family:DINAlternate-Bold;
          font-weight:bold;
          color:rgba(255,255,255,1);
          line-height:16PX;
          margin-bottom: 5px;
          margin-right: 3px;
        }
        .big{
          font-size:30PX;
          font-family:DINAlternate-Bold;
          font-weight:bold;
          color:rgba(255,255,255,1);
          line-height:35PX;
        }
      }
      .jian{
        margin-bottom: 10px;
        font-size:12PX;
        font-family:PingFangSC-Regular;
        font-weight:400;
        color:rgba(255,255,255,1);
        line-height:17PX;
      }
      .btn{
        display: flex;
        justify-content: center;
        align-items: center;
        width:78px;
        height:22PX;
        line-height: normal;
        background:rgba(255,255,255,1);
        border-radius:12px;
        font-size:13PX;
        font-family:PingFangSC-Medium;
        font-weight:500;
        color:rgba(249,104,96,1);
        margin: 0 auto;
      }
    }
    .couponDetail{
      width: 222px;
      padding-left: 13px;
      .title{
        font-size:17PX;
        font-family:PingFangSC-Semibold;
        font-weight:600;
        color:rgba(33,33,33,1);
        line-height:24PX;
        margin-bottom: 1px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
      .desc{
        font-size:11PX;
        font-family:PingFangSC-Regular;
        font-weight:400;
        color:rgba(117,117,117,1);
        line-height:16PX;
        margin-bottom: 9px;
        text-align: justify;
        text-overflow: -o-ellipsis-lastline;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        line-clamp: 2;
        -webkit-box-orient: vertical;
      }
      .time{
        font-size:11PX;
        font-family:PingFangSC-Regular;
        font-weight:400;
        color:rgba(117,117,117,1);
        line-height:15PX;
      }
    }
  }
  .received{
    // background: url(@/assets/images/coupon/couponBgGray.png) no-repeat;
    background: url(@static/coupon/couponBgGray.png) no-repeat;
    background-size: 100%;
    .couponPrice{
      .btn{
        color:rgba(189,189,189,1);
      }
    }
  }
}