
.diseasePicker {
  width: 100%;
  height: 100%;
  background-color: rgba($color: #000000, $alpha: 0.7);
  position: fixed;
  top: 0;left: 0;
  .top{
    position: fixed;
    top:10%;left: 0;
    width:100%;
    display: flex;
    align-items: center;
    padding: 14px 20px;
    box-sizing: border-box;
    background: #fff;
    span:nth-of-type(1) {
        height:22px;line-height:22px;
        font-size:16px;
        color:rgba(96,97,124,1);
    }
    span:nth-of-type(2) {
      height:24px;line-height:24px;
      font-size:17px;
      font-family:PingFangSC-Medium,PingFang SC;
      color:rgba(56,57,91,1);
      margin-left:25px;
    }
  }
  .question{
    width: 100%;height:90%;
    overflow: scroll;
    border-radius: 10px 10px 0 0;
    background: #fff;
    position: fixed;
    bottom: 0;
    z-index: 1000;
    h5{
        width:300px;
        font-size:20px;
        font-family:PingFangSC-Medium,PingFang SC;
        font-weight:500;
        color:rgba(56,57,91,1);
        line-height:20px; 
        margin:17px auto 36px;
        text-align: center;
    }
    .subject{
        padding:70px 0 65px 30px;
        >div{
            margin-bottom:36px;
            .title{
                display: flex;
                align-items: center;
                margin-bottom:23px;
                i{
                  color:red;
                  font-style: normal;
                  margin-right: 5px;
                }
                label{
                    height:22px; line-height:22px;
                    font-size:16px;
                    font-family:PingFangSC-Semibold,PingFang SC;
                    font-weight:600;
                    color:rgba(101,103,229,1);
                }
                span{
                    height:22px; line-height:22px;
                    font-size:16px;
                    font-family:PingFangSC-Medium,PingFang SC;
                    font-weight:500;
                    color:rgba(56,57,91,1);
                }
            }
           .options{
               display: flex;
               align-items: center;
               >div{
                display: flex;
                align-items: center;
                margin-right:40px;
                padding-left:20px;
                img{
                    width:15px;height:15px;
                    flex-shrink:0;
                }
                span{
                    height:16px;line-height:16px;
                    font-size:16px;
                    color:rgba(56,57,91,1);
                    margin-left:12px;
                }
               }
           }
        }
    }
    .saveBtn{
      position:fixed;
      width:100%;height:50px;
      padding-top:10px;
      bottom:0;left:0;
      background:#fff;
      padding-bottom: constant(safe-area-inset-bottom);
      padding-bottom: env(safe-area-inset-bottom);
      text-align: center;
      
      button{
        background: #6567E5;
        color: #fff;
        font-size:15px;
        padding: 12px;
        text-align: center;
        border-radius: 22px;
        width: 85%;
        transform: translateX(-50%);
        position: absolute;
        left:50%;
      }
      button[disabled] {
        background: #bdbdbd !important;
      }
  }
  }
}
