$family1:PingFangSC-Medium;
$family2:DINAlternate-Bold;
.noscroll{
    height:100vh;
    overflow: hidden;
}
.pullBox{
    padding-bottom: constant(safe-area-inset-bottom);
    padding-bottom: env(safe-area-inset-bottom);
}
.checkout{
    padding:0 20px;
    .header{
        display:flex;
        justify-content: space-between;
        align-items: center;
        padding:12px 0 20px;
        >div{
            display:flex;
            justify-content: left;
            align-items: center;
        }
        .left{
            img{
                width:38px;height:38px;
                margin-right:7px;
            }
            span{
                height:18px; 
                line-height:18px;
                font-size:15px;
                font-family:$family1; 
                color:#60617c;
                &.bold{
                    max-width: 130px;
                    overflow:hidden; 
                    text-overflow:ellipsis; 
                    white-space:nowrap; 
                    color:rgba(56,57,91,1);
                }
            }
        }
        .right{
            display: flex;
            align-items: center;
            span{
                height:12px;line-height:12px;
                font-size:12px;
                color:rgba(96,97,124,1);
                margin-right:6px;
            }
            img{
                width:7px;height:12px;
            }
        }
    }
    .title{
        font-size:18px;
        font-family:$family1;
        color:rgba(56,57,91,1);
        line-height:28px;
    }
    .status{
        display: flex;
        align-items: center;
        padding:0 12px 0 10px;
        background:rgba(215,237,254,1);
        box-shadow:0px 2px 4px 0px rgba(0,0,0,0.08);
        border-radius:6px;
        margin:24px 0 50px;
        padding:9px;
        img:nth-of-type(1){
            width:34px;height:18px;
        }
        span{
            //flex:1;
            font-size:12px;
            color:rgba(56,57,91,1);
            width: 240px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
        img:nth-of-type(2){
            width:5px;height:10px;
            margin-left:35px;
        }
    }
    .red{
        background:#FFF0EE;
    }
    .green{
        background:#E4FEEF;
    }
    .status2{
        background:rgba(239,241,251,1);
        box-shadow:0px 2px 4px 0px rgba(0,0,0,0.08);
        .goLock{
            background:#fff;
            width:72px;
            height:22px;line-height:22px;
            text-align: center;
            color:rgba(101,103,229,1);
            border-radius:11px;
        }
        .locking{
            color:#88889D;
            font-size:12px;
            line-height:14px;
        }
        img{
            width:10px !important;height:12.5px !important;
        }
    }
    .describe{
        font-size:14px;
        color:rgba(56,57,91,1);
        line-height:26px;
        text-indent:20px;
        background: url(@static/healthy/ques1.png) no-repeat top 4px left;
        background-size:16px 16px;
    }
    .describe2{
        background: url(@static/healthy/ques1.png) no-repeat top 4px left,
                    url(@static/healthy/ques2.png) no-repeat right bottom;
        background-size: 16px 16px,68px 68px;
    }
}
.firstTime{
    width:100%;height:100vh;
    position: fixed;
    top:0;left:0;
    z-index:999;
    text-align:center;
    background:rgba(0,0,0,.7);
    p{
        height:25px;line-height:25px;
        font-size:15px;
        color:rgba(255,255,255,1);
    }
    p:nth-of-type(1){
        margin-top:268px;
    }
    div{
        display:inline-block;
        height:15px;line-height:15px;
        font-size:15px;
        color:rgba(255,255,255,1);
        padding:10px 35px;
        border-radius:21px;
        border:1px solid rgba(255,255,255,1);
        margin-top:31px;
    }
    .top{
        position: absolute;
        top:-86px;left:0;
        width:100%;height:106px;
        animation:mymove 2.2s infinite;
        -webkit-animation:mymove 2.2s infinite; /*Safari and Chrome*/
    }
    @keyframes mymove
    {
        0% {
            top: -86px
          }
          20% {
            top: 0px
          }
          40% {
            top: -10px
          }
          60% {
            top: -80px
          }
          80% {
            top: -86px
          }
          100% {
            top: -86px
          }
    }
    .bottom{
        position: absolute;
        bottom:-86px;left:0;
        width:100%;height:106px;
        animation:mymove2 2.2s infinite;
        -webkit-animation:mymove2 2.2s infinite; /*Safari and Chrome*/
    }
    @keyframes mymove2
        {
            0% {
                bottom: -86px
              }
              20% {
                bottom: -86px
              }
              40% {
                bottom: -86px
              }
              60% {
                bottom: 0px
              }
              80% {
                bottom: -10px;
              }
        
              100% {
                bottom: -86px
              }
    }
}
.preQnaireTitle,.nextQnaireTitle{
    line-height:16px;
    font-size:12px;
    color:rgba(101,103,229,1);
    padding:0 76px;
    margin-top:6px;
}
.fixedBtn{
    position:fixed;
    bottom:0;left:0;
    width:100%;height:40px;
    background:#fff;
    display: flex;
    justify-content: center;
    align-items: center;
    span{
        color:blue;
        padding:0 10px;
    }
}