$family1:PingFangSC-Medium;
$family2:DINAlternate-Bold;
.black{
    color:#38395B !important;
}
.left0{
    padding-left:0 !important;
}
.left{
    text-align:left !important;
}
.fixTop{
    position: fixed;
    top:0;left:0;
    margin:0 !important;
    width:100%;height:20px;
    p{
        width:100%;height:20px;
        border-radius:20px 20px 0 0;
        background:#fff;
    }
}
.firstTime{
    padding:15px 0 0 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    span{
        line-height:18px;
        font-size:12px;
        font-weight:400;
        color:rgba(136,136,157,1);
        max-height:54px;
    }
}
.chooseSpan{
    line-height:12px;
    font-size:12px;
    color:rgba(136,136,157,1);
    background: url(@static/healthRecords/more.png) no-repeat right;
    background-size:6px 10.5px;
    padding-right:16px;
    width:145px;
    text-align:right;
}
.disease{
    .header{
        display:flex;
        align-items: center;
        justify-content:left;
        background:#D7D7FD;
        width:100%;
        padding:30px 0 50px 20px;
        box-sizing: border-box;
        margin-top:0;
        img{
            width:48px;height:48px;
            margin-right:10px;
        }
        div:nth-of-type(1){
            font-size:15px;
            font-weight:600;
            color:rgba(56,57,91,1);
        }
        div:nth-of-type(2){
            font-size:13px;
            font-weight:400;
            color:rgba(136,136,157,1);
            margin-top:4px;
        }
    }
    .header2{
        background: #D7EDFE !important;
    }
    .history{
        width:100%;
        box-sizing: border-box;
        overflow:scroll;
        background:rgba(255,255,255,1);
        border-radius:20px 20px 0px 0px;
        padding:22px 30px 90px 30px;
        margin-top:-20px;
        z-index:999;
        .chooseSick{
            margin-bottom:30px;
            .thisSick{
                display: flex;
                align-items: center;
                img{
                    width:15px;height:15px;
                    margin-right:10px;
                }
                span{
                    height:15px; line-height:15px;
                    font-size:15px;
                    font-weight:400;
                    color:rgba(56,57,91,1);
                }
            }
          
        }
    
    }
  
}
.mask {
    position: fixed;
    top: 0px; left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    transition-duration: 400ms;
    z-index:99999;
    .allFamily{
        position:fixed;
        left:0;bottom:0;
        background:#fff;
        width:100%;height:282px;
        border-radius:10px 10px 0px 0px;
        padding:16px 20px 0 20px;
        box-sizing: border-box;
        .top{
            display:flex;
            align-items: center;
            justify-content:space-between;
            margin-bottom:20px;
            span:nth-of-type(1){
                height:22px;line-height:22px;
                font-size:16px;
                color:rgba(56,57,91,1);
            }
            span:nth-of-type(2){
                height:20px;line-height:20px;
                font-size:14px;
                color:rgba(136,136,157,1);
            }
            span:nth-of-type(3){
                height:22px;line-height:22px;
                font-size:16px;
                color:rgba(101,103,229,1);
            }
        }
        .familys{
            width:100%;height: auto;
            display:flex;
            flex-flow: row wrap;
            align-content: flex-start;
            div{
                box-sizing: border-box;
                padding:9px 0;
                flex: 0 0 calc(33.33% - 8px);
                display:flex;
                justify-content: center;
                background:rgba(245,245,245,1);
                border-radius:19px;
                margin-bottom:16px;
                margin-right:12px;
                span{
                    height:20px;line-height:20px;
                    font-size:14px;
                    color:rgba(56,57,91,0.8);
                    box-sizing: border-box;
                }
            }
            .blue{
                background:linear-gradient(135deg,rgba(102,107,232,1) 0%,rgba(70,24,170,1) 100%) !important;
                span{
                    color:#fff !important;;
                }
            }
            div:nth-of-type(3n){
                margin-right:0 !important;
            }
        }
    }
  }
  .diseaseRecords{
    .tabs{
        display:flex;
        align-items: center;
        justify-content:space-between;
        width:100%;
        padding:19px 90px 25px;
        box-sizing: border-box;
        position: fixed;
        //top:60px;
        left:0;
        background:#fff;
        z-index:999;
        label{
            position: relative;
            span:nth-of-type(1){
                height:14px; line-height:14px;        
                font-size:14px;
                color:rgba(136,136,157,1);
            }
            span:nth-of-type(2){
                position: absolute;
                top:24px;left:50%;
                width:28px;height:4px;
                background:#fff;
                border-radius:100px;
            }
        }
        .active{
            span:nth-of-type(1){
                height:16px;line-height:16px;
                font-size:16px;
                font-family:$family1;
                font-weight:500;
                color:rgba(56,57,91,1);
            }
            span:nth-of-type(2){
                top:24px;left:50%;
                background:linear-gradient(140deg,rgba(102,107,232,1) 0%,rgba(70,24,170,1) 100%);
                margin-left:-14px;
            }
        }
    }
    .sick{
        padding:60px 20px 90px;
    }
    .sickList{
        padding:21px 10px 19px;
        position: relative;
        .box1{
            display: flex;
            align-items: center;
            justify-content: space-between;
            span{
                height:15px;line-height:15px;
                font-size:15px;
                color:rgba(56,57,91,1);
            }
            img{
                width:13px;height:15px;
            }
        }
    }
    .sickList::after {
        content: '';
        display: block;
        position: absolute;
        left: -50%;
        bottom: 0;
        width: 200%;
        height: 1px;
        background-color:#E1E1E6;
        transform: scale(0.5);
    }
  }
  .noRecords{
      text-align: center;
      div{
        height:24px;line-height:24px;
        font-size:16px;
        color:rgba(136,136,157,1);
        margin:20px 0 34px;
      }
      img{
        width:264px;height:198px;
        margin-top:128px;
      }
      p{
        width:99px;
        height:40px;line-height:40px;
        background:linear-gradient(135deg,rgba(96,100,224,1) 0%,rgba(30,31,181,1) 100%);
        border-radius:20px;
        color:#fff;
        margin:0 auto;
        font-size:14px;
      }
  }
  .noData{
      text-align: center;
      img{
        margin:72px 0 20px;
        width:160px;height:160px;
      }
      p{
        width:200px;height:48px;
        font-size:16px;
        color:rgba(56,57,91,1);
        line-height:24px;
        margin:0 auto;
      }
  }