$highFontColor: rgba(87, 194, 142, 1);
$defaultFontColor: rgba(56, 57, 91, 0.8);
$grayFontColor: rgba(56, 57, 91, 0.6);
$titleFontColor: rgba(56, 57, 91, 1);
$cardMargin: 30px 20px;
$cardPadding: 20px;
$cardRadius: 10px;
$mainBtnBg: linear-gradient(to right, rgba(102, 107, 232, 1), rgba(70, 24, 170, 1));

.bottomMask {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 9;

  .manListOut {
    background: #fff;
    border-radius: 10px 10px 0 0;
    position: absolute;
    bottom: 0;
    width: 100%;
    color: $titleFontColor;
    > ul {
      overflow: scroll;
      max-height: 250px;
      min-height: 180px;
      list-style-type: none;
      margin: 0;
      padding: 0;
    }
    .titMans {
      display: flex;
      justify-content: space-between;
      padding: 15px 20px;

      span {
        font-size: 16px;
        font-weight: 500;
      }
      img {
        width: 15px;
        height: 15px;
      }
    }

    li {
      padding: 7px 20px;
      position: relative;
      display: flex;
      align-items: center;
      border-top: 0.5PX solid rgba(0, 0, 0, 0.2);
      img {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        border: 3px solid #eff1fb;
        vertical-align: middle;
        margin-right: 5px;
      }

      .selected {
        width: 14px;
        height: 10px;
        border: none;
        border-radius: 0;
        position: absolute;
        right: 15px;
        top: 24px;
      }

      i {
        font-style: normal;
        font-size: 14px;
        vertical-align: middle;
      }
    }
    li.unusable{
      opacity: 0.4;
    }
  }
}
