$v: 1vw/3.75;
.stand {
    height: 20 * $v;
}
.shareBanner {
    position: fixed;
    width: 100vw;
    bottom: 0;
    z-index: 20;
    > section {
        height: 50 * $v;
        background-color: #eaf6ff;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 20 * $v;
        > img {
            height: 20 * $v;
        }
        > div {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            > div {
                margin-right: 9 * $v;
                > p {
                    font-weight: bold;
                    color: #38395b;
                    font-size: 11 * $v;
                    line-height: 15 * $v;
                    text-align: right;
                }
            }
            > img {
                width: 38 * $v;
                height: 38 * $v;
            }
        }
    }
}
