@import "../../report4_2.scss";

.evaluation {
  @include title();
  > div:nth-of-type(3) {
    margin: 15px;
    @include describe();
    padding-bottom: 0;
    margin-bottom: 10px;
  }
  > div:nth-of-type(4) {
    position: relative;
    margin: 15px;
    padding-bottom: 10px;
    border: 0.5px solid rgba($color: #cecece, $alpha: 0.5);
    border-radius: 6px;
    > div:nth-of-type(1) {
      display: flex;
      padding: 25px 21px;
      font-size: 16px;
      align-items: flex-start;
      line-height: 24px;
      color: #38395b;
      font-weight: 600;
      > img {
        width: 25px;
        height: 34px;
        margin-right: 10px;
        margin-top: 5px;
      }
    }
  }
}
.checkBox {
  display: flex;
  padding: 0 21px;
  > div:nth-of-type(1) {
    flex-shrink: 0;
    width: 30px;
    height: 30px;
    transform: scale(0.5);
    transform-origin: 0% 0%;
    border: #6567e5 solid 3px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    margin-top: 3px;
    > div {
      flex-shrink: 0;
      width: 10px;
      height: 10px;
      background-color: #6567e5;
      border-radius: 3px;
    }
  }
  > div:nth-of-type(2) {
    @include describe();
    color: #60617c;
    line-height: 21px;
    margin-top: 0;
    padding-bottom: 15px;
    width: 240px;
  }
}
.singleElec {
  border-radius: 50% !important;
  > div {
    border-radius: 50% !important;
  }
}
.conclusion {
  position: relative;
  margin: 15px;
  margin-bottom: 20px;
  background-color: #6567e5;
  border-radius: 6px;
  padding: 17px 15px;
  color: #fff;
  z-index: 1;
  > div:nth-of-type(2) {
    font-size: 18px;
    line-height: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    > div {
      width: 50px;
      display: flex;
      justify-content: center;
    }
    > p {
      @include divLine();
      display: inline-block;
      width: 108px;
      margin: 0;
      opacity: 0.5;
    }
  }
  > div:nth-of-type(1) {
    width: 25px;
    height: 25px;
    background-color: #6567e5;
    transform: rotate(45deg);
    position: absolute;
    top: -5px;
    left: 140px;
    z-index: -1;
  }
  > p {
    margin-top: 8px;
    font-size: 15px;
    line-height: 26px;
    opacity: 0.8;
    text-align: justify; //文本两端对齐
    text-align-last: left; //最后一行左对齐
    word-break: normal;
    word-wrap: break-word;
  }
  > img {
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0.5;
  }
}
.integration{
  position:absolute;
  right:13px;top:-35px;
}