.myPages {
    position: relative;
    .shareBox {
        width: 37px;
        height: 30px;
        background: #F26A3C;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
        position: absolute;
        right: 0px;
        top: 40px;
        z-index: 100;
        display: flex;
        justify-content: center;
        align-items: center;
        img {
            width: 16px;
        }
    }
    .sharebox1{
        position: fixed;
        top:0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0,0,0, .7);
        z-index: 200;
        img{
          position: absolute;
          width: 100%;
          top: 20px;
          right: 0;
        }
      }
    .myLandPage {
        // background: url(@static/landPage_back.png) no-repeat;
        // background-size:100% 1052px; 
        // height: 1407px;
        // text-align: center;
        overflow-y: hidden;
        -webkit-overflow-scrolling: touch;
        position: relative;
        height: 1052px;
        .myBack {
            height: 1052px;
        }
        .ctn {
            position: absolute;
            left:0px;
            top: 564px;
            text-align: center;
            .coupon {
                width: 100%;
                display: flex;
                justify-content: center;
                div {
                    position: relative;
                    width: 290px;
                    height: 86px;
                    img {
                     width: 100%;   
                    }
                    span {
                        display: inline-block;
                        width:32px;
                        height:32px;
                        font-size:14px;
                        font-size: 14px;
                        font-family:PingFangSC-Regular;
                        font-weight:400;
                        color:rgba(170,57,47,1);
                        line-height:16px;
                        position: absolute;
                        top: 30px;
                        right: 32px;
                    }
                }
                
            }
            .type1 {
                display: flex;
                padding: 0 14px;
                justify-content: space-between;
                margin: 14px 0 6px 0;
                >div{
                    width: 48%;
                    position: relative;
    
                }
            }
            .type2 {
                display: flex;
                padding: 0 14px;
                position: relative;
                img {
                    width: 100%;
                    height: 160px;
                }
            }
            .purBtn {
                width: 76px;
                height: 24px;
                border-radius:12px;
                border:1px solid rgba(233,95,78,1);
                font-size:12px;
                font-family:PingFangSC-Medium,PingFang SC;
                font-weight:500;
                color:rgba(233,95,78,1);
                line-height:24px;
                position: absolute;
                bottom: 12px;
            }
            .purBtn1{
                left: 6px;
            }
            .purBtn2{
                left: 51%;
            }
          
        }
    }
    .myTip {
        padding: 30px 15px;
        background: #FBEBCA;
    }
}
