.groups span{
    display:inline-block;
}
.goBack{
    display:block;
    width:30px;height:30px;
    margin:29px 0 5px 15px;
}
.noscroll{
    overflow: hidden;
    height: 100vh;
}
.groupsDes{
    padding:20px 20px 40px;
    background: linear-gradient(to bottom,#ffffff,#FFF0EE); 
    position: relative;
    margin-bottom:49px;
    .title{
        padding-right:90px;
        color:#440817;
        font-size:20px;
        font-family: 'PingFangSC-Medium';
    }
    .info{
        margin:10px 0 8px;
    }
    .info span:nth-of-type(1){
        display: inline-block;
        line-height:17px;
        color:rgba(68,8,23,.6);
        font-size:12px;
        margin-right:21px;
    }
    .info span:nth-of-type(2){
        display: inline-block;
        line-height:17px;
        color:#440817;
        font-size:12px;
    }
    .level span{
        display: inline-block;
        line-height:17px;
        color:rgba(68,8,23,.6);
        font-size:12px;
        margin-right:10px;
        vertical-align: middle;
    }
    .level img{
        width:16px;height:16px;
        vertical-align: middle;
    }
    .book{
        margin:8px 0 0;
        span{
            height:18px;
            line-height:18px;
            border-radius:9px;
            background:#FFF0EE;
            color:#FF835C;
            padding:0 8px;
            margin-right:4px;
            margin-bottom:4px;
        }
    }
    .thisMatch{
        position: absolute;
        top:24px;right:0;
        width:100px;height:28px;
        line-height:20px;
        padding:4px 0;
        color:#fff;
        font-size:14px;
        border-radius: 0 0 0 100px;
        background: linear-gradient(to bottom,#FF8360,#FE7763); 
        box-shadow: 0 4px 8px 0 rgba(252, 205, 177, 1);
        text-align:center;
        font-family: 'PingFangSC-Medium';
    }
}
.infoTitle{
    width:100%;
    padding-top:25px !important;
    padding-bottom:17px;
    .medium{
        font-family: 'PingFangSC-Medium';
    }
    img:nth-of-type(1){
        display: inline-block;
        width:24px;height:24px;
        vertical-align: middle;
    }
    img:nth-of-type(2){
        display: inline-block;
        width:18px;height:18px;
        float:right;
        margin-top:3px;
    }
    span{
        display: inline-block;
        vertical-align: middle;
        font-size:16px;
        color:#440817;
        height:22px;
        line-height:22px;
        margin-left:6px;
    }
}
.infoDes{
    width:100%;height:auto;
    text-align:center;
    padding:32px 40px 20px;
    background:#fff;
    border-radius:10px;
    box-shadow:0 0 10px 0 rgba(252,205,177,0.4);
    .circle{
        width:139px;height:139px;
        padding:6px 7px 7px 8px;
        margin:0 auto;
        position: relative;
        .matchValue{
            position: absolute;
            width:50px;
            text-align:center;
            top:29px;left:41px;
            font-size:40px;
            color:rgba(68, 8, 23, 1);
            font-family: 'PingFangSC-Medium';
        }
        .matchB{
            position: absolute;
            top:54px;right:34px;
            color:#440817;
        }
        .matchResults{
            position: absolute;
            top:74px;left:34px;
            color: rgba(68, 8, 23, 0.8);
            font-size:14px;
            line-height:24px;
            font-family:'SourceHanSerif-1d9e7edf7620dfc';
            font-weight:bold;
        }
    }
    .advise span{
        font-size:20px;
        padding:11px 0 3px 0;
        color:rgba(68, 8, 23, 1);
        border-bottom:0.5px dashed rgba(68, 8, 23, 0.3);
        font-family:'SourceHanSerif-1d9e7edf7620dfc';
        font-weight:bold;
        margin-bottom:5px;
    }
    .des span{
        line-height:24px;
        color:rgba(68, 8, 23, 0.8);
        font-size:14px;
        font-family:'SourceHanSerif-1d9e7edf7620dfc';
        border-bottom:0.5px dashed rgba(68, 8, 23, 0.3);
    }
    .des img{
        width:16px;height:16px;
        vertical-align: middle;
    }
    .geneName{
        color:#440817;
        label{
            display: inline-block;
            font-size:12px;
            line-height:24px;
            padding:0 4px;
            border-bottom:0.5px dashed #E2D9DC;
        }
    }
    .geneName2{
        max-height:24px;
        overflow: hidden;
    }
    .btns{
        margin-top:32px;
        span{
            display:inline-block;
            width:104px;height:36px;
            border-radius:20px;
            label{
                margin-left:14px;
                line-height:36px;
                font-size:14px;
            }
        }
        .yes1{
            background:url('@static/skinBeauty/yes.png') #FDF3EE 29px 11px no-repeat;
            background-size:14px 14px;
            margin-right:10px;
            label{
                color:#FF835C;
            }
        }
        .no1{
            background:url('@static/skinBeauty/no.png') #FDF3EE 22px 11px no-repeat;
            background-size:14px 14px;
            label{
                color:#FF835C;
            }
        }
        .yes2{
            background:url('@static/skinBeauty/yes2.png') #FF8360 29px 11px no-repeat;
            background-size:14px 14px;
            margin-right:10px;
            label{
                color:#fff;
            }
        }
        .no2{
            background:url('@static/skinBeauty/no2.png') #FF8360 22px 11px no-repeat;
            background-size:14px 14px;
            label{
                color:#fff;
            }
        }
    }
}
.noMatch{
    .name{
        margin:78px 0 71px;
        label{
            line-height:21px;
            color:rgba(68, 8, 23, 1);
            font-size:14px;
            font-weight:bold;
            border-bottom:0.5px dashed rgba(68, 8, 23, 0.3);
            font-family: 'SourceHanSerif-1d9e7edf7620dfc';
            padding-bottom:3px;
        }
    }
    
}
.goLock{
    margin-bottom:16px;
}
.suo3{
    border-radius:10px;
    box-shadow:0 0 10px 0 rgba(252,205,177,0.4);
}
.groupTip{
    position: relative;
    background:#fff;
    box-shadow:0 0 10px 0 rgba(252,205,177,0.4);
    padding:20px;
    border-radius:10px;
    font-size:12px;
    color:#440817;
    line-height:24px;
    .maxH{
        max-height:96px;
        overflow: hidden;
    }
    .upOrDown{
        width:76px;height:24px;
        line-height:24px;
        margin:10px auto 0;
        color:#D17855;
        border-radius:13.5px;
        font-size:12px;
        span{
            margin-left:8px;
        }
    }
    .down{
        background:url('@static/skinBeauty/showAll.png') #FFD9CF 59px no-repeat;
        background-size:10px 6px;
    }
    .up{
        background:url('@static/skinBeauty/showOne.png') #FFD9CF 59px no-repeat;
        background-size:10px 6px;
    }
    .jianbian{
        position: absolute;
        width:100%;height:50px;
        bottom:45px;left:0;
        background: linear-gradient(to bottom,#FAFAFA00,#FCFCFC82,#FFFFFF) !important; 
    }
}
.tagListBox {
    box-sizing: border-box;
    overflow: hidden;
    position: relative;
    margin-bottom:20px;
    .toRight{
        position: absolute;
        top:0px;right:0px;
        width:16px;height:12px;
        z-index:99;
        // background:url('@static/skinBeauty/right.png') #FFF0EE right no-repeat;
        background:url('@static/skinBeauty/right.png') right no-repeat;
        background-size:7px 12px;
    }
  }
  .tagList {
    overflow-x: scroll;
    transition: 0.2s all linear;
    border-bottom:1px solid rgba(233, 188, 171, 0.6);
    &::-webkit-scrollbar {
      display: none;
    }
  }
  .tag {
    width: max-content;
    height:23px;
    margin-top:1px;
    span {
      text-align: center;
      position: relative;
      float: left;
      color: rgba(209,120,85,0.6);
      font-size: 14px;
      line-height: 14px;
      height:23px;
      margin-right:24px;
    }
    .active {
      color: #D17855;
      font-size: 14px;
      border-bottom:2px solid #D17855;
    }
  }
  .waiting{
    position: relative;
    margin-top:17px;
    box-shadow: 0 0 10 0 rgba(252, 205, 177, 0.4) !important;
    p:nth-of-type(1){
        position: absolute;
        top:176px;left:114px;
        color:rgba(68, 8, 23, 1);
        font-size:18px;
        font-family: 'PingFangSC-Medium';
        line-height:25px;
    }
    p:nth-of-type(2){
        position: absolute;
        top:209px;left:54px;
        color:rgba(68, 8, 23, 0.6);
        font-size:12px;
        line-height:17px;
    }
}