.myPages {
    position: relative;
    .imgbox {
        font-size: 0px;
        img {
            width: 100%;
        }
    }
    .shareBox {
        width: 37px;
        height: 30px;
        background: #F26A3C;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
        position: absolute;
        right: 0px;
        top: 40px;
        z-index: 100;
        display: flex;
        justify-content: center;
        align-items: center;
        img {
            width: 16px;
        }
    }
    .sharebox1{
        position: fixed;
        top:0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0,0,0, .7);
        z-index: 200;
        img{
          position: absolute;
          width: 100%;
          top: 20px;
          right: 0;
        }
      }
    .myLandPage {
        position: relative;
        font-size: 0px;
        >img {
            width: 100%;
        }
        .ctn {
            padding-bottom: 28px;
            text-align: center;
            background:#FFFCF9;
            .coupon {
                width: 100%;
                display: flex;
                justify-content: center;
                div {
                    position: relative;
                    img {
                     width: 100%;   
                    }
                    span {
                        display: inline-block;
                        width:32px;
                        height:32px;
                        font-size:14px;
                        font-size: 14px;
                        font-family:PingFangSC-Regular;
                        font-weight:400;
                        color:rgba(170,57,47,1);
                        line-height:16px;
                        position: absolute;
                        top: 38px;
                        right: 49px;
                    }
                }
                
            }
            .type1 {
                display: flex;
                // padding: 0 5px;
                justify-content: space-between;
                >div{
                    // width: 48%;
                    position: relative;
    
                }
            }
            .type2 {
                display: flex;
                // padding: 0 5px;
                position: relative;
                img {
                    width: 100%;
                    height: 100%;
                }
            }
            .purBtn {
                width:99px;
                height:29px;
                background:rgba(255,131,95,1);
                border-radius:18px;
                font-size:14px;
                font-family:PingFangSC-Regular,PingFang SC;
                font-weight:400;
                color:rgba(255,255,255,1);
                line-height:29px;
                position: absolute;
                bottom: 26px;
            }
            .purBtn1{
                left: 22px;
            }
            .purBtn2{
                left: 22px;
            }
          
        }
    }
    .myTip {
        padding: 30px 15px;
        background: #FBEBCA;
    }
}
