$family1:PingFangSC-Medium;
$family2:DINAlternate-Bold;

  //匹配度
  .matchCircle{
    margin:0px auto;
    width:198px;height:198px;
  }

  .mask {
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    transition-duration: 400ms;
    z-index:99;
  }
  .tips{
    width:310px;
    padding:40px 20px 24px;
    box-sizing: border-box;
    position:fixed;
    top:50%;left:33px;
    background:#fff;
    border-radius:10px;
    z-index:9999;
    .close{
        width:18px;height:18px;
        position: absolute;
        top:16px;right:16px;
    }
    .name{
        height:22px;
        font-size:16px;
        font-family:$family1;
        color:rgba(56,57,91,1);
        line-height:22px;
        margin-bottom:14px;
        text-align:center;
    }
    .desc{
      font-size:14px;
      color:rgba(56,57,91,0.8);
      line-height:24px;
    }
    .img2{
      width:217px;height:58px;
      margin-left:24px;
    }
    .recharge3{
      width:251px;height:60px;
      margin-left:17px;
    }
    .recharge4{
      width:240px;height:86px;
      margin-left:17px;
    }
    .bottom45{
      margin-bottom:45px;
    }
  }
  .tipsLong{
    width:310px;height:450px;
    padding:40px 20px 24px;
    box-sizing: border-box;
    position:fixed;
    top:50%;left:33px;
    background:#fff;
    border-radius:10px;
    z-index:999999;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE 10+ */
    ::-webkit-scrollbar {
      display: none; /* Chrome Safari */
    }
    .close{
      width:18px;height:18px;
      position: absolute;;
      top:16px;right:16px;
  }
  .name{
    height:22px;
    font-size:16px;
    font-family:$family1;
    color:rgba(56,57,91,1);
    line-height:22px;
    margin-bottom:14px;
    text-align:center;
}
  .scrollBox{
    height:350px;
    overflow:scroll;
    p{
      font-size:14px;
      color:rgba(56,57,91,0.8);
      line-height:24px;
    }
  }
  
  }
  .noReport{
    width:310px;
    padding:12px 20px 24px;
    box-sizing: border-box;
    position:fixed;
    top:50%;left:33px;
    background:#fff;
    border-radius:10px;
    z-index:9999;
    text-align: center;
    img{
      width:110px;height:96px;
    }
    p{
      font-size:16px;
      font-family:$family1;
      color:rgba(56,57,91,1);
      line-height:22px;
      margin:16px 0 14px;
    }
    div{
      width:124px;line-height:40px;
      border-radius:23px;
      font-size:15px;
    }
    .cancelBtn{
      float:left;
      background:rgba(239,239,252,1);
      color:rgba(101, 103, 229, 1);
    }
    .goBuy{
      float:right;
      color:#fff;
      background:linear-gradient(148deg,rgba(102,107,232,1) 0%,rgba(70,24,170,1) 100%);
    }
  }
.noLottie{
    img{
      width:110px;height:96px;
    }
    p{
      height:24px;line-height:24px;
      font-size:16px;
      font-family:$family1;
      color:rgba(56,57,91,1);
    }
}
.goTry{
  width:270px !important;height:40px;
  line-height:40px;
  border-radius:20px;
  color:#fff;
  margin-top:15px;
  font-size:14px;
  background:linear-gradient(148deg,rgba(102,107,232,1) 0%,rgba(70,24,170,1) 100%);
}
.hasLottie{
    position: relative;
    width:310px;
    padding:20px 20px 24px;
    box-sizing: border-box;
    position:fixed;
    top:188px;left:33px;
    background:#fff;
    border-radius:10px;
    z-index:9999;
    text-align: center;
    .coupon{
      width:264px;height:80px;
      background: url(@static/integration/coupon.png) no-repeat;
      background-size:100% 100%;
      position: relative;
      .couponleft{
        position:absolute;
        left:27px;top:14px;
        label{
          font-size:14px;
          font-family:$family2;
          color:rgba(211,57,50,1);
          height:20px;line-height:20px;
        }
        span{
          height:53px;line-height:53px;
          font-size:38px;
          font-family:$family2;
          color:rgba(211,57,50,1);
        }
      }
      .border{
        position:absolute;
        left:100px;top:20px;
        width:1px ;height:40px;
        background:#F9CBAA;
      }
      .couponright{
        position:absolute;
        top:24px;left:107px;
        text-align: left;
        p:nth-of-type(1){
          height:20px;line-height:20px;
          font-size:14px;
          font-family:$family2;
          color:rgba(163,97,66,1);
        }
        p:nth-of-type(2){
          height:12px;line-height:12px;
          font-size:9px;
          color:rgba(163,97,66,1);
        }
      }
    }
    .desc{
      text-align: left;
      margin:8px 0 12px 10px;
      label{
        display:inline-block;
        width:2px;height:2px;
        vertical-align:middle;
        margin-right:6px;
        background:rgba(117,117,117,1);
      }
      span{
        height:13px;line-height:13px;
        font-size:10px;
        color:rgba(117,117,117,1);
        vertical-align:middle;
      }
    }
    .p1{
      height:24px;line-height:24px;
      font-size:16px;
      font-family:$family2;
      color:rgba(56,57,91,1);
    }
    .p2{
      height:24px;line-height:24px;
      font-size:14px;
      color:rgba(136,136,157,1);
    }
   
}
.hasCoupon{
  img{
    width:110px;height:96px;
    margin-bottom:12px;
  }
  p{
    height:24px;line-height:24px;
    font-size:16px;
    font-family:$family2;
    color:rgba(56,57,91,1);
    margin:0;
  }
  span{
    display: inline-block;
    height:20px;line-height:20px;
    font-size:14px;
    color:rgba(136,136,157,1);
  }
  .yourPoints{
    position: absolute;
    top:37px;left:100px;
    text-align: center;
    width:110px;height:45px;
    font-size:38px;
    font-family:$family1;
    color:rgba(255,250,236,1);
    line-height:45px;
    text-shadow:0px 4px 6px rgba(247,181,0,1);
  }
}
.tegether{
  p{
    margin:0;
  }
  p:nth-of-type(1){
    margin-top:12px !important;
  }
  p:nth-of-type(2){
    margin-bottom:20px !important;
  }
}
  .bboo{
    display: flex;
    justify-content: space-between;
  }
  .bboo img{
    position: absolute;
    top:-50px;
    width:30px;height:30px;
  }
  .bboo .point1{left: 5%;}
  .bboo .point2{left: 15%;}
  .bboo .point3{left: 35%;}
  .bboo .point4{left: 45%;}
  .bboo .point5{left: 67%;}
  .bboo .point6{left: 80%;}
  .bboo .point7{left: 89%;}

  //关注微信公众号
  .subscribeWechat{
    text-align: center;
    .wechat{
      width:124px;height:124px;
      margin:20px 0;
    }
    h5{
      position: absolute;
      left:60px;top:18px;
      width:189px;
      height:24px;line-height:24px;
      font-size:17px;
      font-family:$family1;
      font-weight:500;
      color:#38395B;
    }
    p{
      height:12px; line-height:12px;
      font-size:11px;
      color:rgba(96,97,124,1);
      text-align:left;
      margin-left:10px !important;
    }
    p:nth-of-type(1){
      margin:12px 0 7px;
    }
    .text{
      line-height:22px;
      font-size:14px;
      font-weight:400;
      color:rgba(56,57,91,0.8);
      text-align:left;
    }
    .text:nth-of-type(1){
      margin-top:24px;
    }
    .text:nth-of-type(3){
      margin-bottom:30px;
    }
    .doImg{
      width:220px;height:67px;
      margin:16px 0 20px;
    }
  }

  .tasks{
    margin-top:36px;
    .title{
        display: flex;
        align-items: center;
        margin-bottom:16px;
        justify-content: space-between;
        p{
            height:20px;line-height:20px;
            font-size:20px;
            font-family:$family1;
            color:rgba(56,57,91,1);
        }
        span{
            display: inline-block;
            width:72px;
            height:14px;line-height:14px;
            border-radius:12px;
            padding:4px 0;
            border:1px solid rgba(136,136,157,1);
            font-size:12px;
            font-weight:400;
            color:rgba(96,97,124,1);
            text-align:center;
        }
    }
  }
  
  .productList{
    display:flex;
    flex-flow: row wrap;
    justify-content:space-between;
    align-content: flex-start;
    padding:24px 24px 0;
    background:rgba(255,255,255,1);
    box-shadow:0 2px 8px 0 rgba(0, 0, 0, 0.1);
    border-radius:10px;
  }
  .productListBox{
    flex: 0 0 calc(50% - 7.5px);
    text-align: center;
    padding-bottom:24px;
    .productImg{
      height:102px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius:11px;
      img{
        max-height:102px;
        border-radius:11px;
      }
    }
    
    h5{
        height:16px;line-height:16px;
        font-size:15px;
        font-family:$family1;
        font-weight:500;
        color:rgba(56,57,91,1);
        margin:16px 0 8px;
        text-align:left;
    }
    .amounts{
        display: flex;
        align-items: center;
        img{
            width:16px;height:16px;
            margin-right:2px;
        }
        span{
           // height:16px; line-height:16px;
            font-size:16px;
            font-weight:400;
            color:rgba(255,110,90,1);
            font-family:$family2;
        }
        label{
          //  height:12px;line-height:12px;
            font-size:12px;
            font-weight:400;
            color:rgba(255,110,90,1);
            padding:0 2px;
            font-family:PingFangSC-Regular,PingFang SC !important;
        }
    }
  }
  .productList2{
    display:flex;
    flex-flow: row wrap;
    justify-content:space-between;
    align-content: flex-start;
    .productListBox{
      flex: 0 0 calc(50% - 5.5px);
      text-align: center;
      padding:16px 17px;
      background:rgba(255,255,255,1);
      border-radius:10px;
      border:1px solid rgba(243,244,246,1);
      box-sizing: border-box;
      margin-bottom:11px;
      h5{
        text-align: center !important;
      }
      .amounts{
        justify-content: center !important;
      }
    }
  }
  .taskBtn{
    width:76px;
    height:16px;line-height:16px;
    padding:6px 0;
    font-size:12px;
    background:rgba(101,103,229,1);
    box-shadow:2px 5px 8px 0px rgba(198,195,236,1);
    border-radius:20px;
    color:#fff;
    text-align:center;
    margin:10px auto 0;
}

.bottomBtn{
  width:100%;height:60px;
  display: flex;
  align-items: center;
  justify-content: center;
  background:#fff;
  position:fixed;
  bottom:0;left:0;
  box-shadow:0px -1px 4px 0px rgba(0,0,0,0.04);
  padding-bottom: constant(safe-area-inset-bottom);
  padding-bottom: env(safe-area-inset-bottom);
  .twoBtn{
    display: flex;
    align-items: center;
    padding:0 20px;
    justify-content: space-between;
    width: 100%;
    button{
      width:160px;
      line-height:16px;
      background:rgba(239,239,252,1);
      border-radius:20px;
      padding:12px 0;
      font-size:16px;
      font-weight:400;
      color:rgba(101,103,229,1);
      box-sizing: border-box;
    }
    button:nth-of-type(2){
      background:linear-gradient(135deg,rgba(96,100,224,1) 0%,rgba(30,31,181,1) 100%);
      border-radius:20px;
      color:#fff;
    }
  }
  .oneBtn{
    button{
      height:40px;line-height:40px;
      width:335px;
      background:linear-gradient(135deg,rgba(96,100,224,1) 0%,rgba(30,31,181,1) 100%);
      border-radius:20px;
      font-size:14px;
      font-weight:400;
      color:rgba(255,255,255,1);
  }
  .btn1{
    background: #C3C3CD !important;
  }
  }
 
}
.goodsSquare{
  display: flex;
  padding:16px 14px;
  align-items: top;
  .leftImg{
    width:80px;height:80px;
    margin-right:17px;
    border-radius: 10px;
  }
  p{
      height:16px;line-height:16px;
      font-size:16px;
      font-family:$family1;
      font-weight:500;
      color:rgba(56,57,91,1);
      margin:10px 0 26px;
  }
  .amounts{
      display: flex;
      align-items: center;
      img{
          width:16px;height:16px;
          margin-right:2px;
      }
      span{
          height:16px; line-height:16px;
          font-size:16px;
          font-weight:400;
          color:rgba(255,110,90,1);
          font-family: $family2;
      }
      label{
          height:12px;line-height:12px;
          font-size:12px;
          font-weight:400;
          color:rgba(255,110,90,1);
          padding:0 2px;
      }
      .marketPrices{
          text-decoration:line-through;
          height:12px; line-height:12px;
          font-size:12px;
          font-weight:400;
          color:#AFB0BD;
          margin-left:4px;
      }
  }
}
.payDeatil{
  background:rgba(255,255,255,1);
  box-shadow:0px 0px 20px 0px rgba(224,224,224,1);
  border-radius:10px;
  padding:16px;
  margin-bottom:16px !important;
  >div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom:16px;
  }
  div:last-child{
   margin-bottom:0 !important;
  }
  label{
    height:14px;line-height:14px;
    font-size:14px;
    font-weight:400;
    color:rgba(56,57,91,1);
  }
  span{
    height:14px;line-height:14px;
    font-size:14px;
    font-weight:400;
  }
  .money{
      span{
        color:rgba(136,136,157,1);
      }
  }
  .point{
    p{
      display: flex;
      justify-content: space-between;
      align-items: center;
      img{
        width:14px;height:14px;
        margin-right:3px;
    }
    span{
      font-family:$family1;
      color:rgba(255,113,87,1);
    }
  }
  }
}
.card{
  width:100%;height:365px;
  background: url(@static/integration/orderBg.png) no-repeat;
  background-size:100% 100%;
  margin-bottom:16px !important;
  padding:30px 15px 0;
  box-sizing: border-box;
  .info{
      display:flex;
      align-items: center;
      justify-content: center;
      margin-bottom:20px;
      div{
        display:flex;
        align-items: center;
      }
      p{
          width:250px;
          text-align: left;
      }
      span{
          height:14px;
          font-size:14px;
          color:rgba(56,57,91,1);
          line-height:14px;
      }
      span:nth-of-type(1){
          font-family:$family1;
      }
      img{
          width:12px;height:12px;
          margin:0 2px 0 12px;
      }
      label{
          height:12px;line-height:12px;
          font-size:12px;
          font-weight:400;
          color:rgba(101,103,229,1);
      }
  }
  .more{
      width:260px;
      background:linear-gradient(135deg,rgba(96,100,224,1) 0%,rgba(30,31,181,1) 100%);
      border-radius:20px;
      height:22px;line-height:22px;
      padding:9px 0;
      font-size:16px;
      font-weight:400;
      color:rgba(255,255,255,1);
      text-align: center;
      margin:19px auto 66px;
  }       
  h5{
      height:22px; line-height:22px;
      font-size:16px;
      font-family:$family1;
      font-weight:500;
      color:rgba(55,57,91,1);
      text-align: center;
      margin-bottom:15px;
  } 
  .cardtips{
      line-height:21px;
      font-size:14px;
      font-weight:400;
      color:rgba(136,136,157,1);
      text-align: left;
  }
}

.pay{
  background:rgba(255,255,255,1);
  box-shadow:0px 0px 20px 0px rgba(224,224,224,1);
  border-radius:10px;
  padding:16px;
  margin:16px 0 !important;
  div:nth-of-type(1){
      margin-bottom:16px;
  }
  >div{
      display: flex;
      justify-content: space-between;
      align-items: center;
      p{
          display: flex;
          align-items: center;
          img{
             width:30px;height:30px;
             margin-right:12px;
          }
          span{
              height:14px;line-height:14px;
              font-size:14px;
              font-weight:400;
              color:rgba(56,57,91,1);
          }
      }
      >img{
          width:16px;height:16px;
      }
  }
}

.records{
  background:rgba(255,255,255,1);
  box-shadow:0px 2px 10px 0px rgba(0,0,0,0.08);
  border-radius:10px;
  margin-bottom:16px !important;
  .top,.middle,.bottom{
      display: flex;
  }
  .top{
      align-items: center;
      justify-content: space-between;
      padding:16px 15px 0 14px;
      p{
          height:12px; line-height:12px;
          font-size:12px;
          font-family:$family1;
          font-weight:500;
          color:rgba(56,57,91,1);
      }
      div{
          width:68px;line-height:12px;
          padding:6px 0;
          text-align: center;
          border-radius:16px;
          border:1px solid rgba(56,57,91,0.4);
          font-size:12px;
          font-weight:400;
          color:rgba(56,57,91,1);
      }
  }
  .middle{
      padding:10px 0 11px 14px;
      align-items: top;
      >img{
          width:80px;height:80px;
          margin-right:17px;
          border:1px solid #ccc;
      }
      p{
          height:16px;line-height:16px;
          font-size:16px;
          font-family:$family1;
          font-weight:500;
          color:rgba(56,57,91,1);
          margin:10px 0 26px;
      }
  }
  .bottom{
      display:flex;
      align-items: center;
      justify-content:flex-end;
      padding:11px 15px 15px 0;
      position: relative;
      p{
          width:68px;
          border-radius:17px;
          border:1px solid rgba(56,57,91,0.4);
          height:12px;line-height:12px;
          font-size:12px;
          font-weight:400;
          color:rgba(56,57,91,1);
          padding:6px 0;
          text-align: center;
      }
      p:nth-of-type(1){
          margin-right:8px;
      }
      p:nth-of-type(2){
         color:#6567E5;
         border:1px solid #6567E5;
      }
  }
  .bottom :before{
      content: '';
      display: block;
      position: absolute;
      left: -50%;
      top: 0;
      width: 200%;
      height: 1px;
      background-color:#E1E1E6;
      transform: scale(0.5);
  }
}

.payPicker {
  width: 100%;height: 100%;
  background-color: rgba($color: #000000, $alpha: 0.7);
  position: fixed;
  top: 0;left: 0;
  > div {
    width: 100%;
    position: fixed;
    bottom: 0;
    z-index: 1000;
    border-radius: 10px 10px 0 0;
    background-color: #fff;
    padding-bottom: constant(safe-area-inset-bottom);
    padding-bottom: env(safe-area-inset-bottom);
    .top{
      display:flex;
      align-items:center;
      justify-content: space-between;
      padding:20px;
      border-bottom:solid 1px #E1E1E6;;
      span{
          height:16px;line-height:16px; 
          font-size:16px;
          font-family:$family1;
          color:rgba(56,57,91,1);
      }
      img{
          width:16px;height:16px;
      }
  }
  .scrollBox{
    padding:0 16px 20px;
    >div{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding:14px 0;
        position: relative;
        p{
            display: flex;
            align-items: center;
            img{
               width:30px;height:30px;
               margin-right:12px;
            }
            span{
                height:14px;line-height:14px;
                font-size:14px;
                font-weight:400;
                color:rgba(56,57,91,1);
            }
        }
        >img{
            width:17px;height:18px;
        }
    }
    >div::before{
      content: "";
      position: absolute;
      top: -50%;bottom: -50%;
      left: -50%;right: -50%;
      width: 200%;height: 200%;
      -webkit-transform: scale(0.5);
      transform: scale(0.5);
      border-bottom: solid 1px #E1E1E6;
      box-sizing:border-box;
  }
  }
  }
}
.blueBtn{
    display: inline-block;
    width:335px;
    line-height:20px;
    padding:10px 0;
    background:linear-gradient(135deg,rgba(96,100,224,1) 0%,rgba(30,31,181,1) 100%);
    border-radius:20px;
    font-size:14px;
    font-weight:400;
    color:rgba(255,255,255,1);
}
.greenBtn{
  background:linear-gradient(313deg,rgba(0,210,153,1) 0%,rgba(0,171,186,1) 100%);
}
.greyBtn{
  background:rgba(195,195,205,1) !important;
  color:#fff !important;
}