@import "../../reportHome.scss";
$v: 1vw/3.75;
.redLight {
  @include card();
  height: 95 * $v;
  padding: 18 * $v 0;
  box-sizing: border-box;
  display: flex;
  margin-top: 18 * $v;
}
@mixin redLight {
  flex-grow: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 167 * $v;
  padding: 0 15 * $v;
  > img {
    width: 5 * $v;
    height: 10 * $v;
  }
  > div {
    display: flex;
    align-items: center;
    flex-grow: 1;
    justify-content: center;
    > div {
      > p:first-child {
        color: #38395b;
        font-size: 15 * $v;
        line-height: 18 * $v;
        font-weight: 600;
        margin-bottom: 4 * $v;
      }
      > p:last-child {
        font-size: 12 * $v;
        line-height: 14 * $v;
      }
    }
    > p {
      margin-right: 6 * $v;
      font-size: 48 * $v;
      line-height: 48 * $v;
      font-family: DINAlternate-Bold, DINAlternate;
      font-weight: bold;
    }
  }
}
.hightLight {
  @include redLight();
  > div {
    > div {
      > p:last-child {
        color: #07bcb1;
      }
    }
    > p {
      color: #07bcb1;
    }
  }
}
.highRed {
  @include redLight();
  >div{
    > div {
      > p:last-child {
        color: #ff6767;
      }
    }
    > p {
      color: #ff6767;
    }
  }
}
.verticalLine {
  width: 1px;
  transform: scaleX(0.5);
  background-color: #d8d8d8;
}
