@import "../../reportHome.scss";
$v: 1vw/3.75;
.redLight {
  @include card();
  height: 95 * $v;
  padding: 18 * $v 0;
  box-sizing: border-box;
  display: flex;
}
@mixin redLight {
  flex-grow: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 167 * $v;
  > img {
    width: 5 * $v;
    height: 10 * $v;
    margin-right: 15 * $v;
  }
  > div {
    margin-right: 13 * $v;
    > p:first-child {
      color: #38395b;
      font-size: 15 * $v;
      line-height: 18 * $v;
      font-weight: 600;
      margin-bottom: 4 * $v;
    }
    > p:last-child {
      font-size: 15 * $v;
      line-height: 14 * $v;
    }
  }
  > p {
    margin-right: 6 * $v;
    font-size: 42 * $v;
    line-height: 42 * $v;
  }
}
.hightLight {
  @include redLight();
  > div {
    > p:last-child {
      color: #07bcb1;
    }
  }
  > p {
    color: #07bcb1;
    font-family: DINAlternate-Bold, DINAlternate;
  }
}
.highRed {
  @include redLight();
  > div {
    > p:last-child {
      color: #ff6767;
    }
  }
  > p {
    color: #ff6767;
    font-family: DINAlternate-Bold, DINAlternate;
  }
}
.verticalLine {
  width: 1px;
  transform: scaleX(0.5);
  background-color: #d8d8d8;
}
