.noDataCont{
  width: 100vw;
  height: 100vh;
  background:rgba(0,0,0,.5);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10000000;
  display: flex;
  align-items: center;
  justify-content: center;
  .detailCont{
    width:270px;
    background:rgba(255,255,255,1);
    border-radius:8px;
    padding-top:17px; 
    padding-bottom: 30px;
    position: relative;
    .img{
      width: 158px;
      height: 164px;
      display: block;
      margin: 0 auto 20px;
    }
    .close{
      width: 18px;
      height: 18px;
      position: absolute;
      right: 16px;
    }
    .desc{
      width: 210px;
      font-size:15PX;
      font-family:PingFangSC-Regular,PingFang SC;
      font-weight:400;
      color:rgba(96,97,124,1);
      line-height:24PX;
      margin:0 auto 20px;
      text-align: center;
    }
    .btn{
      font-size:15PX;
      font-family:PingFangSC-Regular,PingFang SC;
      font-weight:400;
      color:rgba(255,255,255,1);
      line-height:normal;
      width:179px;
      height:36PX;
      background:linear-gradient(225deg,rgba(97,221,121,1) 0%,rgba(25,202,103,1) 100%);
      box-shadow:0px 2px 6px 0px rgba(83,180,118,0.55);
      border-radius:20px;   
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0 auto;   
    }
  }
}