.activityEntry{
  height:37px;
  width:100%;
  background: rgba(0, 0, 0, 0.4);
  position: fixed;
  z-index: 888;
  top:0;
  left:0;
  color:#fff;
  padding:6px 14px 6px 13px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  .text{
    font-size: 13PX;
    padding-top: 7px;
    flex: 1;
  }
  .btn{
    width:70px;
    height:25px;
    color:#fff;
    display: inline-block;
    font-size: 12PX;
    background: #F96860;
    border-radius: 50px;
    padding-top: 6PX;
    box-sizing: border-box;
    text-align: center;
  }
}
.isTop{
  transition: background-color 0.8s;
  background-color: rgba(33, 51, 161, 1);
}
