.curveCont{
  background: rgba(246, 246, 240, 1);
  .curveDetail{
    background: rgba(14, 185, 96, 1);
    .babyCont{
      padding:30px 20px 20px;
      display: flex;
      justify-content: flex-start;
      img.babyPhoto{
        width: 40px;
        height: 40px;
        display: block;
        margin-right: 10px;
      }
      .nameCont{
        width: 265px;
        .name{
          font-size:18PX;
          font-family:PingFangSC-Medium,PingFang SC;
          font-weight:500;
          color:rgba(255,255,255,1);
          line-height:25PX;
          display: flex;
          align-items: center;
          .thr{
            width: 10px;
            height: 7px;
            margin-left: 8px;
          }
        }
        .height{
          font-size:15PX;
          font-family:PingFangSC-Regular,PingFang SC;
          font-weight:400;
          color:rgba(255,255,255,.7);
          line-height:21PX;
        }
        .noDataDesc{
          font-size:12PX;
          font-family:PingFangSC-Regular,PingFang SC;
          font-weight:400;
          color:rgba(236,255,0,1);
          line-height:14PX;
          margin-top: 5px;
        }
      }
      .share1{
        width: 18px;
        height: 19px;
      }
    }
    .mouthCont{
      margin-bottom: 12px;
      height: 26px;
      width: 375px;
      overflow: hidden;
      .overHidden{
        width: 375px;
        padding: 0 20px;
        height: 38px;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
      }
      .mouthDiv{
        width: 1535px;
      }
      .mouthItem{
        width:72px;
        border-radius:8px;
        padding: 1px 0;
        font-size:13PX;
        font-family:SourceHanSansSC-Normal,SourceHanSansSC;
        font-weight:400;
        color: #fff;
        line-height:normal;
        border:0.5PX solid rgba(255,255,255,1);
        display: inline-block;
        text-align: center;
        margin-right: 10px;
      }
      .actived{
        background:rgba(255,255,255,1);
        color:rgba(3,159,78,1);
      }
    }
    .buyCont{
      width:335px;
      padding: 10px;
      box-sizing: border-box;
      background:rgba(255,255,255,1);
      box-shadow:0px 2px 8px 0px rgba(29,93,80,0.51);
      border-radius:10px;
      margin: 6px auto 37px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .leftCont{
        width: 103px;
        height: 104px;
        overflow: hidden;
      }
      .rightCont{
        width: 192px;
        .buyTitle{
          font-size:16PX;
          font-family:PingFangSC-Medium,PingFang SC;
          font-weight:500;
          color:#38395b;
          line-height:25PX;
          margin-bottom: 3px;
        }
        .buyDesc{
          font-size:12PX;
          font-family:PingFangSC-Regular,PingFang SC;
          font-weight:400;
          color:#88889d;
          line-height:17PX;
          margin-bottom: 13px;
        }
        .buyBtn{
          width:127px;
          height:25px;
          background:linear-gradient(225deg,rgba(97,221,121,1) 0%,rgba(25,202,103,1) 100%);
          box-shadow:0px 2px 6px 0px rgba(83,180,118,0.55);
          border-radius:13px;
          font-size:14PX;
          font-family:PingFangSC-Regular,PingFang SC;
          font-weight:400;
          color:rgba(255,255,255,1);
          line-height:normal;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
    }
    .recordCont{
      padding: 0 21px 10px 18px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .heightCont{
        display: flex;
        span{
          font-size:12PX;
          font-family:PingFangSC-Regular,PingFang SC;
          font-weight:400;
          color:rgba(255,255,255,.8);
          line-height:14PX;
          margin-right: 9px;
          display: flex;
          align-items: center;
        }
        .circle{
          width: 10px;
          height: 10px;
          border-radius: 100%;
          display: inline-block;
          margin-right: 3px;
        }
        .white{
          background: #fff;
        }
        .yellow{
          background: rgba(236, 255, 0, 1);
        }
        .blue{
          background: rgba(81, 244, 239, 1);
        }
      }
      .recordList{
        font-size:12PX;
        font-family:PingFangSC-Regular,PingFang SC;
        font-weight:400;
        color:rgba(255,255,255,.8);
        line-height:14PX;
        margin-right: -10px;
        display: flex;
        align-items: center;
      }
    }
    .heightDesc{
      padding-left: 18px;
      font-size:12PX;
      font-family:PingFangSC-Regular,PingFang SC;
      font-weight:400;
      color:rgba(255,255,255,.8);
      line-height:14PX;
    }
    .bombTitle{
      font-size:12PX;
      font-family:PingFangSC-Regular,PingFang SC;
      font-weight:400;
      color:rgba(255,255,255,.8);
      line-height:14PX;
      padding: 18px 0;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  .resultCont{
    background: #fff;
    margin-bottom: 15px;
    padding-bottom: 7px;
    .resultDesc{
      font-size:15PX;
      font-family:PingFangSC-Regular,PingFang SC;
      font-weight:400;
      color:rgba(255,122,122,1);
      line-height:15PX;
      padding: 26px 0px 0 20px;
    }
    .resultDesc1{
      font-size:15PX;
      font-family:PingFangSC-Regular,PingFang SC;
      font-weight:400;
      color:#60617c;
      line-height:24PX;
      padding: 20px 20px 24px;
      text-align: justify;
      .num{
        color:rgba(48, 198, 97, 1);
      }
    }
    .heightDetail{
      padding: 0 19px 0 20px;
      .title{
        font-size:12PX;
        font-family:PingFangSC-Regular,PingFang SC;
        font-weight:400;
        color:#60617c;
        line-height:12PX;
        margin-bottom: 12px;
      }
      .heightDetail{
        padding: 15px 0;
        box-sizing: border-box;
        width:335px;
        background:rgba(255,255,255,1);
        box-shadow:0px 2px 7px 0px rgba(150,150,150,0.2);
        border-radius:10px;
        margin-bottom: 18px;
      }
      .heightItem{
        width:335px;
        height: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 9px;
        .height1{
          display: flex;
          align-items: center;
          .circle{
            width: 16px;
            height: 16px;
            display: inline-block;
            border-radius: 50%;
            margin-right: 10px;
            margin-left: 15px;
          }
          .white{
            border:1px solid rgba(41,196,95,1);
          }
          .yellow{
            background:rgba(255, 219, 0, 1)
          }
          .blue{
            background: rgba(121, 233, 230, 1);
          }
          .heightTitle{
            font-size:14PX;
            font-family:PingFangSC-Medium,PingFang SC;
            font-weight:500;
            color:#38395b;
            line-height:14PX;
          }
          .heightData{
            font-size:12PX;
            font-family:PingFangSC-Regular,PingFang SC;
            font-weight:400;
            color:rgba(144,150,158,1);
            line-height:12PX;
          }
        }
        .height2{
          font-size:20PX;
          font-family:DINAlternate-Bold,DINAlternate;
          font-weight:bold;
          color:rgba(29,203,104,1);
          line-height:22PX;
          margin-right: 16px;
        }
        .grayColor {
          color: #60617c;
        }
      }
      .heightItem:last-child{
        margin-bottom: 0;
      }
    }
  }
  .expertCont{
    background: #fff;
    padding:30px 20px 54px;
    margin-bottom: 15px;
    .expertTitle{
      font-size:20PX;
      font-family:PingFangSC-Medium,PingFang SC;
      font-weight:500;
      color:#38395b;
      line-height:20PX;
      margin-bottom: 5px;
    }
    .expertDesc{
      font-size:12PX;
      font-family:PingFangSC-Regular,PingFang SC;
      font-weight:400;
      color:#88889d;
      line-height:17PX;
      margin-bottom: 30px;
    }
    .expertUser{
      display: flex;
      justify-content: space-between;
      .expertPhoto{
        width: 65px;
        height: 65px;
        border-radius: 50%;
      }
      .expertDesc1{
        width:257px;
        padding: 23px 20px 27px 16px;
        box-sizing: border-box;
        text-align: justify;
        background:#f7f7f7;
        border-radius:0px 40px 40px 40px;
        font-size:14PX;
        font-family:PingFangSC-Regular,PingFang SC;
        font-weight:400;
        color:#60617c;
        line-height:21PX;
        span{
          color: rgba(24, 200, 100, 1);
        }
      }
    }
    .expertDesc2{
      margin-top: 22px;
      .traitCont{
        .icon{
          width: 23px;
          height: 30px;
          margin-right: 10px;
        }
      }
      h3{
        font-size:16PX;
        font-family:PingFangSC-Regular,PingFang SC;
        font-weight:400;
        color:#38395b;
        line-height:16PX;
        margin-bottom: 5px;
        display: flex;
        align-items: center;
      }
      p{
        text-align: justify;
        font-size:14PX;
        font-family:PingFangSC-Regular,PingFang SC;
        font-weight:400;
        color:#60617c;
        line-height:21PX;
        margin-bottom: 32px;
        padding-left: 33px;
      }
    }
    .exportBtn{
      font-size:18PX;
      font-family:PingFangSC-Medium,PingFang SC;
      font-weight:500;
      color:rgba(255,255,255,1);
      line-height:normal;
      width:330px;
      height:44PX;
      background:linear-gradient(225deg,rgba(97,221,121,1) 0%,rgba(25,202,103,1) 100%);
      box-shadow:0px 4px 8px 0px rgba(48,159,88,0.43);
      border-radius:22px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 48px auto 0;
    }
  }
  .recommendCont{
    padding: 30px 19px 7px;
    background: #fff;
    margin-bottom: 15px;
    .recommendTitle{
      font-size:20PX;
      font-family:PingFangSC-Medium,PingFang SC;
      font-weight:500;
      color:#38395b;
      line-height:20PX;
      margin-bottom: 30px;
    }
    .goodsItem{
      float: left;
      margin-right: 20px;
      margin-bottom: 16px;
      background:rgba(255,255,255,1);
      box-shadow:0px 2px 10px 0px rgba(224,224,224,0.6);
      border-radius:5px;
      .goodsImg{
        width:158px;
        height:158px;
        display: block;
        margin-bottom: 10px;
        overflow: hidden;
      }
      .goodsTitle{
        padding: 0 11px;
        margin: 9px 0 20px;
        width: 136px;
        height: 40PX;
        font-size:14PX;
        font-family:PingFangSC-Regular,PingFang SC;
        font-weight:400;
        color:#60617c;
        line-height:20PX;
        text-overflow: -o-ellipsis-lastline;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        line-clamp: 2;
        -webkit-box-orient: vertical;
      }
      .tipsCont{
        padding: 9px 11px;
        width: 136px;
        .goodsTip{
          border-radius:3px;
          border:1px solid rgba(18,181,80,1);
          display: inline-block;
          padding: 4px 6px;
          margin-right: 4px;
          margin-bottom: 4px;
        }
      }
    }
    .goodsItem:nth-child(2n+1){
      margin-right: 0;
    }
  }
  .orderCont{
    padding: 30px 20px 67px;
    background: #fff;
    .orderTitle{
      font-size:20PX;
      font-family:PingFangSC-Medium,PingFang SC;
      font-weight:500;
      color:#38395b;
      line-height:20PX;
      margin-bottom: 24px;
    }
    .orderTime{
      width:335px;
      height:45PX;
      border-radius:4px;
      border:1px solid rgba(70,168,105,.5);
      display: flex;
      align-items: center;
      justify-content: center;
      font-size:15PX;
      font-family:PingFangSC-Regular,PingFang SC;
      font-weight:400;
      color:rgba(32,151,74,1);
      line-height:normal;
      margin-bottom: 17px;
      .downIcon{
        color: rgba(70, 80, 93, 1);
        margin-left: 10px;
      }
      span{
        padding: 0 13px 0 23px;
      }
    }
    .orderDesc{
      font-size:12PX;
      font-family:PingFangSC-Regular,PingFang SC;
      font-weight:400;
      color:#88889d;
      line-height:12PX;
      text-align: center;
      margin-bottom: 30px;
    }
    .shouquan{
      margin: 16px 0 31px;
      font-size:13PX;
      font-family:PingFangSC-Regular,PingFang SC;
      font-weight:400;
      color:#88889d;
      line-height:13PX;
      display: flex;
      align-items: center;
      .radio{
        width: 14px;
        height: 14px;
        display: inline-block;
        margin-right: 4px;
        border:1px solid rgba(70,168,105,.6);
        border-radius: 50%;
        display: flex;
        align-items: center;
        em{
          width: 8px;
          height: 8px;
          display: inline-block;
          border-radius:50%;
          background: transparent;
          text-align: center;
          margin-left: 3px;
        }
      }
      .active{
        em{
          width: 8px;
          height: 8px;
          display: inline-block;
          background:rgba(31,204,104,1);
        }
      }
    }
    .orderBtn{
      width:330px;
      height:44PX;
      background:linear-gradient(225deg,rgba(97,221,121,1) 0%,rgba(25,202,103,1) 100%);
      box-shadow:0px 4px 8px 0px rgba(48,159,88,0.43);
      border-radius:22px;
      font-size:18PX;
      font-family:PingFangSC-Medium,PingFang SC;
      font-weight:500;
      color:rgba(255,255,255,1);
      line-height:normal;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0 auto;
    }
    .isGray{
      background:rgba(208,208,208,1);
      box-shadow:0px 4px 8px 0px rgba(201,201,201,0.43);
    }
  }
  .addBtn{
    position: fixed;
    bottom: 29px;
    top: auto!important;
    left: auto!important;
    right: 20px;
    width: 66px;
    height: 66px;
    img{
      display: block;
    }
  }
  .bombCont{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100000000;
    .orderContBomb{
      width:310px;
      background:rgba(255,255,255,1);
      border-radius:10px;
      text-align: center;
      img{
        margin: 49px auto 7px;
        width: 89px;
        height: 72px;
      }
      .title{
        font-size:16PX;
        font-family:PingFangSC-Medium,PingFang SC;
        font-weight:500;
        color:rgba(56,57,91,1);
        line-height:22PX;
        margin-bottom: 13px;
      }
      .time{
        font-size:15PX;
        font-family:PingFangSC-Regular,PingFang SC;
        font-weight:400;
        color:rgba(32,151,74,1);
        line-height:20PX;
        margin-bottom: 48px;
      }
      .knowBtn{
        width:270px;
        height:39PX;
        background:linear-gradient(225deg,rgba(97,221,121,1) 0%,rgba(25,202,103,1) 100%);
        box-shadow:0px 4px 8px 0px rgba(48,159,88,0.43);
        border-radius:20px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size:14PX;
        font-family:PingFangSC-Regular,PingFang SC;
        font-weight:400;
        color:rgba(255,255,255,1);
        line-height:20PX;
        margin: 48px auto 30px;
      }
    }
    .detailContBomb{
      width:310px;
      box-sizing: border-box;
      background:rgba(255,255,255,1);
      border-radius:10px;
      padding: 16px 16px 42px 20px;
      font-size:14PX;
      font-family:PingFangSC-Regular,PingFang SC;
      font-weight:400;
      color:#60617c;
      line-height:20PX;
      .iconClose{
        text-align: right;
        img{
          width: 18px;
          height: 18px;
          display: inline-block;
        }
      }
      .title{
        font-size:16PX;
        font-family:PingFangSC-Medium,PingFang SC;
        font-weight:500;
        color:#38395b;
        line-height:22PX;
        margin: 6px 0 13px;
        text-align: center;
      }
      .desc{
        margin-bottom: 12px;
        width: 269px;
      }
      ul{
        line-height: 24PX;
        margin-bottom: 12px;
        li{
          display: flex;
          p{
            width: 255px;
          }
        }
        .circle{
          width: 6PX;
          height: 6PX;
          margin-top: 9PX;
          display: inline-block;
          margin-right: 8px;
          background: rgba(14, 185, 96, 1);
          border-radius: 50%;
        }
      }
      .desc1{
        font-size:14PX;
        font-family:PingFangSC-Regular,PingFang SC;
        font-weight:400;
        color:rgba(56,57,91,0.8);
      }
    }
  }
  .landCont{
    img{
      display: block
    }
  }
}