.detailCont{
  // border:1px solid #960;
  // box-sizing: border-box;
  padding-bottom:48px;
  .header{
    .img{
      width:375px;
      height:375px;
      display: block;
    }
  }
  .h283{
    height: 283px;
    overflow: hidden;
    .img{
      height: 283px;
    }
  }
  .h206{
    height: 206px;
    overflow: hidden;
    .img{
      height: 206px;
    }
  }
  .videoCont{
    width:375px;
    height:206px;
    position: relative;
    overflow: hidden;
    video{
      width: 100%;
    }
    .fixed{
      position: absolute;
      width:375px;
      height:206px;
      background:rgba(0,0,0,0.4);
      display: flex;
      align-items: center;
      justify-content: center;
      .videoIcon{
        position: absolute;
        width: 44px;
      }
    }
    .cover{
      position: absolute;
      width: 100%;
    }
  }
  .cont{
    padding: 23px 20px 0;
    .title{
      font-size:22px;
      font-family:PingFangSC-Medium,PingFang SC;
      font-weight:500;
      color:rgba(56,57,91,1);
      line-height:33PX;
      margin-bottom:15px;
    }
    .left{
      height:18px;line-height:18px;
      font-size:13px;
      font-family:PingFangSC-Regular,PingFang SC;
      font-weight:400;
      color:#60617C;
      margin-right:24px;
    }
    .tipsCont{
      margin-bottom: 26px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .tips{
        padding:2px 8px;
        background:rgba(239,239,252,1);
        border-radius:10px 0px 10px 0px;
        font-size:11PX;
        font-family:PingFangSC-Regular,PingFang SC;
        font-weight:400;
        color:rgba(56,57,91,1);
        line-height:normal;
        margin-right: 8px;
        margin-bottom: 4px;
        display: inline-block;
      }
    }
    .authorCont{
      margin: 20px 0 29px;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      .authorImg{
        width: 40px;
        height: 40px;
        border-radius: 50%;
      }
      .authorIntroduce{
        width: 203px;
        margin-left: 12px;
        .authorName{
          font-size:15PX;
          font-family:PingFangSC-Regular,PingFang SC;
          font-weight:400;
          color:rgba(56,57,91,1);
          line-height:21PX;
        }
        .introduce{
          font-size:12PX;
          font-family:PingFangSC-Regular,PingFang SC;
          font-weight:400;
          color:rgba(56,57,91,0.4);
          line-height:17PX;
        }
      }
      .authorFollow, .authorNoFollow{
        display: flex;
        align-items: center;
        justify-content: center;
        width:76px;
        height:28PX;
        background:linear-gradient(135deg,rgba(102,107,232,1) 0%,rgba(70,24,170,1) 100%);
        border-radius:15px;
        font-size:14PX;
        font-family:PingFangSC-Medium,PingFang SC;
        font-weight:500;
        color:rgba(255,255,255,1);
        line-height:normal;
      }
      .authorFollow{
        background: rgba(195, 195, 205, 1);
      }
      .time{
        font-size:13PX;
        font-family:PingFangSC-Regular,PingFang SC;
        font-weight:400;
        color:rgba(56,57,91,0.4);
      }
    }
    .desc{
      width:335px;
      box-sizing: border-box;
      background:rgba(249,249,249,1);
      padding: 15px 10px 15px 15px;
      border-left: 3px solid rgba(216,216,216,1);
      font-size:14PX;
      font-family:PingFangSC-Regular,PingFang SC;
      font-weight:400;
      color:rgba(56,57,91,0.4);
      line-height:26PX;
      margin: 29px 0;
      word-wrap: break-word
    }
  }
  .pb116{
    padding-bottom: 116PX;
  }
  .bottomCont{
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    // margin-bottom: 0;
    .buyBtn{
      height:44PX;
      background:linear-gradient(114deg,rgba(96,100,224,1) 0%,rgba(30,31,181,1) 100%);
      display: flex;
      align-items: center;
      justify-content: center;
      font-size:16PX;
      font-family:PingFangSC-Regular,PingFang SC;
      font-weight:400;
      color:rgba(255,255,255,1);
      line-height:normal;
    }
    .zanCont{
      // margin-bottom: 0;
      background: #fff;
      box-shadow:0px -2px 8px 0px rgba(0,0,0,0.1);
      height: 48px;
      display: flex;
      align-items: center;
      padding-bottom: env(safe-area-inset-bottom);
      span{
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        img{
          width: 28px;
          height: 28px;
          margin-right: 6px;
        }
        em{
          line-height:14px;
          font-size:14px;
          font-family:PingFangSC-Regular,PingFang SC;
          font-weight:400;
          color:rgba(96,97,124,1);
        }
      }
    }
  }
  
}
.detail {
  p,span{
    line-height:27px;
    font-size:15px;
    font-family:PingFangSC-Regular,PingFang SC;
    font-weight:400;
    color:rgba(56,57,91,1);
  }
  img{
    margin:18px 0;
  }
  strong{
    display: block;
    line-height:25px;
    font-size:18px;
    font-family:PingFangSC-Medium,PingFang SC;
    font-weight:500;
    color:rgba(56,57,91,1);
    margin:25px 0;
  }
}

.ending{
  text-align: center;
  padding:26px 0 42px;
  >img{
    width:80px;height:17px;
  }
  .title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin:30px 0 14px;
    padding:0 12px;
    label{
      width:38px;
      border-top:1px dashed #88889D;
    }
    span{
      height:17px; line-height:17px;
      font-size:12px;
      font-family:PingFangSC-Regular,PingFang SC;
      font-weight:400;
      letter-spacing:3px;
      color:rgba(96,97,124,1);
    }
    img{
      width:8px;height:8px;
    }
  }
  .text{
    p{
      line-height:25px;
      font-size:12px;
      font-family:PingFangSC-Regular,PingFang SC;
      font-weight:400;
      color:rgba(136,136,157,1);
    }
  }
}
.bannerImg{
  border-top:10px solid #F9F9F9;
  padding:24px 20px 47px;
}