.detailCont{
  .header{
    .img{
      width:375px;
      height:375px;
      display: block;
    }
  }
  .h283{
    height: 283px;
    overflow: hidden;
    .img{
      height: 283px;
    }
  }
  .h206{
    height: 206px;
    overflow: hidden;
    .img{
      height: 206px;
    }
  }
  .videoCont{
    width:375px;
    height:206px;
    position: relative;
    overflow: hidden;
    video{
      width: 100%;
    }
    .fixed{
      position: absolute;
      width:375px;
      height:206px;
      background:rgba(0,0,0,0.4);
      display: flex;
      align-items: center;
      justify-content: center;
      .videoIcon{
        position: absolute;
        width: 44px;
      }
    }
    .cover{
      position: absolute;
      width: 100%;
    }
  }
  .cont{
    padding: 23px 20px 72px;
    .title{
      font-size:24PX;
      font-family:PingFangSC-Medium,PingFang SC;
      font-weight:500;
      color:rgba(56,57,91,1);
      line-height:33PX;
      margin-bottom: 15px;
    }
    .tipsCont{
      margin-bottom: 20px;
      .tips{
        padding: 3px 8px;
        background:rgba(255,109,89,0.1);
        border-radius:10px 0px 10px 0px;
        font-size:11PX;
        font-family:PingFangSC-Regular,PingFang SC;
        font-weight:400;
        color:rgba(255,109,89,1);
        line-height:normal;
        margin-right: 8px;
        margin-bottom: 4px;
        display: inline-block;
      }
    }
    .authorCont{
      margin: 20px 0 29px;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      .authorImg{
        width: 40px;
        height: 40px;
        border-radius: 50%;
      }
      .authorIntroduce{
        width: 203px;
        margin-left: 12px;
        .authorName{
          font-size:15PX;
          font-family:PingFangSC-Regular,PingFang SC;
          font-weight:400;
          color:rgba(56,57,91,1);
          line-height:21PX;
        }
        .introduce{
          font-size:12PX;
          font-family:PingFangSC-Regular,PingFang SC;
          font-weight:400;
          color:rgba(56,57,91,0.4);
          line-height:17PX;
        }
      }
      .authorFollow, .authorNoFollow{
        display: flex;
        align-items: center;
        justify-content: center;
        width:76px;
        height:28PX;
        background:linear-gradient(135deg,rgba(102,107,232,1) 0%,rgba(70,24,170,1) 100%);
        border-radius:15px;
        font-size:14PX;
        font-family:PingFangSC-Medium,PingFang SC;
        font-weight:500;
        color:rgba(255,255,255,1);
        line-height:normal;
      }
      .authorFollow{
        background: rgba(195, 195, 205, 1);
      }
      .time{
        font-size:13PX;
        font-family:PingFangSC-Regular,PingFang SC;
        font-weight:400;
        color:rgba(56,57,91,0.4);
      }
    }
    .desc{
      width:335px;
      box-sizing: border-box;
      background:rgba(249,249,249,1);
      padding: 15px 10px 15px 15px;
      border-left: 3px solid rgba(216,216,216,1);
      font-size:14PX;
      font-family:PingFangSC-Regular,PingFang SC;
      font-weight:400;
      color:rgba(56,57,91,0.4);
      line-height:26PX;
      margin: 29px 0;
      word-wrap: break-word
    }
  }
  .pb116{
    padding-bottom: 116PX;
  }
  .bottomCont{
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    .buyBtn{
      height:44PX;
      background:linear-gradient(114deg,rgba(96,100,224,1) 0%,rgba(30,31,181,1) 100%);
      display: flex;
      align-items: center;
      justify-content: center;
      font-size:16PX;
      font-family:PingFangSC-Regular,PingFang SC;
      font-weight:400;
      color:rgba(255,255,255,1);
      line-height:normal;
    }
    .zanCont{
      background: #fff;
      border-top: 1PX solid rgba(224, 224, 224, 1);
      height: 49PX;
      display: flex;
      align-items: center;
      padding-bottom: env(safe-area-inset-bottom);
      span{
        flex: 1;
        display: flex;
        justify-content: center;
        img{
          width: 20px;
          height: 20px;
          margin-right: 6px;
        }
        em{
          font-size:14PX;
          font-family:PingFangSC-Regular,PingFang SC;
          font-weight:400;
          color:rgba(56,57,91,1);
          line-height:20PX;
        }
      }
    }
  }
  
}
.detail p{
  font-size:15px !important;
  line-height:30px !important;
}