$highFontColor: #64472C;
$cardPadding: 20px;
$mainBtnBg: linear-gradient(to right, #FEDFCA, #FABE96);

.footerBox{
  border-top: 1px solid rgba(175, 176, 189, 0.3);
  box-sizing: border-box;
  width: 100%;
  padding: 0 $cardPadding;
  background: #fff;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 3;

  button{
    width: 100%;
  }
}

.toBuy{
  width:285px;
  height:40px;
  background:linear-gradient(90deg,rgba(254,223,202,1) 0%,rgba(250,190,150,1) 100%);
  border-radius:24px;
  line-height: 40px;
  font-size:16px;
  font-weight:600;
  color:rgba(100,71,44,1);
}