.pupopbox{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background:rgba(0,0,0,0.6);
    z-index: 99999;
  }
  .pupcon{
    width:280px;height:360px;
    position: absolute;
    top:50%; left: 50%;
    transform: translate3d(-50%,-50%,0);
    text-align: center;
    z-index: 99999999;
    background: url(@static/hpvReport/newVersion.png)  no-repeat;
    background-size:cover;
    padding:0 23px;
    border-radius:10px;
    box-sizing: border-box;;
    p{
      font-size:13px;
      line-height:20px;
      margin-top:157px;
      color:rgba(56,57,91,1);
      text-align: left;;
    }
    .knowBtn{
      display:inline-block;
      width:192px;height:56px;
      margin-top:90px;
      background: url(@static/hpvReport/newVersion2.png)  no-repeat;
      background-size:100%;
      font-size:18px;
      font-size:16px;
      font-family:PingFangSC-Medium,PingFang SC;
      font-weight:500;
      color:rgba(255,255,255,1);
      line-height:22px;
      padding-top:13px;
  }
  }
  