  $border:#E1E1E6;
  .itemDisable{
    opacity: .4;
  }
  .leftImg {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size:14px;
    font-family:PingFangSC-Regular,PingFang SC;
    justify-content: space-between;
    font-weight:400;
    color:rgba(56,57,91,1);
    .headImg {
      width: 46px !important;
      height: auto;
      margin-right: 10px;
      border: 3px solid #EFF1FB;
      border-radius: 100%;
    }
    .check{
      position: absolute;
      right: 18px;
      bottom: 15px;
      width: 22px;
    }
  
  } 

:global {
  .my_modal {
    .am-modal-content{
      height: 319px;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      z-index: 999;
    }
    .am-list-line {
      padding-left: 15px;
    }
    .am-list-item{
      padding-left: 0;
    }
    .am-list-header{
      background: #fff;
      // border-bottom: 1px solid #ddd;
      position: absolute;
      left: 0;
      top: 0;
      text-align: left;
      font-size:16px;
      font-family:PingFangSC-Medium,PingFang SC;
      font-weight:500;
      color:rgba(56,57,91,1);
      z-index: 998;
      // position: relative;
      &:before {
        content: "";
        position: absolute;
        border-bottom: 1px solid $border;
        width: 200%;
        height: 200%;
        transform-origin: 0 0;
        transform: scale(0.5, 0.5);
        box-sizing: border-box;
        left: 0;
        top: 0;
      }
    }
    .am-list-body {
      margin-top: 50px;
    }
   
  
    .am-modal-body{
      overflow: scroll; 
      -ms-overflow-style: none;   //IE 10+
      overflow: -moz-scrollbars-none;    //Firefox
    }
    /*整个滚动条样式 当width:0;或display:none;时，滚动条不显示*/
    .am-modal-body::-webkit-scrollbar {  
      display:none;
    }
   
    .am-modal-close {
      top: 15px;
    }
  }
 
  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx){
    html:not([data-scale])
      .am-list-body:before {
        background-color: transparent;
      }
    }
    html:not([data-scale]) .am-list-body div:not(:last-child) .am-list-line:after {
      background-color: $border;
    }
    html:not([data-scale]) .am-list-body:after {
      background-color: $border;
    }
}