.heightCont{
  .choiceLinkman{
    padding-top: 17px;
    display: flex;
    .linkmansCont{
      display: flex;
      align-items: center;
      .sexImg{
        width: 38px;
        height: 38px;
        margin-left: 14px;
        margin-right: 7px;
      }
      .name{
        font-size:15PX;
        font-family:PingFangSC-Medium,PingFang SC;
        font-weight:500;
        color:rgba(60,211,111,1);
        line-height:21PX;
      }
      .changeLinkMan{
        img{
          width: 10px;
          margin-left: 5px;
        }
      }
    }
    .shareIcon{
      width: 20px;
      height: 20px;
      margin-right: 21px;
    }
  }
  .heightDetail{
    margin: 17px auto 19px;
    width:357px;
    height:312px;
    border-radius:8px;
    box-sizing: border-box;
    padding: 48px 0 0 27px;
    .heightTitleDesc{
      font-size:14PX;
      font-family:PingFangSC-Regular,PingFangSC;
      font-weight:400;
      color:rgba(255,255,255,1);
      line-height:14PX;
    }
    .heightTitle{
      margin: 9px 0 15px;
      font-size:20PX;
      font-family:PingFangSC-Semibold,PingFangSC;
      font-weight:600;
      color:rgba(255,255,255,1);
      line-height:27PX;
    }
    .line{
      width: 35px;
      height: 3px;
      background: #fff;
      margin-bottom: 32px;
    }
    .num{
      font-size:76PX;
      font-family:DINAlternate-Bold,DINAlternate;
      font-weight:bold;
      color:rgba(255,255,255,1);
      line-height:76PX;
      span{
        font-size:36PX;
        font-family:DINAlternate-Bold,DINAlternate;
        font-weight:bold;
        color:rgba(255,255,255,1);
        line-height:36PX;
        margin-left: 9px;
      }
    }
  }
  .tips{
    width: 292px;
    margin: 0 auto 77px;
    font-size:14PX;
    font-family:PingFangSC-Regular,PingFangSC;
    font-weight:400;
    color:rgba(136,136,157,1);
    line-height:20PX;
  }
  .footerCont{
    margin-top: 60px;
    background: url('@src/assets/images/height/index_bg2.png') repeat;
    .detail{
      width: 330px;
      margin: 0 auto;
      .intro{
        display: flex;
        flex-direction: row;
        padding-top: 2px;
        .user{
          width: 75px;
          height: 75px;
          margin-top: 2px;
        }
        .introDetail{
          margin: 0 0 17px 10px;
          .introTitle{
            font-size:16PX;
            font-family:PingFangSC-Regular,PingFangSC;
            font-weight:400;
            color:#38395b;
            line-height:22PX;
          }
          .introDesc{
            width: 230px;
            margin-top: 3px;
            font-size:13PX;
            font-family:PingFangSC-Regular,PingFangSC;
            font-weight:400;
            color:#60617c;
            line-height:18PX;
            text-align: justify;
          }
        }
      }
    }
    .btn{
      display: flex;
      justify-content: center;
      align-items: center;
      width:330px;
      height:44px;
      background:linear-gradient(225deg,rgba(97,221,121,1) 0%,rgba(25,202,103,1) 100%);
      box-shadow:0px 4px 8px 0px rgba(48,159,88,0.43);
      border-radius:22px;
      font-size:18PX;
      font-family:PingFangSC-Medium,PingFangSC;
      font-weight:500;
      color:rgba(255,255,255,1);
      line-height:normal;
      margin-bottom: 18px;
    }
    .tip{
      font-size:12PX;
      font-family:PingFangSC-Regular,PingFangSC;
      font-weight:400;
      color:rgba(136,136,157,1);
      line-height:12PX;
      padding-bottom:40px;
      display: flex;
      align-items: center;
      justify-content: center;
      .img{
        width: 12px;
        height: 12px;
        margin-right: 4px;
      }
    }
  }
  .bombCont{
    position: fixed;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    background:rgba(0,0,0,.6);
    display: flex;
    align-items: center;
    justify-content: center;
    .bomb{
      width: 270px;
      padding: 19px 22px 25px;
      box-sizing: border-box;
      background:rgba(255,255,255,1);
      border-radius:8px;
      border:1px solid rgba(151,151,151,1);
      .bombTitle{
        font-size:18PX;
        font-family:PingFangSC-Medium,PingFangSC;
        font-weight:500;
        color:rgba(56,57,91,1);
        line-height:18PX;
        text-align: center;
        margin-bottom: 6px;
      }
      .linkmanCont{
        max-height: 220px;
        overflow: auto;
        .list{
          padding: 20px 8px 9px 3px;
          border-bottom: 1PX solid #D8D8D8;
          display: flex;
          justify-content: space-between;
          align-items: center;
          .name{
            font-size:16PX;
            font-family:PingFangSC-Regular,PingFangSC;
            font-weight:400;
            color:rgba(136,136,157,1);
            line-height:16PX;
          }
          img{
            width: 13px;
            height: 9px;
          }
        }
        .actived{
          .name{
            color:rgba(29,203,104,1);
          }
        }
      }
      .bombBtn{
        width:154px;
        height:44px;
        background:linear-gradient(225deg,rgba(97,221,121,1) 0%,rgba(25,202,103,1) 100%);
        box-shadow:0px 4px 8px 0px rgba(48,159,88,0.43);
        border-radius:22px;
        margin: 33px auto 0;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size:18PX;
        font-family:PingFangSC-Medium,PingFangSC;
        font-weight:500;
        color:rgba(255,255,255,1);
        line-height:normal;
      }
    }
  }
}