.detailCont{
  padding-bottom: env(safe-area-inset-bottom);
  background: #F9F9F9;
  
  height: 100vh;
  overflow: hidden;
  overflow-y: scroll;
  -webkit-overflow-scrolling : touch;
}
.loading{
  width: 100%;
  text-align:center;
  margin-top: 70%;
  span{
    vertical-align: -4px;
    padding-right:4px;
  }
}