.demo {
    font-size: 28px;
    line-height: 50px;
}
.demoBg {
    height: 100px;
    background: url(@static/fxzimg/selectAny.png) no-repeat;
}
.demoBg1 {
    height: 100px;
    background: url(@static/activ.png) no-repeat;
}