
$titColor: #38395B;
$heighLight: rgba(60, 63, 201, 1);
$defaultColor: #60617C;

.hpvbox{
  font-size: 12px;
  padding: 1rem .5rem;
  line-height: 1.5;

  h2, h3{
    font-size: 22px;
    font-weight: 600;
    color: $titColor;
    margin-bottom: .5em;
  }

  h3{
    font-size: 18px;
    line-height: 1;
    padding: .8em 0;
    display: flex;
    align-items: center;

    img{
      width: 18px;
      padding-right: 7px;
    }
  }

  .infors{
    color: $defaultColor;

    >p{
      margin-bottom: 5px;
    }
  }

  .listbox{
    margin-top: .8rem;
    padding: 1rem 1rem 0;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

    li{
      display: flex;
      align-items: flex-start;
      position: relative;
      height: 70px;

      &::before{
        width: 1px;
        height: 70px;
        content: '';
        background: #bebebe;
      }

      &:last-child{
        &::before{
          display: none;
        }
      }

      img:nth-child(2){
        width: 120px;
        height: 80px;
        border-radius: 12px;
        border: 1px solid #73748C;
        margin-right: 10px;
        transform: scale3d(.5, .5, 1);
        transform-origin: 30% 0;
      }

      .tipsimg{
        margin-left: -8px;
        width: 16px;
        filter: grayscale(100%);
      }
    }

    .on{
      color: $heighLight;

      &::before{
        background: #6567E5;
      }

      img{filter: none;}
      img:nth-child(2){
        border: 1px solid rgba(60, 63, 201, 1);
      }
    }

    .statusTit{
      font-size: 15px;
      line-height: 1.4;
      margin-left: -2.4em;

      span{
        font-size: 12px;
      }
    }
  }
}