
$family1:PingFangSC-Medium;
$family2:DINAlternate-Bold;

.header{
    width:100%;height:573px;
    background:linear-gradient(180deg,rgba(101,103,229,1) 0%,rgba(132,126,238,0.66) 53%,rgba(191,172,254,0) 100%);
    .top{
        display:flex;
        padding-top:11px;
        color:#fff;
        span:nth-of-type(1){
            flex:1;
            img{
                display:inline-block;
                width:12px;height:16px;
                margin:3px 0 3px 20px;
            }
        }
        span:nth-of-type(2){
            line-height:22px;
            font-size: 16px;
            flex:2;
            text-align:center;
        }
        span:nth-of-type(3){
            line-height:20px;
            font-size: 14px;
            flex:1;
            margin:2px 21px 0 0;
            text-align:right;
        }
    }
   .exchange{
       text-align:right;
       margin-top:26px;
       padding-right:23px;
       span{
        line-height:17px;
        font-size:12px;
        color:rgba(255,255,255,0.6);
        margin-right:5px;
        vertical-align: middle;
       }
       img{
           width:11px;height:14px;
           vertical-align: middle;
       }
   }
   .exchangeCount{
       position: relative;
       .exchangeBtn{
        position: absolute;
        bottom:-12px;left:50%;
        width:150px;height:40px;
        line-height:40px;
        margin-left:-75px;
        background:linear-gradient(360deg,rgba(255,157,86,1) 0%,rgba(255,225,151,1) 100%);
        box-shadow:0px 0px 17px -1px rgba(164,157,255,1);
        border-radius:20px;
        color:#fff;
        text-align: center;
        font-size:16px;
       }
       .today{
        position: absolute;
        top:51px;left:50%;
        margin-left:-33px;
        width:66px;height:22px;
        line-height:22px;
        font-size:16px;
        color:#fff;
       }
       .todayCount{
        position: absolute;
        top:78px;left:50%;
        margin-left:-60px;
        width:120px;height:42px;
        line-height:42px;
        text-align:center;
        font-size:36px;
        font-family:$family2;
        color:rgba(255,255,255,1);
        letter-spacing:1px;
        text-shadow:0px 2px 4px rgba(12,21,231,0.32);
       }
       .todayTips{
        position: absolute;
        top:127px;left:50%;
        margin-left:-57px;
        width:114px;line-height:14px;
        text-align:center;
        font-size:10px;
        color:rgba(255,255,255,1);
       }
   }
   .padding20{
       padding:0 20px;
       .moveItems{
        width:100%;height:253px;
        margin-top:20px;
        background:rgba(255,255,255,1);
        box-shadow:0px 2px 8px 0px rgba(0,0,0,0.1);
        border-radius:10px;
       .item{
        display:flex;
        span{
            flex:1;
            width:41px;height:41px;
            background: url(@static/integration/move1.png) no-repeat;
            background-size: 41px 41px;
        }
       }
   }
   }
}