$highFontColor: rgba(87, 194, 142, 1);
$defaultFontColor: rgba(56, 57, 91, 0.8);
$grayFontColor: rgba(56, 57, 91, 0.6);
$titleFontColor: rgba(56, 57, 91, 1);
$cardMargin: 30px 20px;
$cardPadding: 20px;
$cardRadius: 10px;
$mainBtnBg: linear-gradient(to right, rgba(102, 107, 232, 1), rgba(70, 24, 170, 1));

.fission {
  color: $defaultFontColor;
  font-size: 13px;
  line-height: 1.6;
  height: 100vh;
  position: relative;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}
.backgroundImgBox {
  font-size: 0;
  > img {
    width: 100%;
  }
}
@mixin tips {
  position: fixed;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-left-radius: 100px;
  border-bottom-left-radius: 100px;
  height: 30px;
}
.share {
  @include tips();
  top: 32px;
  width: 55px;
  background-color: #F7AE39;
  color: #fff;
  font-size: 15px;
}
.rule {
  @include tips();
  position: absolute;
  padding-top: 1px;
  top: 92px;
  width: 71px;
  background-color: #e9784f;
  color: #fff;
  font-size: 12px;
}
@keyframes shake {
  10% {
    top: 4px;
  }
  20% {
    top: 4px;
    transform: rotate(-8deg);
    transform-origin: 50% 100%;
  }
  30% {
    top: 4px;
    transform: rotate(8deg);
    transform-origin: 50% 100%;
  }
  40% {
    top: 4px;
    transform: rotate(-8deg);
    transform-origin: 50% 100%;
  }
  50% {
    top: 4px;
    transform: rotate(8deg);
    transform-origin: 50% 100%;
  }
  55% {
    top: 4px;
    transform: rotate(0deg);
    transform-origin: 50% 100%;
  }
  60% {
    top: 9px;
  }
}
.luckyBag {
  position: fixed;
  right: 0;
  bottom: 120px;
  width: 120px;
  height: 108px;
  background-size: contain;
  transition: 0.7s right ease-in-out;
  > img:nth-of-type(1) {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 9px;
    left: 28px;
    animation: shake 3s infinite linear;
  }
  > img:nth-of-type(2) {
    width: 66px;
    height: 53px;
    position: absolute;
    top: 43px;
    left: 20px;
  }
}
@mixin fixedBottom {
  position: fixed;
  bottom: 0;
  display: flex;
  align-items: center;
  width: 100%;
  height: 49px;
  color: #ffffff;
  font-size: 16px;
}
.getNow {
  @include fixedBottom();
  justify-content: center;
  background-image: linear-gradient(to right, #ffbc46, #fc9149);
}
.getNowFinish {
  @include fixedBottom();
  justify-content: center;
  background-color: #c3c3cd;
}
.btnBox {
  @include fixedBottom();
  justify-content: space-around;
}
@mixin btnflex {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 49px;
}
.checkOrder {
  @include btnflex();
  width: 159px;
  background-image: linear-gradient(to right, #ffbc46, #fc9149);
}
.exchange {
  @include btnflex();
  width: 216px;
  background-image: linear-gradient(to right, #d84e51, #dd4345);
}
.exchangeIsgrey {
  @include btnflex();
  width: 216px;
  background-color: #c3c3cd;
}
.indexImg {
  position: absolute;
  top: 241.6vw;
  font-size: 0;
  > img {
    width: 100%;
  }
}
.paddingBox {
  height: 49px;
}
.sharebox {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  img {
    position: absolute;
    width: 100%;
    top: 20px;
    right: 0;
  }
}

.couponPop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
}
.JumpImg {
  width: 280px;
  height: 434px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto auto;
  .close {
    margin: 40px auto 0 123px;
    width: 34px;
    height: 34px;
  }
  .contentImg {
    width: 280px;
    height: 360px;
  }
}
