.posterCont22{
  height: 100vh;
  display: flex;
  align-items: center;
}
.posterCont{
  padding: 22px;
  .text1{
    font-size:14PX;
    font-family:PingFangSC-Regular,PingFang SC;
    font-weight:400;
    color:rgba(56,57,91,1);
    line-height:14PX;
    margin-bottom: 3px;
  }
  .text2{
    font-size:18PX;
    font-family:PingFangSC-Semibold,PingFang SC;
    font-weight:600;
    color:rgba(56,57,91,1);
    line-height:27PX;
    margin-bottom: 5px;
  }
  .textCont{
    position: relative;
    height: 58PX;
  }
  .text3{
    font-size:50PX;
    font-family:DINAlternate-Bold,DINAlternate;
    font-weight:bold;
    color:rgba(56,57,91,1);
    line-height:56PX;
    position: absolute;
    z-index: 3;
  }
  .text4{
    width:175px;
    height:17PX;
    background:rgba(26,174,96,.5);
    position: absolute;
    bottom: 0;
    z-index: 2;
  }
  .img{
    width: 100%;
    margin-top: 36px;
  }
}