.couNodes{
  li{
    font-size: 14px;
    line-height: 21px;
    color: #60617C;
  }
  h3{
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 16px;
    color: #38395B;
  }
  p{
    line-height: 1.5;
    font-size: 14px;
    color: #60617C;
  }
}
.couWrap{
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  .couPage{
    width: 100%;
    height: 113px;
    background: url(@static/giftPacks/coupon.png) no-repeat center center;
    background-size: 100%;
    margin-bottom: 24px;
    .couLeft{
      float: left;
      color: #fff;
      font-size: 46px;
      line-height: 113px;
      margin-left: 15px;
      font-family: DIN Alternate;
      span{
        font-size: 18px;
      }
    }
    .couRight{
      margin-left: 151px;
      color: #fff;
      padding-top: 34px;
      p:first-of-type{
        font-size: 20px;
        line-height: 24px;
        width: 90%;
        font-weight: bold;
      }
      p:nth-of-type(2){
        color:rgba(255,255,255,0.8);
        font-size: 16px;
        margin-top: 6px;
      }
    }
  }
  li{
    list-style: disc;
    margin-left: 20px;
  }
}
.couRecommend{
  width: 100%;
  >p{
    color: #38395B;
    font-size: 16px;
    font-weight: bold;
    margin-top: 24px;
    text-align: left;
  }
  .recommContent{
    width: 100%;
    padding: 15px;
    background:rgba(255,240,238,1);
    border-radius:10px;
    box-sizing: border-box;
    margin-top: 10px;
    .contentTitle{
      width: 100%;
      color: #FF6E5A;
      font-size: 16px;
      font-weight: bold;
    }
    .contentDes{
      width: 100%;
      color: #FF6E5A;
      font-size: 12px;
      line-height: 1.3;
      margin-top: 8px;
    }
  }
}

.slideDiv{
  width: 100%;
  height: 280px;
  position: relative;
  touch-action: none;
  overflow: hidden;
  img{
    width: 100%;
    height: 280px;
  }
  div.playV{
    width: 50px;
    height: 50px;
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: url(@static/giftPacks/bofang.png) no-repeat center;
    background-size: 100% 100%;
  }
}
.detailImgs{
  width: 100%;
  font-size: 0;
  img{
    width: 100%;
  }
}
