$highFontColor: rgba(101, 103, 229, 1);
$defaultFontColor: rgba(56, 57, 91, 0.8);
$grayFontColor: rgba(56, 57, 91, 0.6);
$grayFontTip: rgba(56, 57, 91, 0.4);
$titleFontColor: rgba(56, 57, 91, 1);
$grayBG: rgba(239, 241, 251, 1);
$cardMargin: 30px 20px;
$cardPadding: 20px;
$cardRadius: 10px;
$mainBtnBg: linear-gradient(to right, rgba(102, 107, 232, 1), rgba(70, 24, 170, 1));

.gray{color: $grayFontTip;}
.pt40{padding-top: 40px;}
.myAccout{
  color: $defaultFontColor;
  padding-bottom: 20px;
  border-bottom: 1px solid #fff;
  font-size: 13px;
  line-height: 1.6;

  i{font-style: normal;}
}

.subInfor{
  color: $titleFontColor;
  background: linear-gradient(to bottom, rgba(101, 103, 229, 1), rgba(158, 160, 244, 0) 70%);

  .anibox{
    height: 28px;
    line-height: 28px;
    background: rgba(0, 0, 0, 0.1);
    color: #fff;
  }

  .subCon{
    margin: $cardMargin;
    background: #fff;
    border-radius: 10px;
    padding: $cardPadding;
    text-align: center;
    font-family:DINAlternate-Bold,DINAlternate;
    font-weight:bold;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.04);

    .subTit{
      font-size: 13px;

      img{
        width: 17px;
        height: 22px;
        padding-right: 5px;
        vertical-align: middle;
      }
      span{
        vertical-align: middle;
        color: $grayFontColor;
        font-weight: 400;
      }
    }

    .subNum{
      font-size: 35px;
      i{font-size: 20px;}
    }

    ul{
      padding-top: .5em;
      display: flex;
      align-items: flex-start;
      justify-content: space-between;

      li{
        width: 35%;

        >span{
          color: $grayFontColor;
          font-size: 12px;
          display: inline-block;
          transform: scale3d(.92, .92, 1);
          font-weight: 400;
        }

        p{font-size: 24px; line-height: 1.4;}
        .doxchange{
          padding: 4px 0;
          border-radius: 18px;
          color: #fff;
          
          display: flex;
          align-items: center;
          justify-content: center;

          // line-height: 1.6;
          font-weight: 400;
          font-size: 12px;
          width: 60%;
          margin: 0 auto;
          background: linear-gradient(to right, rgba(255, 140, 73, 1), rgba(255, 108, 90, 1));

          // span, img{
          //   display: inline-block;
          //   vertical-align: middle;
          // }
          img{
            width: 6px;
            height: 9px;
            padding-bottom: 2px;
            padding-left: 2px;
          }
        }
      }
    }
  }
}

.listTab{
  display: flex;
  justify-content: center;

  li{
    padding: 0 2em;
  }

  span{
    text-align: center;
    display: inline-block;
    font-size: 14px;
    padding: .75em;
    border-bottom: 2px solid #fff;

    &.on{
      color: $highFontColor;
      border-bottom-color: $highFontColor;
    }
  }
}

.dataList{

  li{
    position: relative;
    padding: 1em $cardPadding;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    &:before{
      position: absolute;
      top:0;
      left: 0;
      right: 0;
      content: '';
      box-sizing: border-box;
      height: 1px;
      border-bottom: 1px solid rgba(0, 0, 0, 0.2);
      transform: scaleY(0.5); 
      transform-origin: 0 0;
    }

    >div{
      color: $titleFontColor;

      span{
        display: block;
        font-size: 13px;
      }

      p{
        font-size: 12px;
        color: $grayFontTip;

        &.getDedail{
          color: $highFontColor;
        }
      }

      .num{
        color:rgba(255, 109, 89, 1)
      }
    }

    >div:nth-child(2){
      text-align: right;
    }

    &.gray{
      span, .num{
        color: $grayFontTip;
      }
    }
  }

  li:last-child{
    &:after{
      position: absolute;
      bottom:0;
      left: 0;
      right: 0;
      content: '';
      box-sizing: border-box;
      height: 1px;
      border-bottom: 1px solid rgba(0, 0, 0, 0.2);
      transform: scaleY(0.5); 
      transform-origin: 0 0;
    }
  }
}

.onData{
  text-align: center;
  position: relative;

  img{
    width: 40%;
    padding: 1rem 0 .5rem;
  }
}

.onData:before{
  position: absolute;
  top:0;
  left: 0;
  right: 0;
  content: '';
  box-sizing: border-box;
  height: 1px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  transform: scaleY(0.5); 
  transform-origin: 0 0;
}

.toExchange{
  b{font-weight: 400;}

  .tipBox{
    height: 28px;
    line-height: 28px;
    background: rgba(243, 135, 89, .1);
    color: rgba(243, 135, 89, 1);
    text-align: center;
  }

  .ecardOut{
    padding: $cardPadding;

    h3{
      font-size: 16px;
      font-weight: 600;
      color: $titleFontColor;
    }

    .cardBox{
      font-size: 0;
      padding: $cardPadding 0 40px;

      li{
        display: inline-block;
        font-size: 16px;
        color: $highFontColor;
        background: $grayBG;
        width: 30.5%;
        margin-right: 4%;
        text-align: center;
        box-sizing: border-box;
        padding: .75em;
        border-radius: 4px;

        span{
          font-size: 13px;
          display: block;
        }

        &.on{
          background: $highFontColor;
          color:#fff
        }
      }

      li[disabled]{
        background: rgba(242, 242, 242, 1);
        color: rgba(195, 195, 205, 1);
      }

      li:nth-child(3n){
        margin-right: 0;
      }
    }
  }

  .numberBox{
    border-radius: 4px;
    margin: 20px 0 10px;
    height: 50px;
    border: 1px solid $grayBG;
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    line-height: 50px;
    color:$highFontColor;

    button{
      display: inline-block;
      width: 90px;
      background: $grayBG;
      color: $highFontColor;
      text-align: center;
    }

    button[disabled]{
      background: rgba(242, 242, 242, 1);
      color: rgba(195, 195, 205, 1);
    }
  }

  .rulerpop{
    text-align: center;
    padding-top: 2rem;
    font-size: 14px;
    color: $highFontColor;
  }

  .doneExchBox{
    text-align: center;

    h3{padding: $cardPadding 0;}

    img{
      display: inline-block;
      width: 95px;
      height: 75px;
    }
  }
}

.btnBox{
  button, .btn{
    display: block;
    font-size: 16px;
    padding: .75em;
    color: #fff;
    background: $mainBtnBg;
    width: 100%;
    border-radius: 20px;
    text-align: center;
    box-sizing: border-box;
  }

  button[disabled], .btn[disabled]{
    background: rgba(242, 242, 242, 1);
    color: rgba(195, 195, 205, 1);
  }
}


  