// 弹窗样式
//适应齐刘海iphone x、iphone xs max、iphone xr

.modalTest{
    width: 100%;
    max-height: 560px;
    background: #fff;
    border-radius:10px 10px 0px 0px;
    padding-top: 17px;
    > div:first-of-type{
        border-radius:10px 10px 0px 0px;
        text-align: left;
        overflow: initial;
    }
}
.confirmWrap{
    width: 100%;
    padding:0 20px;
    box-sizing: border-box;
    padding-bottom: 70px;
    overflow-y: scroll;
    max-height: 543px;
    .orderDetail{
        padding-bottom: 12px;
        height: 86px;
        .orderImg{
            width: 86px;
            height: 86px;
            float: left;
            position: relative;
            img:first-of-type{
                width: 100%;
                height: 100%;
                border-radius: 10px;
            }
            img:nth-of-type(2){
                position: absolute;
                left: 0;
                top: 0;
                width: 51px;
                height: 18px;
            }
        }
        .orderName{
            margin-left: 101px;
            padding-top: 23px;
            h3{
                color: rgba(56,57,91,1);
                font-weight: bold;
                line-height: 22px;
                font-size: 16px;
                text-align: left;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
            }

            div{
                overflow: hidden;
                text-align: left;
                margin-top: 9px;
                p{
                    display: inline-block;
                    margin-right: 6px;
                }
                p:first-of-type{
                    font-size: 18px;
                    color:rgba(255,110,90,1);
                    line-height:18px;
                    span{
                        font-size: 14px;
                    }
                }
                p:nth-of-type(2){
                    color: rgba(56,57,91,.4);
                    font-size: 12px;
                    line-height: 17px;
                    text-decoration:line-through;
                }
            }

        }
    }
    .opacitySet{
        opacity: .5;
    }
}
.xPaddingBottom{
    padding-bottom: 30px;
}
.unlockWrap{
    width: 100%;
    padding-top: 20px;
    h3{
        color:rgba(56,57,91,1);
        font-size:14px;
        font-weight: normal;
        line-height: 20px;
        span{
            float:right;
            font-size: 10px;
            color:rgba(56,57,91,.6);
        }
    }
    .userBtnWrap{
        width: 100%;
        overflow: hidden;
    }

    .userCommon{
        display: inline-block;
        padding: 0 11px;
        height: 33px;
        box-sizing: border-box;
        line-height: 33px;
        margin-right: 10px;
        font-size: 12px;
        margin-top: 10px;
    }
    .userInfo{
        background:rgba(101,103,229,0.1);
        border-radius:10px;
        border:1px solid rgba(101,103,229,1);
        text-align: center;
        color:rgba(101,103,229,1);

    }
    .userInfoUn{
        background:rgba(239,240,242,1);
        border-radius:10px;
        text-align: center;
        color:#38395B;
        border:1px solid rgba(239,240,242,1);
    }
    .userUnlock{
        border-radius:10px;
        text-align: center;
        color:rgba(56,57,91,.2);
        padding-left: 25px;
        background: url(@static/unlockCompon.png) no-repeat rgba(239,240,242,1);
        background-size: 14px auto;
        background-position: 7px center;
        font-size: 12px;
        border:1px solid rgba(239,240,242,1);
    }
    .userUnBuy{
        border-radius:10px;
        background: rgba(239,240,242,1);
        text-align: center;
        color:rgba(56,57,91,.2);
        font-size: 12px;
        border:1px solid rgba(239,240,242,1);
    }
    .numWrap{
        width: 80px;
        float: right;
        margin-top: 5px;
        img{
            width: 25px;
            height: 25px;
        }
        img:first-of-type{
            float: left;
        }
        img:last-of-type{
            float: right;
        }
        div{
            width: 50px;
            text-align: center;
            margin: 0 auto;
            line-height: 25px;
            color: #38395B;
            font-size: 16px;
        }
    }
}
.confirmBtn{
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 10px 20px;
    box-sizing: border-box;
    background:rgba(255,255,255,1);
    box-shadow:0px -1px 4px 0px rgba(0,0,0,0.04);
    div{
        width: 100%;
        height: 40px;
        line-height: 40px;
        text-align: center;
        color: #fff;
        background:linear-gradient(140deg,rgba(102,107,232,1) 0%,rgba(70,24,170,1) 100%);
        border-radius: 20px;
        font-size: 16px;
    }
}

// 什么是解锁弹窗
.answerWrap{
    width: 100%;
    height: 100%;
    position: fixed;
    background: rgba(0,0,0,0.7);
    top: 0;
    left: 0;
    z-index: 2000;
    touch-action: none;
  }
  .answer{
    position: absolute;
    width: 310px;
    height: 237px;
    left:50%;
    top:50%;
    transform: translate3d(-50%, -50%, 0);
    background: #fff;
    padding: 40px 21px 20px;
    box-sizing: border-box;
    color: #2c2c2c;
    border-radius: 15px;
    touch-action: none;
    z-index: 2500;
    h3{
      text-align: center;
      font-size: 16px;
      color: #38395B;
    }
    p{
      font-size: 14px;
      margin-top: 14px;
      line-height: 24px;
      color: #60617C;
    }
    span{
      position: absolute;
        width: 16px;
        height: 16px;
        background: url(@static/closeModal.png) no-repeat;
        background-size: cover;
        right: 17px;
        top: 17px;

        &::after{
          content: '';
          display: block;
          width: 1px;
          height: 40px;
          background: rgba(255,255,255, .6);
          position: absolute;
          left: 50%;
          top: 31px;
        }
    }
}
.closeWrap{
    width: 20px;
    height: 20px;
    position: absolute;
    top: 3px;
    right: 20px;
    background: url(@static/closeModal.png) no-repeat;
    background-position: right top;
    background-size: 12px 12px;
    z-index: 1000;
}
.couponsWrap{
    width: 100%;
    margin-top: 20px;
    padding: 0 15px;
    box-sizing: border-box;
    overflow: hidden;
    div{
        width: 100px;
        height: 150px;
        background: #e6e6e6;
    }
    div:first-of-type{
        float: left;
    }
    div:nth-of-type(2){
        float: right;
    }
    div:last-of-type{
        margin: 0 auto;
    }
}
.cover{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.7);
    z-index: 100;
    touch-action: none;
}
.wrapStyle{
    touch-action: none;
}
.loginWrap{
    position: absolute;
    width: 310px;
    height: 310px;
    left:50%;
    top:50%;
    transform: translate3d(-50%, -50%, 0);
    background: #fff;
    padding: 40px 20px 30px;
    box-sizing: border-box;
    border-radius: 10px;
    span{
        position: absolute;
          width: 20px;
          height: 20px;
          background: url(@static/closeModal.png) no-repeat;
          background-size: cover;
          right: 15px;
          top: 15px;

          &::after{
            content: '';
            display: block;
            width: 1px;
            height: 40px;
            background: rgba(255,255,255, .6);
            position: absolute;
            left: 50%;
            top: 31px;
          }
      }
    .confirm{
        width: 100%;
        height: 40px;
        text-align: center;
        line-height: 40px;
        background:linear-gradient(135deg,rgba(102,107,232,1) 0%,rgba(70,24,170,1) 100%);
        margin-top: 26px;
        border-radius: 23px;
        color: #FFF;
        font-size: 15px;
    }
}
.row {
  margin-bottom: 16px;
  input {
    display: inline-block;
    box-sizing: border-box;
    border: 0px;
    color: #6F6D6D;
    font-size: 14PX;
    background-color: #F8F8FA;
    width: 100%;
    height: 40PX;
    line-height: normal;
  }
  input::-webkit-input-placeholder{
    color: rgba(56,57,91,0.4);
  }
  .inputBlock {
    display: flex;
    padding: 0px 17px;
    width: 100%;
    height: 40PX;
    background-color: #F8F8FA;
    border-radius: 23px;
    box-sizing: border-box;
    .inputWrap {
      position: relative;
      height: 40PX;
      flex: 1;
      .codeInput {
        padding-right: 24PX;
        width: 100%;
        height: 40PX;
      }
      .inputClear {
        content:"";
        display: inline-block;
        position: absolute;
        padding: 4PX;
        top: 50%;
        right: 0px;
        transform: translate3d(0, -50%, 0);
        font-size: 14PX;
        background: none;

      }

    }
    .codeBtn {
      width: 90px;
      height: 40PX;
      line-height: 40PX;
      background-image: linear-gradient(135deg, rgba(102,107,232,1) 0%, rgba(70,24,170,1) 100%);;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      font-size: 14PX;
      text-align: right;
      span {
          margin-right: 17px;
          color: rgba(224, 224, 224, 1);
      }
    }
  }
}
.mb56 {
  margin-bottom: 10px;
}
.registerTit {
  text-align: center;
  line-height: 25px;
  font-size: 18PX;
  font-family: 'PingFangSC-Medium,PingFang SC';
  color: #38395B;
  margin-bottom: 26px;
}
.tips{
  font-size: 12px;
  color: rgba(56,57,91,0.6);
  text-align: center;
  margin-top: 10px;
}
.imgListWrap{
    overflow: hidden;
    padding-bottom: 50px;
    font-size: 0;
    img{
        width: 100%;
      display: block;
    }

}
.botBtnWrap{
    overflow: hidden;
    div{
        float: left;
        height: 50px;
        line-height: 50px;
        text-align: center;
    }
}
.totalPrice{
    width: 100%;
    padding-bottom: 16px;
    text-align: right;
    color: #38395B;
    font-size: 12px;
    line-height: 14px;
    border-bottom: 0.5px solid rgba(56,57,91,.14);
    span{
        color: #FF7157;
    }
}
.isBangs{
    width: 100%;
    height: 40px;
    background: #fff;
}
.xPhonePaddingB{
    padding-bottom: 50px;
}
.wechatPaddingB{
    padding-bottom: 15px;
}
