$grayColor: #38395b;
$grayTag: #f5f5f5;
$fontColor: #38395b;
.page {
  width: 100vw;
  height: 100vh;
}
.collectbox {
  padding: 32px;
  color: $fontColor;
  .genderbox {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 18px;

    div {
      padding: 15px;

      img {
        width: 55px;
        vertical-align: middle;
        padding-right: 7px;
        filter: grayscale(100%);
        opacity: 0.2;

        &.on {
          opacity: 1;
          filter: none;
        }
      }
      span {
        vertical-align: middle;
      }
    }
  }

  .from {
    padding: 0px 0 20px 0;
    margin-top: 22px;
    li {
      height: 45px;
      line-height: 45px;
      background: #f5f5f5;
      border-radius: 20px;
      margin-bottom: 12px;
      padding: 0 20px;
      position: relative;

      input {
        background: transparent;
      }

      span {
        font-size: 14px;
        color: $grayColor;
      }

      .tcr {
        padding-right: 24px;
        text-align: right;
        float: right;
      }
    }

    li:nth-child(1) {
      &:after {
        content: "";
        display: block;
        width: 10px;
        height: 7px;
        position: absolute;
        right: 24px;
        top: 50%;
        margin-top: -4px;
        background: url(@static/bindOnly/todown.png) no-repeat;
        background-size: cover;
      }
    }
    li:nth-child(3) {
      &:after {
        content: "";
        display: block;
        width: 10px;
        height: 7px;
        position: absolute;
        right: 24px;
        top: 50%;
        margin-top: -4px;
        background: url(@static/bindOnly/todown.png) no-repeat;
        background-size: cover;
      }
    }
    .pickerIcon {
      &:after {
        content: "";
        display: block;
        width: 10px;
        height: 7px;
        position: absolute;
        right: 24px;
        top: 50%;
        margin-top: -4px;
        background: url(@static/bindOnly/todown.png) no-repeat;
        background-size: cover;
      }
    }
    .height {
      &:after {
        content: "cm";
        display: block;
        width: 10px;
        height: 7px;
        position: absolute;
        right: 30px;
        top: 0;
      }
    }
    .weight {
      &:after {
        content: "kg";
        display: block;
        width: 10px;
        height: 7px;
        position: absolute;
        right: 30px;
        top: 0;
      }
    }
    li:nth-child(6) {
      &:after {
        content: "";
        display: block;
        width: 10px;
        height: 7px;
        position: absolute;
        right: 24px;
        top: 50%;
        margin-top: -4px;
        background: url(@static/bindOnly/todown.png) no-repeat;
        background-size: cover;
      }
    }
    li:nth-child(7) {
      &:after {
        content: "";
        display: block;
        width: 10px;
        height: 7px;
        position: absolute;
        right: 24px;
        top: 50%;
        margin-top: -4px;
        background: url(@static/bindOnly/todown.png) no-repeat;
        background-size: cover;
      }
    }
  }
}

.relationbox {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 4px;
  li {
    width: 140px;
    height: 45px;
    background: $grayTag;
    line-height: 20px;
    font-size: 14px;
    padding: 12px 25px;
    border-radius: 22.5px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 6px;
    &.on {
      background: linear-gradient(135deg, #666be8, #4618aa);
      color: #fff;
    }
    &.off {
      color: #c3c3cd;
    }
  }
}

.foot {
  // line-height: 40px;
  position: fixed;
  left: 0;
  bottom: 0;
  right: 0;
  margin: 0 auto;
  width: 100%;
  height: 1.30667rem;
  box-sizing: border-box;
  text-align: center;
  border-radius: 0;
  font-size: 15px;
  width: 100%;
  height: 49px;
  background-image: linear-gradient(135deg, #666be8, #4618aa);
}
.picker {
  width: 100%;
  height: 100%;
  background-color: rgba($color: #000000, $alpha: 0.7);
  position: fixed;
  top: 0;
  left: 0;
  > div {
    width: 100%;
    height: 200px;
    border-radius: 10px 10px 0 0;
    background-color: #fff;
    position: fixed;
    bottom: 0;
    z-index: 1000;
    > p {
      padding: 15px 20px;
      display: flex;
      justify-content: space-between;
      > span {
        font-size: 16px;
        line-height: 22px;
      }
      > span:first-child {
        color: #60617c;
      }
      > span:last-child {
        color: #6567e5;
      }
    }
  }
}
.sexPicker {
  display: flex;
  justify-content: center;
  padding: 15px 0;
  > div {
    margin: 0 40px;
    img {
      width: 66px;
      height: 66px;
    }
    p {
      margin-top: 5px;
      text-align: center;
      font-size: 16px;
      line-height: 22px;
      color: #c3c3cd;
    }
  }
}
.vision {
  display: flex;
  flex-direction: column;
  align-items: center;
  > img {
    width: 16px;
    height: 12px;
    position: relative;
  }
  > div {
    width: 230px;
    overflow-x: scroll;
    > .dashed {
      width: 50%;
      border-left: 1px dashed #ff6d59;
      height: 60px;
      position: absolute;
      right: 0;
      bottom: 65px;
    }
    .scale {
      display: flex;
      align-items: flex-end;
      position: relative;
      height: 60px;
      > div {
        width: 110px;
        height: 1px;
        flex-shrink: 0;
      }
      > span {
        flex-shrink: 0;
        width: 1px;
        height: 18px;
        background-color: #60617c;
        margin: 0 5px;
        > p {
          position: absolute;
          top: 8px;
          padding-left: 5px;
        }
      }
      .long {
        height: 25px;
      }
    }
  }
  > p {
    font-size: 30px;
    margin-top: 16px;
    font-family: DIN Alternate;
  }
}
