.question{
    h5{
        width:212px;
        font-size:26px;
        font-family:PingFangSC-Medium,PingFang SC;
        font-weight:500;
        color:rgba(56,57,91,1);
        line-height:39px; 
        margin:17px auto 36px;
        text-align: center;
    }
    .subject{
        padding-left:30px;
        padding-bottom:50px;
        >div{
            margin-bottom:36px;
            .title{
                display: flex;
                align-items: center;
                margin-bottom:23px;
                label{
                    height:22px; line-height:22px;
                    font-size:16px;
                    font-family:PingFangSC-Semibold,PingFang SC;
                    font-weight:600;
                    color:rgba(101,103,229,1);
                }
                span{
                    height:22px; line-height:22px;
                    font-size:16px;
                    font-family:PingFangSC-Medium,PingFang SC;
                    font-weight:500;
                    color:rgba(56,57,91,1);
                }
            }
           .options{
               display: flex;
               align-items: center;
               >div{
                display: flex;
                align-items: center;
                margin-right:50px;
                img{
                    width:15px;height:15px;
                }
                span{
                    height:16px;line-height:16px;
                    font-size:16px;
                    color:rgba(56,57,91,1);
                    margin-left:12px;
                }
               }
           }
        }
    }
}