.overHidden {
  overflow: hidden;
}

.blockBtn {
  height: 44px;
  line-height: 44px;
  font-size: 15PX;
  color: #fff;
  text-align: center;
  border-radius: 22PX;
  background: #BDBDBD;
  margin-bottom: 18px;
}
.agreeClause {
  margin: 0 auto;
  height: 17px;
  line-height: 17PX;
  text-align: center;
  font-size: 13PX;
  font-family: PingFangSC-Regular;
  font-weight: 400;
  color: rgba(117, 117, 117, 1);
  display: flex;
  justify-content: center;
  align-items: center;
  i {
    font-style:normal;
    line-height: 17PX;
  }
  span {
    color: #007AFF;
    line-height: 17PX;
  }
  img {
    width: 17px !important;
    height: 17px !important;
    margin-right: 8px;
  }
}

.mask {
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 999;
  transition-duration: 400ms;
}

.redWrap {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  z-index: 1000;
  transition-property: transform;
  transition-duration: 400ms;
  text-align: right;
  .paperClose {
    display: inline-block;
    margin-bottom: 20px;
    width: 33px;
    height: 33px;
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 2;
    background: url('@static/closeicon044.png') no-repeat;
    background-size: 100% 100%;
  }
}

.redPaper {
  position: relative;
  width: 280px;
  height: 360px;
  background: url('@static/redpaper02.png') no-repeat;
  background-size: 100% 100%;
  .redBtn {
    position: absolute;
    left: 50%;
    bottom: 56px;
    transform: translate3d(-50%, 0, 0);
    width: 92px;
    height: 92px;
    line-height: 92px;
    text-align: center;
    font-size: 36PX;
    font-family: 'PingFangSC-Regular';
    color: #454444;
  }
}

.closeModal {
  position: absolute;
  top: 18px;
  right: 18px;
  width: 16px;
  height: 16px;
  background: url('@static/register/closeicon06.png') no-repeat;
  background-size: 100% 100%;
}

.redRegister {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -198px;
  transform: translate3d(-50%, 0, 0);
  width: 329px;
  border-radius: 8PX;
  background-color: #FEFEFE;
  z-index: 1000;
  transition-property: transform;
  transition-duration: 400ms;
  overflow: hidden;
  .registerCon {
    padding: 0px 25px 18px 25px;
  }
  .registerTit {
    padding: 53px 0px;
    text-align: center;
    font-size: 18PX;
    font-family: 'PingFangSC-Semibold';
    color: rgba(33, 33, 33, 1);
    letter-spacing: 1PX;
  }
  .row {
    margin-bottom: 30px;
    input {
      display: inline-block;
      box-sizing: border-box;
      border: 0px;
      color: #6F6D6D;
      font-size: 14PX;
      background-color: #F8F8FA;
      width: 100%;
      height: 44PX;
      line-height: normal;
    }
    .inputBlock {
      display: flex;
      padding: 0px 16px;
      width: 100%;
      height: 44PX;
      background-color: #F8F8FA;
      border-radius: 22PX;
      box-sizing: border-box;
      .inputWrap {
        position: relative;
        height: 44PX;
        flex: 1;
        .codeInput {
          padding-right: 24PX;
          width: 100%;
          height: 44PX;
        }
        .inputClear {
          display: inline-block;
          position: absolute;
          padding: 4PX;
          top: 50%;
          right: 0px;
          transform: translate3d(0, -50%, 0);
          font-size: 14PX;
        }
      }
      .codeBtn {
        width: 120px;
        height: 44PX;
        line-height: 44PX;
        color: #007AFF;
        font-size: 14PX;
        text-align: right;
        span {
            margin-right: 17px;
            color: rgba(224, 224, 224, 1);
        }
      }
    }
  }
  .mb56 {
    margin-bottom: 56px;
  }
  .receiveBtn {
    width: 100%;
    &.active {
      background: #007AFF;
    }
  }
}

.middleWrap {
  position: fixed;
  top: 25%;
  left: 50%;
  transform: translate3d(-50%, -20%, 0);
  width: 292px;
  z-index: 1002;
}

.closeWrap {
  position: absolute;
  top: 108px;
  right: 10px;
  width: 33px;
  height: 33px;
  background: url('@static/closeicon05.png') no-repeat;
  background-size: 100% 100%;
}

.redResultWrap {
  position: relative;
  width: 292px;
  height: 410px;
  background: url('@static/redresult.png') no-repeat;
  background-size: 100% 100%;
  box-sizing: border-box;
  .redResult {
    position: relative;
    padding: 0px 16px;
    height: 418px;
    .resultCon {
      position: absolute;
      top: 160px;
      left: 16px;
      right: 16px;
      color: #fff;
      font-size: 23PX;
      font-family: 'PingFangSC-Regular';
      text-align: center;
      .coupon {
        margin: 0px 8PX;
        color: #FCF800;
        font-size: 29PX;
        font-family: 'PingFangSC-Medium';
      }
    }
    .resultBtn {
      position: absolute;
      left: 16px;
      right: 16px;
      bottom: 10px;
    }
    .redBtn {
      background:linear-gradient(235deg,rgba(253,127,107,1) 0%,rgba(249,101,94,1) 100%);
    }
  }
}

.redPrivacy {
  z-index: 2000;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -237px;
  transform: translate3d(-50%, 0, 0);
  width: 334px;
  height: 473px;
  box-sizing: border-box;
  border-radius: 8PX;
  background-color: #FEFEFE;
  z-index: 1000;
  transition-property: transform;
  transition-duration: 400ms;
  overflow: hidden;
  .privacyTit {
    height: 22px;
    font-size: 16PX;
    font-family: PingFangSC-Medium;
    font-weight: 500;
    color: rgba(33, 33, 33, 1);
    line-height: 22PX;
    text-align: center;
    margin: 29px 0 16px;
  }
  .privacyCont {
    width: 306px;
    font-size: 15PX;
    font-family: PingFangSC-Regular;
    color: rgba(117, 117, 117, 1);
    line-height: 26PX;
    margin: 0 auto;
    height: 375px;
    overflow-y: scroll;
  }
}

.redQuestion {
  transform: translate3d(-50%, 0, 0);
  width: 334px;
  height: 500px;
  box-sizing: border-box;
  border-radius: 8PX;
  background-color: #FEFEFE;
  z-index: 1000;
  transition-property: transform;
  transition-duration: 400ms;
  overflow: hidden;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -250px;
  .questionTit {
    height: 28px;
    font-size: 20PX;
    font-family: PingFangSC-Medium;
    font-weight: 500;
    color: rgba(33, 33, 33, 1);
    line-height: 28PX;
    margin: 45px 0 30px;
    text-align: center;
  }
  .questionCont {
    .gender {
      .genderImg {
        margin-left: 66px;
        display: flex;
        .outGender {
          p {
            border: 3px solid #fff;
            border-radius: 50%;
            width: 69px;
            height: 69px;
            img {
              display: block;
            }
          }
          .genderCont {
            margin-top: 6px;
            height: 20px;
            display: flex;
            span {
              margin-left: 30px;
              font-size:14PX;
              font-family:PingFangSC-Regular;
              font-weight:400;
              color: #757575;
              line-height:20PX;
              &.activeGender {
                color: #212121;
              }
            }
          }
          .genderActive {
            position: relative;
            border: 3px solid #007AFF !important;
            &::before {
              content: '';
              width: 18px;
              height: 18px;
              background: url('@static/register/genderCheck.png') no-repeat;
              background-size: 100%;
              position: absolute;
              z-index: 100;
              bottom: 0;
              right: 0;
            }
          }
          &:last-child {
            p {
              margin-left: 56px;
            }
            span {
              margin-left: 87px;
            }
          }
        }
      }
    }
    .common {
      margin-top: 29px;
      position: relative;
      height: 38px;
      .commonBg {
        position: absolute;
        top: 0;
        display: flex;
        p {
          margin-left: 36px;
          img {
            display: block;
            width: 136px;
          }
          &:last-child {
            margin-left: -12px;
          }
        }
      }
      .commonCont {
        position: absolute;
        top: 0;
        width: 100%;
        span {
          margin-left: 36px;
          display: inline-block;
          width: 136px;
          text-align: center;
          font-size: 14PX;
          font-family: PingFangSC-Regular;
          font-weight: 400;
          color: rgba(117, 117, 117, 1);
          line-height: 38PX;
          &:last-child {
              margin-left: -12px;
          }
          &.activeCont {
            color: #fff;
          }
        }
      }
    }
    .submitBtn {
      margin: 40px auto 18px;
      width: 315px;
      height: 45px;
      background: rgba(189, 189, 189, 1);
      border-radius: 23px;
      width: 300px;
      font-size: 16PX;
      font-family: PingFangSC-Medium;
      font-weight: 500;
      color: rgba(255, 255, 255, 1);
      line-height: 45PX;
      text-align: center;
      &.active {
        background: #007AFF;
      }
    }
  }
}

.mt36 {
  margin-top: 36px !important;
}