.titleBar{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  .titleBarCon{
    height: 44px;
    position: relative;
  }

  &.white{
    background: transparent;
    h1{
      color:rgba(255,255,255,1);   
    }
  }
  h1{
    margin:0;
    text-align: center;
    font-size:16px;
    line-height: 44px;
    color:#393C40;
    font-weight: 600;
  }
  .backIcon{
    width: 24px;
    height: 24px;
    position: absolute;
    top: 50%;
    left: 8px;
    transform: translate(0,-50%);
  }
  .hasRight{
    position: absolute;
    right:15px;top:50%;
    transform: translate(0,-50%);
    font-size:16px;
    font-family:PingFangSC-Regular,PingFang SC;
    font-weight:400;
    color:rgba(101,103,229,1);
  }
}

.titleBarBlank{
  width: 100%;
  position: relative;
}
