.line_bar{

}
.line_bar_header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 13px;
  h1{
    margin: 0;
    padding: 0;
    font-size:14px;
    font-weight:400;
    color:rgba(56,57,91,1);
    line-height:14px;
  }
  img{
    width: 64px;
  }

}
.line_bar_bottom{
  // padding: 5px;
  // background:rgba(239,241,250,1);
  border-radius:9px;
  // opacity:0.4;
  position: relative;
}
.line_bar_inner{
  width: 100%;
  height:8px;
  background:#D7DBE2;
  border-radius:4px; 
  overflow: hidden;
  position: relative;
  span{
    height: 8px;
    position: absolute;
    top: 0;
    left: 0;
    bottom:0;
    border-radius: 8px;
    display: block;
    background:linear-gradient(270deg,rgba(101,103,229,1) 0%,rgba(140,175,233,1) 100%);
    &.lineColor{
      background:linear-gradient(47deg,rgba(155,217,220,1) 0%,rgba(4,209,197,1) 100%);
    }
  }
}
.lineOne{
  width: 1px;
  height: 8px;
  background:rgba(249,249,253,1);
  position: absolute;
  left: 20%;
  top: 0;
  bottom: 0;
}
.lineTwo{
  width: 1px;
  height: 8px;
  background:rgba(249,249,253,1);
  position: absolute;
  left: 40%;
  top: 0;
  bottom: 0;
}
.lineThree{
  width: 1px;
  height: 8px;
  background:rgba(249,249,253,1);
  position: absolute;
  left: 60%;
  top: 0;
  bottom: 0;
}
.lineFour{
  width: 1px;
  height: 8px;
  background:rgba(249,249,253,1);
  position: absolute;
  left: 80%;
  top: 0;
  bottom: 0;
}