$family1:PingFangSC-Medium;
$family2:DINAlternate-Bold;
$family3:PingFangSC;

.header{
    width:100%;
    background:rgba(255,255,255,1);
    box-shadow:0px 1px 4px 0px rgba(0,0,0,0.04);
    .top{
        display:flex;
        padding:13px 0 10px;
        span:nth-of-type(1){
            flex:1;
            img{
                display:inline-block;
                width:12px;height:16px;
                margin:3px 0 3px 20px;
            }
        }
        span:nth-of-type(2){
            flex:2;
            line-height:22px;
            font-size: 16px;
            text-align:center;
            color:rgba(56,57,91,1);
        }
        span:nth-of-type(3){
            flex:1;
        }
    }
}
.padding20{
    padding:20px;
    .introduction{
        background:rgba(255,255,255,1);
        box-shadow:0px 2px 8px 0px rgba(0,0,0,0.1);
        border-radius:10px;
        padding:36px 15px;
        margin-bottom:20px;
        .title{
            height:25px;line-height:25px;
            font-size:18px;
            font-family:$family1;
            color:rgba(56, 57, 91, 1);
            text-align: center;
            padding-bottom:16px;
        }
        .desc{
            font-size:14px;
            color:rgba(56,57,91,0.8);
            line-height:24px;
        }
       .tips{
           border:1px solid #eee;
           border-radius:4px;
           margin:11px 0;
           .column{
                display:flex;
                align-items: center;
                justify-content: center;
                height:40px;
                background:rgba(243,245,252,1);
                border-radius:4px 4px 0 0;
                text-align: center;
                span{
                    flex:1;
                    line-height:40px;
                    color:rgba(56, 57, 91, 1);
                    font-family:$family1;
                    font-size:14px;
                    border-right:1px solid #eee;
                }
                span:nth-of-type(3){
                    border:0 !important;
                }
           }
           .text{
               height:40px;
               display:flex;
               align-items: center;
               justify-content: center;
               text-align: center;
               span{
                    flex:1;
                    font-size:13px;
                    color:rgba(96,97,124,1);
                    line-height:40px;
                    border-right:1px solid #eee;
               }
               span:nth-of-type(3){
                border:0 !important;
               }
           }
           .text:nth-of-type(even){
            background:rgba(249, 249, 249, 1);
            }
       }
    }
    .introduction:last-child{
        margin-bottom: 0 !important;
    }
}
.margin0 p{
    margin-top:0 !important;
}
.margin0 p:first-child{
    margin-top:10px !important;
}
.margin0 p:last-child{
    margin-bottom:72px !important;
}
