$v: 1vw/3.75;
.page{
  min-height: auto;
}
@mixin card {
  margin: 0 20 * $v;
  border-radius: 10 * $v;
  box-shadow: 0 2px 10px 0 rgba($color: #000000, $alpha: 0.1);
  background-color: #fff;
}
.indexPage {
  
}
@mixin hlBanner {
  padding-left: 20px;
  color: #fff;
  position: relative;
  display: flex;
  justify-content: space-between;
  > div {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    > div {
      > p:nth-of-type(1) {
        font-size: 24 * $v;
        line-height: 16 * $v;
        font-weight: bold;
        margin-top: 45 * $v;
      }
      > p:nth-of-type(2) {
        padding-top: 14 * $v;
        width: 210 * $v;
        font-size: 14 * $v;
        line-height: 20 * $v;
        opacity: 0.8;
        margin-bottom: 40 * $v;
      }
    }
  }
  > .high {
    background-size: 124px 203px;
    background-position: right;
  }
  > .low {
    background-size: 121px 147px;
    background-position: right top;
  }
}
.hBanner {
  @include hlBanner();
  //background-image: linear-gradient(180deg, rgba(131,217,212,1), #fff);
  position: relative;
  z-index: 20;
}
.lBanner {
  @include hlBanner();
  //background-image: linear-gradient(180deg, #ff8571, #ff6254);
  position: relative;
  z-index: 20;
}
.homeTitle {
  padding: 44 * $v 82 * $v 0 20 * $v;
  font-size: 26 * $v;
  line-height: 38 * $v;
  font-weight: bold;
  color: #38395b;
}
.block1 {
  height: 70 * $v;
}
.guide {
  height: 100vh;
  width: 100vw;
  overflow-y: scroll;
  > div {
    height: 1890 * $v;
  }
}
.guideWrap{
  width: 100%;
  background: url(@static/readGuide/bg.png) no-repeat top center;
  background-size: 100% 139px;
  box-sizing: border-box;
  padding: 21px 20px 0;
  .slideContent{
    width: 100%;
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    .dotsWrap{
      width: 90px;
      position: absolute;
      right: 10px;
      bottom: 15px;
      overflow: hidden;
      div{
        width: 5px;
        height: 5px;
        background: #EFEFEF;
        float: left;
        border-radius: 50%;
        margin-left: 8px;
      }
    }
  }
  .slideWrap{
    width: 100%;
    img{
      width: 100%;
      border-radius: 10px;
    }
  }
  .guideContent{
    width: 100%;
    box-sizing: border-box;
    margin-top: 30px;
    .title{
      color: #38395B;
      font-size: 22px;
      text-align: center;
      font-weight: bold;
      padding-bottom: 12px;
      position: relative;
      margin-bottom: 38px;
      span{
        width: 28px;
        height: 3px;
        background: #38395B;
        border-radius: 2px;
        margin: 0 auto;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
      }
    }
    .readWrap{
      width: 100%;
      margin-bottom: 40px;
      font-size: 0;
      img{
        width: 100%;
      }
    }
  }
}
.report_program{
  padding: 0 20 * $v;
  h1{
    margin: 0;
    padding: 0;
    font-size:20px;
    font-weight:600;
    color:rgba(56,57,91,1);
    line-height:28px;
    padding: 24px 0 16px;
  }

}
.category_List{
  padding: 0 15 * $v;
  //box-shadow:0px 2px 10px 0px rgba(0,0,0,0.1);
  border-radius:10px;
  position: relative;
  z-index: 15;
}
.highLightTitle{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 20px 20px 0;
  .highLightTitleTxt{
    position: relative;
    span{
      font-size:22px;
      font-weight:600;
      color:rgba(255,255,255,1);
      line-height:22px;
      display: inline-block;
      vertical-align: middle;
    }
    img{
      width: 18px;
      height: 18px;
      display: inline-block;
      vertical-align: middle;
      margin-left: 10px;
    }
  }
  h2{
    font-size:14px;
    font-weight:400;
    color:rgba(255,255,255,1);
    line-height:14px;
  }
}
.hBannerBg{
  width:100%;
  height: 298px;
  position: absolute;
  top:0;
  left:0;
  right: 0;
  z-index: 10;
  background-image: linear-gradient(180deg, rgba(131,217,212,1), #fff);
}
.lBannerBg{
  width:100%;
  height: 298px;
  position: absolute;
  top:0;
  left:0;
  right: 0;
  z-index: 10;
  background-image: linear-gradient(180deg, #FFA296, #fff);
}
.highLightMask{
  background:rgba(56,57,91,0.85);
  box-shadow:0px 2px 6px 0px rgba(0,0,0,0.2);
  border-radius:5px;
  position: absolute;
  top: 30px;
  left: 14px;
  display: none;
  &.active{
    display: block;
  }
  &:before{
    content:"";
    display:block;
    width: 0;
    height: 0;
    border-bottom: 6px solid rgba(56,57,91,0.85);
    border-right: 7px solid transparent;
    border-left: 7px solid transparent;
    position: absolute;
    left: 86px;
    top: -6px;

  }
  .content{
    width: 276px;
    padding: 12px 16px;

  }
}
.highLightLink{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 15 * $v 10px;
  border-radius: 10 * $v;
  box-shadow: 0 2px 10px 0 rgba($color: #000000, $alpha: 0.1);
  background-color: #fff;
  position: relative;
  z-index: 15;
  padding: 7px 14px 7px 4px;
  .chart{
    padding-left: 46px;
    font-size:16px;
    font-weight:400;
    color:rgba(56,57,91,1);
    line-height: 43px;
    background: url(@static/report4_2/chart.png) no-repeat left center;
    background-size: 46px;
  }
  .linkTo{
    font-size:12px;
    font-weight:400;
    color:rgba(101,103,229,1);
    line-height:12px;
    padding: 6px 16px;
    background:#EFF1FA;
    border-radius: 20px;
  }
  
}

.report_program_list{
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}






.suggest_panel {
  @include card();
  height: auto;
  padding: 12px 15px 30px;
  box-sizing: border-box;
}
.suggest_title{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width:100%;
  padding-bottom: 12px;
  position: relative;
  &:after{
    content:"";
    display: block;
    width: 100%;
    height: 1px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    -webkit-transform: scaleY(.5);
    transform: scaleY(.5);
    background-color: #979797;
  }
  h1{
    font-size:20px;
    font-weight:600;
    color:rgba(56,57,91,1);
    line-height:20px;
    margin: 0;
    padding: 0;
  }
  .title_right{
    text-align: right;
    p{
      font-size:10px;
      font-weight:400;
      color:rgba(136,136,157,1);
      line-height:13px

    }
  }
}
.tipsTxt{
  background: url(@static/report5/questionMark.png) no-repeat;
  background-size: 12px;
  background-position: left center;
  padding: 9px 0 8px 13px;
  font-size:10px;
  font-weight:400;
  color:rgba(136,136,157,1);
  line-height:11px;
  
}

// echarts
.echart_content{
  width: 100%;  
}
.echart_content_con{
  width: 100%;
  height: 250px;
  position: relative; 
}
.echart_radar{
  width: 100%;
  height: 250px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.echart_line_con{
  padding: 0 18px;
  position: relative; 
  margin-top: 16px;
  .echart_line+.echart_line{
      margin-top: 20px;
  }
}
.echart_para{
  margin-top: 25px;
  padding: 0 28px;   
  font-size:12px;
  font-weight:400;
  color:rgba(136,136,157,1);
  line-height:17px; 
  position: relative;
  span+span:before{
      content:"、";
      display: inline-block;
  }
  .echart_para_con{
      position: relative;
      z-index: 5;
  }
  .dotLeft{
      width: 16px;
      position: absolute;
      left: 7px;
      top: 0;
      img{
          width: 100%;
      }
  } 
  .dotRight{
      width: 16px;
      position: absolute;
      right: 7px;
      bottom: 0;
      img{
          width: 100%;
          transform: rotate(-180deg)
      }
  }   
}
.echart_jump{

  padding: 0 23px;
  font-size:14px;
  font-weight:400;
  color:rgba(101,103,229,1);
  line-height:14px;
  margin-top: 24px;
  span{
    background:url(@static/reportEg/jtPurple.png) no-repeat;
    background-position: center right;
    background-size: 5 * $v;
    padding-right: 14px;
  }
  
}

.tips_modal{
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: rgba(0,0,0,0.6);
  z-index: 100;
  .modal_box{
      width:310px;
      height:auto;
      background:rgba(255,255,255,1);
      border-radius:10px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);  
  }
  .modal_close{
      width: 12px;
      height: 12px;
      position: absolute;
      top: 16px;
      right: 16px;
      background: url('@static/report5/close.png') no-repeat 50% 50%;
      background-size: 100%;

  }
  .modal_content{
      padding: 28px 26px 33px;
      h1{
          font-size:16px;
          font-weight:400;
          color:rgba(96,97,124,1);
          line-height:16px;
      }
      .modal_para_con{
          margin-top: 8px;
          p{
              font-size:14px;
              font-weight:400;
              color:rgba(96,97,124,1);
              line-height:20px;
              &+p{
                  margin-top: 10px;
              }
          }
      }
  }
}

.empty_chart{
  padding-top: 7px;
  img{
    width: 100%;
    display: block;
    margin: 0 auto;
  }
  h1{
    margin: 8px auto 0;
    padding: 0;
    width:290px;
    font-size:12px;
    font-weight:400;
    color:rgba(136,136,157,1);
    line-height:18px;
  }
  .btn{
    width:260px;
    height:34px;
    line-height: 34px;
    background:rgba(101,103,229,1);
    border-radius:17px;
    margin: 22px auto 0;
    font-size:14px;
    font-weight:400;
    color:rgba(255,255,255,1);
    text-align: center;
    &.disabled{
      background:#EFF1FA;
      color: #AFB0BD
    }
  }
}