$highFontColor: rgba(87, 194, 142, 1);
$defaultFontColor: #38395b;
$grayFontColor: rgba(56, 57, 91, 0.6);
$titleFontColor: rgba(56, 57, 91, 1);
$cardMargin: 30px 20px;
$cardPadding: 20px;
$cardRadius: 10px;
$mainBtnBg: linear-gradient(to right, rgba(102, 107, 232, 1), rgba(70, 24, 170, 1));

.detail {
  position: relative;
  color: $defaultFontColor;
  font-size: 13px;
  line-height: 1.6;
  background-color: #fdf1dd;
  height: 100vh;
  -webkit-overflow-scrolling: touch;
  overflow-y: scroll;
}
@mixin carouselPosi {
  height: 28px;
  width: 100%;
  position: absolute;
  z-index: 10;
}
.carouselBack {
  @include carouselPosi();
  opacity: 0.12;
}
.carousel {
  @include carouselPosi();
  overflow: hidden;
  display: flex;
  img {
    width: 17px;
    height: 16px;
    margin: 6px;
    margin-left: 21px;
  }
}
.bannerListBox {
  overflow: hidden;
  width: 330px;
  position: absolute;
  height: 28px;
  top: 0;
  right: 0;
}
.bannerList {
  position: absolute;
  display: flex;
  overflow: hidden;
  flex-wrap: nowrap;
  > div {
    display: flex;
    align-items: center;
  }
  .bannerTips {
    margin-left: 3px;
    margin-right: 11px;
    font-size: 12px;
    white-space: nowrap;
    height: 28px;
    display: flex;
    align-items: center;
  }
}
.invitedCarousel {
  background-color: rgba($color: #ff8343, $alpha: 0.12);
}
.topSign {
  position: relative;
  height: 370px;
  background-size: 100% 100%;
}
.rule {
  position: absolute;
  right: 0;
  top: 36px;
  padding: 4px 7px 3px 10px;
  background-color: #ff8343;
  color: #fff;
  font-size: 12px;
  border-top-left-radius: 100px;
  border-bottom-left-radius: 100px;
}
.rankingBox {
  padding: 17px 20px;
}
.middleInfo {
  position: relative;
  border-radius: 10px;
  background-color: #fff;
  height: 104px;
  box-shadow: 0 2px 15px rgba($color: #f8d69c, $alpha: 0.65);
  padding-top: 40px;
}
.userInfo {
  position: absolute;
  width: 54px;
  height: 76px;
  top: -22px;
  left: 50%;
  transform: translate(-50%, 0);
}
.avatar {
  width: 50px;
  height: 50px;
  border: 2px #ffbf93 solid;
  border-radius: 50%;
  box-sizing: content-box;
  overflow: hidden;
  box-shadow: 0 2px 7px 0 rgba($color: #f2e4ca, $alpha: 0.76);
  img {
    width: 100%;
    height: 100%;
  }
}
.name {
  display: flex;
  justify-content: center;
  font-size: 14px;
  padding: 2px;
  flex-wrap: nowrap;
  white-space: nowrap;
}
.rewardInfo {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.infoBox {
  width: 167px;
  height: 104px;
  padding-left: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.line {
  width: 1px;
  height: 36px;
  background-color: #fdebc9;
}
.infoNum {
  display: flex;
  font-size: 32px;
  font-weight: bold;
  height: 37px;
  align-items: center;
  justify-content: center;
  font-family: DINAlternate-Bold;
  letter-spacing: 2px;
  div {
    display: flex;
    justify-content: center;
    align-items: baseline;
    span {
      font-size: 16px;
    }
  }
}

.infoText {
  color: $grayFontColor;
  text-align: center;
}
.rankingImgBox {
  margin-top: 19px;
  padding: 10px;
}
.rankings {
  border-radius: 10px;
  overflow: hidden;
}

.header {
  display: flex;
  justify-content: space-around;
  background-color: #ffbe91;
  padding: 11px 10px 8px 10px;
  color: #fff;
}
.headerRanking {
  width: 39px;
  text-align: center;
}
.headerAvatar {
  width: 55px;
  text-align: center;
}
.headerPhone {
  width: 100px;
  text-align: center;
}
.rankingBody {
  background-color: #fff;
}
.rankingPad {
  height: 14px;
}
.rankingFirstPad {
  height: 14px;
  background-color: #eff1fb;
}
@mixin row {
  height: 49px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 30px;
  padding-right: 35px;
  > div:nth-of-type(1) {
    width: 15px;
    text-align: center;
  }
  > div:nth-of-type(4) {
    width: 20px;
    text-align: center;
  }
}
.rankingRow {
  @include row();
  > div:nth-of-type(3) {
    width: 80px;
    text-align: center;
  }
}
.userRow {
  @include row();
  background-color: #eff1fb;
  > div:nth-of-type(1) {
    display: flex;
    justify-content: center;
    white-space: nowrap;
  }
  > div:nth-of-type(3) {
    width: 80px;
    text-align: center;
  }
}
.rankingAvatar {
  position: relative;
  width: 30px;
  height: 30px;
  .img {
    border-radius: 50%;
    width: 100%;
    height: 100%;
  }
  .caps {
    position: absolute;
    width: 26px;
    height: 26px;
    top: -14px;
    right: -11px;
    padding: 4px 3px;
    box-sizing: border-box;
    img {
      width: 100%;
      height: 100%;
    }
  }
}

.divLine {
  height: 1px;
  background-color: rgba($color: #38395b, $alpha: 0.15);
  margin: 0 19px 0 14px;
}

.loadMore {
  width: 80px;
  margin: 19px auto 50px auto;
  display: flex;
  font-size: 14px;
  align-items: center;
  justify-content: center;
}

.btn {
  position: fixed;
  bottom: 0;
  width: 335px;
  height: 46px;
  border-radius: 25.5px;
  font-family: '黑体';
  font-weight: bolder;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 17px;
  color: #fff;
  background-image: linear-gradient(to right, #ff8a47, #ff5f33);
  box-shadow: 0 2px 8px 0 rgba($color: #db4a20, $alpha: 0.4); 
}
.pdb{
  height: 63px;
}
.sharebox {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  img {
    position: absolute;
    width: 100%;
    top: 20px;
    right: 0;
  }
}
.inviteBox {
  padding: 0 20px;
  background-color: #fce3b6;
  height: 100vh;
}
.titleImg {
  margin: 22px 0;
}
.recoding {
  background-color: #fff;
  border-radius: 10px;
  height: 86px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 0 17px;
  margin-bottom: 10px;
}
.divLine1 {
  height: 0.5px;
  background-color: rgba($color: #38395b, $alpha: 0.15);
}
.recodeRow1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 52px;
  color: #38395b;
  div {
    display: flex;
    align-items: center;
  }
  .invitedName {
    margin-left: 10px;
  }
}
.recodeRow2 {
  display: flex;
  align-items: center;
  font-size: 12px;
  color: rgba($color: #38395b, $alpha: 0.6);
  height: 33px;
}
.emptyBox {
  padding: 37px;
  div {
    font-size: 16px;
    text-align: center;
  }
}
