@import "../../style.scss";
.dnaBlock {
  color: #60617c;
  > div:nth-of-type(1) {
    display: flex;
    padding: 8px 8px;
    font-size: 20px;
    line-height: 30px;
    align-items: flex-start;
    color: #38395b;
    line-height: 30px;
    font-weight: 600;
    > div {
      margin-top: 7px;
    }
    > img {
      width: 44px;
      height: 44px;
      margin-right: 4px;
    }
  }
  > div:nth-of-type(2) {
    position: relative;
    > div:nth-of-type(1) {
      > div:nth-of-type(1) {
        margin: 0 15px !important;
      }
    }
  }
}
.dna {
  > div:nth-of-type(1) {
    @include divLine();
    margin: 0;
  }
  > div:nth-of-type(2) {
    display: flex;
    padding: 15px;
    font-size: 16px;
    justify-content: space-between;
    align-items: center;
    line-height: 22px;
    > div {
      p:nth-of-type(1) {
        color: #38395b;
        margin-bottom: 4px;
        font-weight: 600;
      }
      p:nth-of-type(2) {
        font-size: 15px;
        line-height: 15px;
        color: #60617c;
      }
    }
    > img {
      width: 10px;
      height: 6px;
    }
  }
  > div:nth-of-type(3) {
    overflow: hidden;
  }
}
.dnaWithTitle {
  > div:nth-of-type(1) {
    display: flex;
    padding: 17px;
    padding-bottom: 10px;
    font-size: 16px;
    align-items: center;
    line-height: 17px;
    color: #38395b;
    font-weight: 600;
  }
  > div:nth-of-type(2) {
    font-size: 15px;
    line-height: 26px;
    padding: 0 17px 20px 17px;
    text-align: justify;
    text-justify: distribute-all-lines;
  }
}
@mixin dnaTitle {
  padding: 0 8px;
  color: #38395b;
  font-size: 13px;
  line-height: 13px;
  font-weight: 600;
}

.dnaChart {
  background-color: #f8f8f8;
  margin: 0 17px;
  padding: 20px 14px;
  border-radius: 9px;
  > div:nth-of-type(1) {
    padding: 10px 0;
    > p {
      @include dnaTitle();
      /*ios，阻止默认长按选中文本*/
      -webkit-touch-callout: none;
      /*安卓*/
      -webkit-user-select: none;
      user-select: none;
    }
    > img {
      margin: 10px 6px 20px;
      width: 261px;
    }
  }
  > div:nth-of-type(3) {
    padding: 30px 0 10px;
    > p {
      @include dnaTitle();
      margin-bottom: 8px;
    }
    > div {
      width: 72.8vw;
      display: flex;
      justify-content: space-between;
    }
  }
}
.dnaChain {
  display: inline-block;
  flex-shrink: 1;
  position: relative;
  margin: 5px 0;
  margin-right: 20px;
  width: 21.8666666666667vw;
  > div {
    display: flex;
    height: 32.5px;
  }
  // > div:nth-of-type(1) {
  //   width: 21.8666666666667vw;
  //   height: 33px;
  //   background-color: #6567e5;
  // }
  // > div:nth-of-type(2) {
  //   position: absolute;
  //   top: 0;
  //   left: 0;
  //   width: 50%;
  //   background-color: #cbcccb;
  // }
  > img {
    position: absolute;
    top: 0;
    left: 0;
    width: 21.8666666666667vw;
    height: 33px;
    /*ios，阻止默认长按选中文本*/
    -webkit-touch-callout: none;
    /*安卓*/
    -webkit-user-select: none;
    user-select: none;
    pointer-events: none;
  }
}
.dnaPie {
  > p {
    @include dnaTitle();
  }
  > div {
    display: flex;
    justify-content: space-between;
    > div:nth-of-type(1) {
      width: 22.4vw;
      height: 22.4vw;
      margin-top: 13px;
    }
    > div:nth-of-type(2) {
      margin-top: 18px;
      > div {
        margin-bottom: 5px;
      }
    }
  }
}
.peanText {
  @include peanText();
  > div:nth-of-type(2) {
    > div {
      > div:nth-of-type(1) {
        background-color: rgba($color: #b7b9b7, $alpha: 1);
      }
      > div:nth-of-type(2) {
        background-color: #b7b9b7;
      }
      > p {
        color: #60617c;
      }
    }
  }
}
